{% if tournament.getIsWinPrizeDistributed() %}
    <span class="text-default">{{ 'Турнир окончен'|trans }}</span>
{% elseif tournament.getIsResultsReady() %}
    <span class="text-info">{{ 'Турнир окончен: распределение призовых'|trans }}</span>
{% elseif tournament.getIsOver() %}
    <span class="text-info">{{ 'Турнир окончен: распределение победителей'|trans }}</span>
{% elseif tournament.getIsStarted() == true and tournament.getIsOver() == false %}
    <span class="text-info">{{ 'Турнир идёт'|trans }}</span>
{% elseif tournament.getIsStarted() == false and tournament.getIsOver() == false %}
    <span class="text-success">{{ 'Турнир ещё не начался'|trans }}</span>
{% endif %}