{% spaceless %}
{% if 'now'|date('d.m.Y') == tournament.getStartDatetime().format('d.m.Y') %}
    <span class="text-success">{{ 'сегодня'|trans }}</span>
{% elseif '+1 day'|date('d.m.Y') == tournament.getStartDatetime().format('d.m.Y') %}
    <span class="text-success">{{ 'завтра'|trans }}</span>
{% else %}
    {{ tournament.getStartDatetime().format('d.m.Y') }}
{% endif %}
{{ 'в'|trans }} {{ tournament.getStartDatetime().format('H:i') }}
{% endspaceless %}