{% if leaguesByIcons|length == 0 %}
Все лиги
{% else %}
    {% for iconFile, leagues in leaguesByIcons %}        
        <span class="league_name_with_flag">
            <img class='sm_country_flag' src='/img/leagues/icons/sm/{{ iconFile }}' alt='{{ iconFile }}' />              
            <span class="hidden-xs">{% for league in leagues %}{{ league }}{% if loop.last == false %}, {% endif %}{% endfor %}</span>
        </span>
    {% endfor %}
{% endif %}