<h1>{{ include('AppBundle:common/tournament:title.html.twig', { tournament: tournament.getTournament() }) }}</h1>
<div class="tournament_info">
    <div class="tournament_info_data">
        <strong>{{ 'Формат'|trans }}:</strong>
        {{ tournament.getTournament().getFormat().getTitle()|trans }}
    </div>
    <div class="tournament_info_data">
        <strong>{{ 'Начало'|trans }}:</strong>
        <span class="glyphicon glyphicon-calendar"></span> 
        {% if 'now'|date('d.m.Y') == tournament.getTournament().getStartDatetime().format('d.m.Y') %}
            <span class="text-success">{{ 'сегодня'|trans }}</span>
        {% elseif '+1 day'|date('d.m.Y') == tournament.getTournament().getStartDatetime().format('d.m.Y') %}
            <span class="text-success">{{ 'завтра'|trans }}</span>
        {% else %}
            {{ tournament.getTournament().getStartDatetime().format('d.m.Y') }}
        {% endif %}
        <span class="glyphicon glyphicon-time"></span> {{ tournament.getTournament().getStartDatetime().format('H:i') }}
    </div>
    {% if(tournament.getTournament().getIsOver() == true) %}
    <div class="tournament_info_data">
        <strong>{{ 'Конец'|trans }}:</strong>
        <span class="glyphicon glyphicon-calendar"></span>                 
            {{ tournament.getTournament().getEndDatetime().format('d.m.Y') }}                    
        <span class="glyphicon glyphicon-time"></span> {{ tournament.getTournament().getEndDatetime().format('H:i') }}
    </div>
    {% endif %}
    <div class="tournament_info_data">
    <strong>Статус:</strong> {{ include('AppBundle:common/tournament:status.html.twig', { tournament: tournament.getTournament() }) }}
    </div>
</div>
<div class="tournament_info">
    <div class="tournament_info_data">
        <strong>География:</strong> <span class="geography_list">{{ render( controller('AppBundle:Tournaments:tournamentLeagues', { _locale: app.request.getLocale(), tournament_id: tournament.getTournament().getId() }) ) }}</span>
    </div>
</div>