{% if userInTournament %}
    {% if tournament.getTournament().getIsWinprizeDistributed() == false %}
        <div class="alert alert-success request-alert text-center" role="alert">
            <span class="glyphicon glyphicon-ok"></span> <b>{{ 'Вы участвуете в данном турнире!'|trans }}</b>
        </div>
    {% endif %}
{% else %}
    {% if tournament.getTournament().getIsOpen() and tournamentIsAccessibleForUser %}
        {% if tournaments_helper.isTournamentUsersReachMaxCount(tournament) %}
        <div class="alert alert-warning request-alert text-center" role="alert">
            <span class="glyphicon glyphicon-check"></span> {{ 'Количество участников в данном турнире достигло максимума!'|trans }}
        </div>
        {% elseif tournament.getTournament().getWithConfirmation() and tournaments_helper.requestWasSent(tournament, app.user) %}
        <div class="alert alert-info request-alert text-center" role="alert">
            <span class="glyphicon glyphicon-time"></span> {{ 'Вы отправили заявку на туринир! После её одобрения Вы сможете сделать ставки.'|trans }}
        </div>
        {% elseif tournaments_helper.isUserHaveMoneyForRequest(tournament, app.user) == false %}
        <div class="alert alert-danger request-alert text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'На вашем счету недостаточно средств для подачи заявки на турнир!'|trans }}
            <br />
            <br />
            <a href="{{ path('personal/refill/qiwi') }}" class="btn btn-primary">Приобрести золотые монеты</a>
        </div>
        {% else %}
            {% if tournament.getTournament().getWithConfirmation() %}
            <a href="{{ path('tournament/request', {'tournament_id': tournament.getTournament().getId()}) }}" class="btn btn-block btn-default">            
                <span class="glyphicon glyphicon-share-alt"></span> {{ 'Подать заявку на турнир'|trans }}
            </a>
            {% else %}
            <a href="{{ path('tournament/request', {'tournament_id': tournament.getTournament().getId()}) }}" class="btn btn-block btn-success">            
                <span class="glyphicon glyphicon-share-alt"></span> {{ 'Участвовать в турнире'|trans }}            
            </a>        
            {% endif %}
        <br/ >
        {% endif %}

    {% endif %}            
{% endif %}