{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'Управление счётом'|trans }}{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('refillSuccess') %}
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('refillFail') %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'Операция по покупке золотых монет завершилась неудачей. Попробуйте повторить операцию чуть позже.'|trans }}
</div>
{% endfor %}

<div class="row" ng-controller="PersonalBalanceCtrl">

    <div class="col-md-6">
        <h2 class="page-header">{{ 'Управление счётом'|trans}}</h2>

        <div class="row">
            <div class="col-xs-12">
                <a class="thumbnail pointer" ng-click="balance.openRefillModal()">
                  <span class="icon">
                    <img src="/img/wallet.png" />
                  </span>
                  <span class="heading">{{ 'Приобрести золотые монеты'|trans }}</span>
                  <span class="comment">
                    {{ 'Комиссия за покупку золотых монет: 0%'|trans }} <br />
                    {{ 'Возможные варианты оплаты:'|trans }} <img src="/img/qiwi_16.png" alt="{{ 'QIWI-кошелёк'|trans }}" title="{{ 'QIWI-кошелёк'|trans }}" />
                  </span>
                </a>
                <script type="text/ng-template" id="refillQiwiModalTmpl.html">
                {{ render(controller(
                    'AppBundle:Refill:qiwi',
                    { _locale: app.request.get('_locale') }
                )) }}
                </script>
            </div>
            <div class="col-xs-12">
                <a id="cashoutBtn" href="{{ path('personal/cashout') }}" class="thumbnail" data-modaltitle="{{ 'Выберите вариант обмена золотых монет'|trans }}">
                    <span class="icon">
                        <img src="/img/coins-exchange.png" />
                    </span>
                    <span class="heading">{{ 'Обменять золотые монеты'|trans }}</span>
                    <span class="comment">
                        {{ 'Комиссия за обмен золотых монет: от %min_commission_percent%%'|trans({ '%min_commission_percent%': cashoutMinPercent }) }} <br />
                        {{ 'Возможные варианты вывода:'|trans }} <!--<img src="/img/qiwi_16.png" alt="{{ 'QIWI-кошелёк' }}" title="{{ 'QIWI-кошелёк'|trans }}" />--> <img src="/img/email_16.png" alt="{{ 'По заявке' }}" title="{{ 'По заявке'|trans }}" />
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-controller="BillingLogCtrl">
        <h2 class="page-header">{{ 'История операций'|trans}}</h2>

        <div class="alert alert-info" role="alert" ng-hide="billing.log.logItems.length" ng-cloak>
          <i class="glyphicon glyphicon-info-sign"></i> {{ 'Операций не найдено.'|trans }}
        </div>
        <div class="table-responsive" ng-show="billing.log.logItems.length" ng-cloak>
          <table class="table table-hover">
            <thead>
              <tr>
                 <th class="cell-date text-center">{{ 'Дата/Время'|trans }}</th>
                 <th class="text-center">{{ 'Действие'|trans }}</th>
                 <!--<th class="text-center">{{ 'Получатель'|trans }}</th>-->
                 <th class="text-center">{{ 'Сумма'|trans }}</th>
                 <th class="text-center">{{ 'Статус'|trans }}</th>
                 <!--<th>{{ 'Комментарий'|trans }}</th>-->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in billing.log.logItems">
                 <td class="text-center">
                      {{ '{{item.operationDatetime | date: "dd.MM.yy HH:mm"}}' }}
                 </td>
                 <td class="text-center">
                      <strong>
                        <billinglogaction
                          action="item.action"
                          text-deposit="{{ 'ЗАЧИСЛЕНИЕ'|trans }}"
                          text-withdraw="{{ 'СПИСАНИЕ'|trans }}"
                          text-transfer="{{ 'ПЕРЕВОД'|trans }}"
                          text-reservation="{{ 'РЕЗЕРВИРОВАНИЕ'|trans }}"
                          text-reservation-return="{{ 'ВОЗВРАТ'|trans }}"
                          text-reservation-off="{{ 'СНЯТИЕ ИЗ РЕЗЕРВА'|trans }}"
                          text-charge-win="{{ 'ВЫИГРЫШ'|trans }}"
                          text-charge-promo-win="{{ 'ПРОМО-ВЫИГРЫШ'|trans }}"
                          text-cashout="{{ 'ВЫВОД'|trans }}"
                          text-referral-charge="{{ 'РЕФЕРАЛЬНОЕ ВОЗНАГРАЖДЕНИЕ'|trans }}"
                        >
                        </billinglogaction>
                      </strong>
                 </td>
                 <!--<td class="text-center">
                      {{ '{{item.userRecipient.nick}}' }}
                 </td>-->
                 <td class="text-right sm-col">
                      {{ '{{item.amountWithComission}}' }} {{ '{{item.currency}}' }}
                 </td>
                 <td class="text-center">
                  <strong>
                    <billinglogstatus
                      status="item.status"
                      text-status-ok="{{ 'Выполнено'|trans }}"
                      text-status-in-progress="{{ 'В обработке'|trans }}"
                      text-status-canceled="{{ 'Отменено'|trans }}"
                    >
                    </billinglogstatus>
                  </strong>
                 </td>
                 <!--<td>{{ '{{item.note}}' }}</td>-->
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-right">
          <uib-pagination
            total-items="billing.log.totalItems"
            ng-model="billing.log.currentPage"
            items-per-page="billing.log.pageSize"
            direction-links="false"
            num-pages="billing.log.totalPages"
            ng-show="billing.log.totalPages > 1"
            ng-change="billing.log.loadPage(billing.log.currentPage)">
            </uib-pagination>
        </div>



    </div>

</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/personal/balance.css'
        output='/css/personal/balance.css'
    %}
    <link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block angularequire %}
    {{ parent() }}
    'BillingService',
    'BillingLogActionDirective',
    'BillingLogStatusDirective',
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/app/services/BillingService.js'
        '@AppBundle/Resources/public/js/app/directives/Billing/LogActionDirective.js'
        '@AppBundle/Resources/public/js/app/directives/Billing/LogStatusDirective.js'
        '@AppBundle/Resources/public/js/app/controllers/Billing/Refill/QiwiController.js'
        '@AppBundle/Resources/public/js/app/controllers/Personal/BalanceController.js'
        '@AppBundle/Resources/public/js/app/controllers/Billing/LogController.js'
      output='/js/personal/balance.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}