{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'Управление счётом: Обмен золотых монет'|trans }}{% endblock %}

{% block body %}

<h1 class="page-header">{{ 'Обмен золотых монет'|trans }}</h1>

<div class="row">

  <div class="col-xs-12 col-sm-3">
    <div class="thumbnail">
      <img src="/img/email_128.png" alt="{{ 'По заявке'|trans }}" />
      <div class="caption">
        <p class="text-center text-muted comment">{{ 'Заявка на обмен призовых золотых монет и вывод на банковскую карту'|trans }}</p>
        <p class="text-center"><a href="{{ path('personal/cashout/request') }}" class="btn btn-primary" role="button">{{ 'Оформить заявку'|trans }}</a></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}