{% if tournaments|length > 0 %}
<h3>{{ 'Оконченные турниры'|trans }}</h3>
<div class="table-responsive">
    <table class="table table-striped">        
        <caption>
        {{ 'Всего найдено: %total%'|trans({ '%total%' : totalCount }) }}
        </caption>
        <thead>
            <tr>
               <td class="text-center">#</td>
               <td>{{ 'Название'|trans }}</td>
               <td>{{ 'Тип'|trans }}</td>               
               <td class="text-center">{{ 'Начало'|trans }}</td>
               <td class="text-center">{{ 'Окончание'|trans }}</td>
               <td class="text-center">{{ 'Занятое место'|trans }}</td>
               <td class="text-center">{{ 'Выигрыш'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td class="cell-id text-center">{{ tournament.getId() }}</td>
                <td><a href="{{ path('tournament/view', { tournament_id: tournament.getId() }) }}">{{ include('AppBundle:common/tournament:title.html.twig', { tournament: tournament }) }}</a></td>
                <td>{{ tournament.getFormat().getTitle()|trans }}</td>
                <td class="cell-number text-center">
                    <span class="glyphicon glyphicon-calendar"></span>                         
                        {{ tournament.getStartDatetime().format('d.m.Y') }}                        
                    <br />
                    <span class="glyphicon glyphicon-time"></span> {{ tournament.getStartDatetime().format('H:i') }}
                </td>
                <td class="cell-number text-center">
                    <span class="glyphicon glyphicon-calendar"></span>                         
                        {{ tournament.getEndDatetime().format('d.m.Y') }}                        
                    <br />
                    <span class="glyphicon glyphicon-time"></span> {{ tournament.getEndDatetime().format('H:i') }}
                </td>
                <td class="cell-number text-center">
                    {% if tournament.getResults()|length > 0 %}
                        {{ tournament.getResults()[0].getPlace() }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td class="cell-number {% if tournament.getResults()|length > 0 and tournament.getResults()[0].getSum() > 0 %}text-right{% else %}text-center{% endif %}">
                    {% if tournament.getResults()|length > 0 and tournament.getResults()[0].getSum() > 0 %}
                        <b>{{ include('AppBundle:common:money.html.twig', { money: tournament.getResults()[0].getSum() }) }}</b>                        
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}        
        </tbody>    
    </table>    
</div>
{% if totalPages > 1 %}
<nav class="text-right">
  <ul class="pagination pagination-sm">
    {% for pageNum in range(1, totalPages) %}    
    <li{% if pageNum == currentPage %} class="active"{% endif %}>        
        <a href="{{ path('personal/tournaments/finished', { page: pageNum }) }}">{{ pageNum }}</a>
    </li>
    {% endfor %}    
  </ul>
</nav>
{% endif %}
{% endif %}