{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/partner' %}

{% block title %}{{ 'Партнёрская программа'|trans }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-6">
    <h2 class="page-header">{{ 'Партнёрская программа'|trans }}</h2>
    <p>{{ 'Наша партнёрская программа позволяет любому пользователю получать дополнительные деньги на игровой счет посредством привлечения на сайт друзей, знакомых.'|trans }}</p>
    <p>{{ 'Участником программы может стать любой пользователь зарегистрированный на сайте.'|trans }}</p>
    <p>{{ 'Ниже Вы можете скопировать свою личную реферальную ссылку, переходя по которой новые пользователи становятся вашим рефералами.'|trans }}</p>
    <p>{{ 'За каждого такого пользователя купившего более 2 золотых монет Вы получаете 1 золотую монету на свой игровой счет.'|trans }}</p>
    <div class="form">
      <div class="form-group">
        <label for="refUrl">{{ 'Ваша реферальная ссылка'|trans }}</label>
        <input class="form-control" type="text" value="{{ referralRegistrationUrl }}" onclick="select()" />
      </div>
    </div>
    <p>{{ 'Для вебмастеров, администраторов тематических групп и любых других лиц занимающихся массовым привлечением особые условия.'|trans }}</p>
    <p>{{ 'Обращайтесь на'|trans }} <a href="mailto:mail@foot-battle.com">mail@foot-battle.com</a></p>
  </div>
  <div id="partnerChargesLog" class="col-sm-6">
    <h2 class="page-header">{{ 'История реферальных вознаграждений'|trans }}</h2>
    {{ render( controller('AppBundle:Personal:partnerChargesLog', {page: 1}) ) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
  '@AppBundle/Resources/public/js/models/personal/partner/chargeslog.js'
  '@AppBundle/Resources/public/js/controllers/personal/partner/chargeslog.js'
  output='/js/personal/partner.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}