{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/profile' %}

{% block title %}{{ 'Профиль'|trans }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Профиль'|trans }}</h1>

{{ form_start(
    form,
    {
        attr: {
            'ng-controller': 'PersonalProfileCtrl',
            'ng-cloak': ''
        }
    })
}}

{% for flashMessage in app.session.flashbag.get('profile_saved') %}
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok-circle"></span> {{ 'Профиль успешно сохранён!'|trans }}
</div>
{% endfor %}

<div class="row">

    <div class="col-md-4">
        <label class="control-label required" for="user_avatar_file">{{ 'Аватар'|trans }}</label>
        <br />
        {% if user.getAvatar() is not null %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {{ include('AppBundle:common/user:avatar.html.twig', {user: user}) }}
                    </div>
                </div>
                <div class="col-sm-8">
                    {{ form_row(form.avatar_file, { label: false, attr: { accept: "image/*" } }) }}
                    <span class="help-text">{{ 'Допустимые форматы: jpg, gif, png'|trans }}</span>
                </div>
            </div>
            {{ form_row(form.avatar_delete, { label: 'Удалить изображение'|trans }) }}
        {% else %}
            {{ form_row(form.avatar_file, { label: false, attr: { accept: "image/*" } }) }}
            <span class="help-text">{{ 'Допустимые форматы: jpg, gif, png'|trans }}</span>
            <div class="hidden">
            {{ form_row(form.avatar_delete, { label: 'Удалить изображение'|trans }) }}
            </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="alert alert-danger" ng-if="profileForm.usernameError != null">
            <i class="glyphicon glyphicon-exclamation-sign"></i> {{ '{{profileForm.usernameError}}' }}
        </div>
        {{ form_row(
            form.nick,
            {
                label: 'Никнейм'|trans,
                help_text: 'Это псевдоним, который будет отображаться на сайте и виден другим пользователям.'|trans,
                attr: {
                    'ng-model': 'profileForm.fields.username',
                    'ng-blur' : 'profileForm.checkUsername('~app.user.getId()~')',
                    'ng-trim' : 'true',
                    'init-field-value': ''
                },
                row_attr: {
                    'ng-class': "{ 'has-error': profileForm.usernameError != null, 'has-success': profileForm.usernameSuccess }"
                }
            })
        }}
        {{ form_row(form.first_name, { label: 'Имя'|trans }) }}
        {{ form_row(form.last_name, { label: 'Фамилия'|trans }) }}
        {{ form_row(form.second_name, { label: 'Отчество'|trans }) }}
    </div>
    <div class="col-md-4">
    {{ form_row(form.country, { label: 'Страна'|trans }) }}
    {{ form_row(form.city, { label: 'Город'|trans }) }}
    {{ form_row(form.birthdate, { label: 'Дата рождения'|trans }) }}
    </div>

</div>
<div class="pull-right">
    {{ form_row(form.save, { label: 'Сохранить'|trans }) }}
</div>

{{ form_end(form) }}

{% endblock %}

{% block angularequire %}
{{ parent() }}
'FieldValueDirective',
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@AppBundle/Resources/public/js/app/directives/FieldValueDirective.js'
  '@AppBundle/Resources/public/js/app/controllers/Personal/ProfileController.js'
  output='/js/personal/profile.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}