{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/settings' %}

{% block title %}{{ 'Настройки'|trans }}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-5">
        <h1 class="page-header">{{ 'Смена пароля'|trans }}</h1>
                
        {% for flashMessage in app.session.flashbag.get('password_changed') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-ok-circle"></span> {{ 'Пароль успешно изменён!'|trans }}
        </div>                    
        {% endfor %}

        {{ form_start(changePasswordForm) }}

        {{ form_row(changePasswordForm.password.password, { label: 'Пароль'|trans }) }}
        {{ form_row(changePasswordForm.password.confirm, { label: 'Подтверждение пароля'|trans }) }}

        {{ form_row(changePasswordForm.change_password, { label: 'Сменить'|trans }) }}

        {{ form_end(changePasswordForm) }}
    </div>
    <div class="col-md-5 col-md-offset-2">
        
        <h1 class="page-header">{{ 'Смена адреса электронной почты'|trans }}</h1>

        {% for flashMessage in app.session.flashbag.get('email_changed') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-ok-circle"></span> {{ 'Адрес электронной почты успешно изменён!'|trans }}
        </div>                    
        {% endfor %}

        {{ form_start(changeEmailForm) }}

        {{ form_row(changeEmailForm.email, { label: 'Адрес e-mail'|trans }) }}

        {{ form_row(changeEmailForm.change, { label: 'Сменить'|trans }) }}

        {{ form_end(changeEmailForm) }}
    </div>

</div>

{% endblock %}