{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeMainNav = 'tournaments/search' %}

{% block body %}
<h2 class="page-header">{{ 'Мои турниры'|trans }}</h2>
<div ng-controller="PersonalTournamentsCtrl" ng-cloak>
    {{ include(
        'AppBundle:frontend/tournaments:table.html.twig',
        {
            'scopeObject': 'curTournaments'
        }
    ) }}
</div>
{% endblock %}

{% block angularequire %}
  {{ parent() }}
  'UserTournamentsService',
  'TournamentStatusDirective',
  'TournamentViewButtonDirective',
{% endblock %}

{% block javascripts %}
{% javascripts
  '@AppBundle/Resources/public/js/app/directives/TournamentStatusDirective.js'
  '@AppBundle/Resources/public/js/app/directives/TournamentViewButtonDirective.js'
  '@AppBundle/Resources/public/js/app/services/UserTournamentsService.js'
  '@AppBundle/Resources/public/js/app/controllers/Personal/TournamentsController.js'
  output='/js/personal/tournaments.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}