{% if logs|length > 0 %}
<div class="table-responsive">
    <table class="table table-hover">        
        <thead>
            <tr>                       
               <td class="sm-col">{{ 'Инициатор'|trans }}</td>                                              
               <td class="text-center">{{ 'Сумма'|trans }}</td>
               <td class="cell-date text-center">{{ 'Дата/Время'|trans }}</td>               
               <td>{{ 'Комментарий'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for logItem in logs %}
                {% if logItem.getAction() == 'DEPOSIT' %}
                  {% set actionText = "ЗАЧИСЛЕНИЕ" %}
                  {% set sumTextClass = "text-success" %}                          
                {% elseif logItem.getAction() == 'WITHDRAW' %}
                  {% set actionText = "СПИСАНИЕ" %}
                  {% set sumTextClass = "text-danger" %}                              
                {% elseif logItem.getAction() == 'RESERVATION' %}
                  {% set actionText = "РЕЗЕРВИРОВАНИЕ" %}
                  {% set sumTextClass = "text-info" %}                          
                {% endif %}
            <tr>                       
               <td>{{ include('AppBundle:common/user:user.html.twig', { user: logItem.getUserFrom() }) }}</td>                                              
               <td class="text-right sm-col {{ sumTextClass }}"><b title="{{ actionText }}">
                {{ include('AppBundle:common:money.html.twig', { money: logItem.getSum() }) }}                        
                </b></td>
               <td class="text-center">
                <span class="glyphicon glyphicon-calendar"></span>
                {{ logItem.getDatetime().format('d.m.Y') }}
                <br />
                <span class="glyphicon glyphicon-time"></span>
                {{ logItem.getDatetime().format('H:i') }}
               </td>
               <td>{{ logItem.getNote() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if totalPages > 1%}
<nav class="text-right" id="transactions_log_pagination">
  <ul class="pagination pagination-sm">            
    <li{% if current_page == 1 %} class="disabled"{% endif %}>
        {% if current_page == 1 %}
        <span>&laquo;</span>
        {% else %}
        <a href="{{ path('personal/transactions_log', { page: (current_page - 1) }) }}">&laquo;</a>
        {% endif %}
    </li>
    {% for page in 1..totalPages %}
    <li{% if page == current_page %} class="active"{% endif %}><a href="{{ path('personal/transactions_log', { page: page }) }}">{{page}}</a></li>
    {% endfor %}
    <li{% if current_page == totalPages %} class="disabled"{% endif %}>
    {% if current_page == totalPages %}
    <span>&raquo;</span>
    {% else %}
    <a href="{{ path('personal/transactions_log', { page: (current_page + 1) }) }}">&raquo;</a>
    {% endif %}
    </li>
  </ul>
</nav>
{% endif %}

{% else %}
    <p>Нет записей.</p>
{% endif %}