{% if leftTeamLastMatches is not empty or rightTeamLastMatches is not empty  %}
<p class="text-info"><b>{{ 'Последние результаты команд'|trans }}</b></p>
<div class="row">

    <div class="col-sm-6">
        <table class="table">    
            <thead>
                <td colspan="5" class="col-md-6 text-center">{{ leftTeam.getTitle() }}</td>                
            </thead>
            <tbody>
                {% for matchIndex, teamMatch in leftTeamLastMatches %}
                    {% set leftTeamMatch = teamMatch[0] %}
                    {% set match = leftTeamMatch %}
                    {% set isWinner = ( (match.getHomeTeam().getId() == leftTeam.getId() and match.getScoreLeft() > match.getScoreRight()) or 
                                        match.getGuestTeam().getId() == leftTeam.getId() and match.getScoreLeft() < match.getScoreRight())  %}
                    {% set isLooser = ( (match.getHomeTeam().getId() == leftTeam.getId() and match.getScoreLeft() < match.getScoreRight()) or 
                                        match.getGuestTeam().getId() == leftTeam.getId() and match.getScoreLeft() > match.getScoreRight())  %}                    
                <tr class="{% if isWinner %}bg-success{% endif %} {% if isLooser %}bg-danger{% endif %}">                    
                    <td class="col-md-1 hidden-sm">{{ include('AppBundle:common/league:icon.html.twig', { league: leftTeamMatch.getLeague() }) }}</td>
                    <td class="col-md-2">{{ leftTeamMatch.getHomeTeam().getTitle()|trans }}</td>
                    <td class="cell-id"><b>{{ leftTeamMatch.getScoreLeft() }}</b></td>
                    <td class="cell-id"><b>{{ leftTeamMatch.getScoreRight() }}</b></td>
                    <td class="col-md-2">{{ leftTeamMatch.getGuestTeam().getTitle()|trans }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col-sm-6">
        <table class="table">    
            <thead>
                <td colspan="5" class="col-md-6 text-center">{{ rightTeam.getTitle() }}</td>                
            </thead>
            <tbody>
                {% for matchIndex, teamMatch in rightTeamLastMatches %}
                    {% set rightTeamMatch = teamMatch[0] %}
                    {% set match = rightTeamMatch %}
                    {% set isWinner = ( (match.getHomeTeam().getId() == rightTeam.getId() and match.getScoreRight() < match.getScoreLeft()) or 
                                        match.getGuestTeam().getId() == rightTeam.getId() and match.getScoreRight() > match.getScoreLeft())  %}
                    {% set isLooser = ( (match.getHomeTeam().getId() == rightTeam.getId() and match.getScoreRight() > match.getScoreLeft()) or 
                                        match.getGuestTeam().getId() == rightTeam.getId() and match.getScoreRight() < match.getScoreLeft())  %}
                <tr class="{% if isWinner %}bg-success{% endif %} {% if isLooser %}bg-danger{% endif %}">                
                    <td class="col-md-1 hidden-sm">{{ include('AppBundle:common/league:icon.html.twig', { league: rightTeamMatch.getLeague() }) }}</td>
                    <td class="col-md-2">{{ rightTeamMatch.getHomeTeam().getTitle()|trans }}</td>
                    <td class="cell-id"><b>{{ rightTeamMatch.getScoreLeft() }}</b></td>
                    <td class="cell-id"><b>{{ rightTeamMatch.getScoreRight() }}</b></td>
                    <td class="col-md-2">{{ rightTeamMatch.getGuestTeam().getTitle()|trans }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% else %}
<p>{{ 'Нет данных о предыдущих играх команд.'|trans }}</p>
{% endif %}
{% if matchesBetweenTeams is not empty %}
<p class="text-info"><b>{{ 'Матчи между командами'|trans }}</b></p>
    <table class="table">        
        <tbody>
        {% for teamMatch in matchesBetweenTeams %}        
            {% set match = teamMatch[0] %}
        <tr title="{{ include('AppBundle:common/match:datetime.html.twig', { match: match })|striptags|trim }}">
            <td class="col-md-5 text-center">{{ match.getHomeTeam().getTitle()|trans }}</td>
            <td class="col-md-1 text-primary text-right">
                <b>{{ match.getScoreLeft() }}</b>
            </td>
            <td class="col-md-1 text-primary">
                <b>{{ match.getScoreRight() }}</b>
            </td>
            <td class="col-md-5 text-center">{{ match.getGuestTeam().getTitle()|trans }}</td>
        </tr>
        {% endfor%}
        </tbody>        
    </table>
{% endif %}