{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% if tournament.getTournament().getIsReady() %}
{% set activeSubpage = 'admin/tournaments/published' %}
{% else %}
{% set activeSubpage = 'admin/tournaments/draft' %}
{% endif %}

{% block title %}Редактирование турнира{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Редактирование турнира{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('step3_validation_error') %}
<div class="callout callout-danger">{{ flashMessage }}</div>                    
{% endfor %}

{{ include('AppBundle:admin/tournaments/edit/' ~ tournament.getTournament().getFormat().getInternalName() ~ ':step3.html.twig', {tournament: tournament, tournamentMatches: tournamentMatches}) }}

{% include 'AppBundle:admin/widgets:selectSingleMatchWindow.html.twig' %}

<form action="" method="POST">
{% if tournament.getTournament().getIsReady() %}
  <a href="{{ path('admin/tournaments/published') }}" class="btn btn-default">Продолжить заполнение позже</a>  
{% else %}
  <a href="{{ path('admin/tournaments/draft') }}" class="btn btn-default">Продолжить заполнение позже</a>
  <button type="submit" class="btn btn-primary" name="publish" value="publish">Опубликовать</button>
{% endif %}
</form>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var tournamentId = "{{ tournament.getTournament().getId() }}";

{% if tournament.getTournament().getIsReady() %}
var tournamentIsReady = true;
{% else %}
var tournamentIsReady = false;
{% endif %}

var addMatchURI = "{{ path('admin/tournament/matches/add') }}";
</script>
<script type="text/javascript" src="{{ '/admin/js/tournaments/' ~ tournament.getTournament().getFormat().getInternalName() ~ '/step3.js'}}"></script>
{% endblock %}