<div class="row">
    <div class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('feedback_sended') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-ok-circle"></span> {{ 'Спасибо за ваше сообщение! Мы свяжемся с вами в ближайшее время.'|trans }}
        </div>                    
        {% endfor %}
        
        {{ form_start(form) }}

        {{ form_row(form.name, { label: 'Имя'|trans }) }}
        {{ form_row(form.email, { label: 'E-mail'|trans }) }}
        {{ form_row(form.subject, { label: 'Тема'|trans }) }}
        {{ form_row(form.message, { label: 'Сообщение'|trans }) }}
        {{ form_row(form.captcha, { label: 'Введите код с картинки' } ) }}

        <div class="pull-right">
        {{ form_row(form.submit, { label: 'Отправить', attr: { class: 'btn-primary' } } ) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>