{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% set activeTopNav = 'login' %}

{% block title %}
{{ 'Восстановление пароля'|trans }}
{% endblock %}

{% block body %}
<h3>{{ 'Восстановление пароля'|trans }}</h3>

{% for flashMessage in app.session.flashbag.get('email_not_found') %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-ok-circle"></span> {{ 'Пользователь с указанным адресом эл. почты не зарегистрирован!'|trans }}
</div>                    
{% endfor %}

{{ form_start(form) }}

<div class="row">
    <div class="col-xs-4">
        {{ form_row(form.email, {label : 'E-mail'|trans }) }}                
    </div>    
</div>

{{ form_row(form.submit, {label : 'Восстановить пароль'|trans, attr: { class: 'btn-primary' } }) }}

{{ form_end(form) }}

{% endblock %}