{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
Заявка на вывод средств от пользователя {{ bill.getUser().getNick() }} [{{ bill.getUser().getId() }}]
{% endblock %}

{% block body %}
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <td>Пользователь</td>
    <td>
      <a href="{{ url('admin/users/edit', { user_id: bill.getUser().getId() }) }}">{{ bill.getUser().getNick() }} [ ID: {{ bill.getUser().getId() }} ]</a>
    </td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td>
      <a href="mailto:{{ bill.getUser().getEmail() }}">{{ bill.getUser().getEmail() }}</a>
    </td>
  </tr>
  <tr>
    <td>Дата/Время заявки:</td>
    <td>{{ bill.getOperationDatetime().format("d.m.Y H:i:s") }}</td>
  </tr>
  <tr>
    <td>Количество золотых монет для обмена:</td>
    <td>{{ cashoutRequest.getAmount() }}</td>
  </tr>
  <tr>
    <td>Сумма:</td>
    <td>{{ bill.getAmount() }} {{ bill.getCurrency() }}</td>
  </tr>
  <tr>
    <td>Коммиссия:</td>
    <td>{{ bill.getCommissionPercent() }}%</td>
  </tr>
  <tr>
    <td>Сумма (с учётом комиссии):</td>
    <td><b>{{ bill.getAmountWithCommision() }} {{ bill.getCurrency() }}</b></td>
  </tr>
  <tr>
    <td>Номер банквоской карты:</td>
    <td>{{ cashoutRequest.getCardNumber() }}</td>
  </tr>
  <tr>
    <td>Наименование банка:</td>
    <td>{{ cashoutRequest.getBank() }}</td>
  </tr>
  <tr>
    <td>ФИО:</td>
    <td>{{ cashoutRequest.getFio() }}</td>
  </tr>
  <tr>
    <td>Дата рождения:</td>
    <td>{{ cashoutRequest.getBirthdate().format("d.m.Y") }}</td>
  </tr>
</table>
<br />
<p><b>ВНИМАНИЕ:</b> После того как деньги будут переведены на счёт пользователя необходимо <a href="{{ url('admin/users/cashout_requests', { user_id: bill.getUser().getId() }) }}">одобрить запрос на вывод</a> через "Панель управления" для того чтобы заблокированная сумма была списана со счёта пользователя.</p>
<p>В случае, если необходимо отклонить заявку, то это также необходимо сделать в Панели управления, чтобы заблокированная сумма вернулась обратно на счёт пользователя.</p>
{% endblock %}