{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
Ошибка во время выполнения
{% endblock %}

{% block body %}
<p>Информационное сообщение с сайта:</p>
<br />

<p>{{ message|raw }}</p>
{% endblock %}