{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
Сообщение из контактной формы
{% endblock %}

{% block body %}
<p>Информационное сообщение с сайта:</p>
<br />
<p>На сайте была заполнена контактная форма:</p>
<p><b>Данные формы:</b></p>

<p><b>Дата/Время заполнения:</b> {{ feedback.getCreated().format("d.m.Y H:i:s") }}</p>
<p><b>IP адрес отправителя:</b> {{ feedback.getIpAddress() }}</p>
---
<p><b>Имя:</b> {{ feedback.getName() }}</p>
<p><b>Обратный e-mail:</b> {{ feedback.getEmail() }}</p>
<p><b>Тема:</b> {{ feedback.getSubject() }}</p>
<p><b>Сообщение:</b></p>
<p>{{ feedback.getMessage()|raw }}</p>
{% endblock %}