{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
{{ 'Восстановление пароля на сайте www.FootBattle.ru!'|trans }}
{% endblock %}

{% block body %}
<p><b>{{ 'Уважаемый(ая) %s%!'|trans({ '%s%': user.getNick() }) }}</b></p>
<p>{{ 'По вашему запросу система автоматически сгенерировала для Вас новый пароль.'|trans }}</p>
<p><b>Новые данные для входа</b></p>
<p>
    {{ 'E-mail' }}: {{ user.getEmail() }}<br />
    {{ 'Пароль' }}: <b>{{ newPassword }}</b>
</p>
{% endblock %}