<div
    class="box box-info"
    ng-controller="AdminBillingLogCtrl"
    ng-init="
        billingLog.filter.user_id = {{ user_id }};
    "
    >
<div class="box-header">
    <h3 class="box-title">Операции</h3>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline filter_form hidden">
                <div class="form-group hidden">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" id="daterange" class="form-control pull-right active" name="daterange">
                    </div>
                </div>
                <div class="form-group">
                    <label for="action">Статус</label>
                    <select id="action" class="form-control" name="action">
                        <option value="">Все</option>
                        <option value="-1">Отменён</option>
                        <option value="0">В процессе</option>
                        <option value="1">Выполнено</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="action">Действие</label>
                    <select id="action" class="form-control" name="action">
                        <option value="">Все</option>
                        <option value="DEPOSIT">Зачисление</option>
                        <option value="WITHDRAW">Списание</option>
                        <option value="TRANSFER">Перевод</option>
                        <option value="RESERVATION">Резервирование</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Применить</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td class="cell-date text-center"><b>Дата/Время создания</b> <i class="fa fa-sort-amount-desc"></i></td>
                            <td class="text-center">Действие</td>
                            <td class="text-center">Перевод</td>
                            <td class="text-right">Сумма</td>
                            <td class="text-center">Статус</td>
                            <td class="text-center">Операции</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="logItem in billingLog.logItems">
                            <td class="text-center">
                                <datetime timestamp="logItem.operationDatetime"></datetime>
                            </td>
                            <td ng-show="logItem.showAdditionalInfo == false;" class="text-center">
                                <billinglogaction
                                    action="logItem.action"
                                    text-deposit="ЗАЧИСЛЕНИЕ"
                                    text-withdraw="СПИСАНИЕ"
                                    text-transfer="ПЕРЕВОД"
                                    text-reservation="РЕЗЕРВИРОВАНИЕ"
                                    text-reservation-return="ВОЗВРАТ"
                                    text-reservation-off="СНЯТИЕ ИЗ РЕЗЕРВА"
                                    text-charge-win="ВЫИГРЫШ"
                                    text-charge-promo-win="ПРОМО-ВЫИГРЫШ"
                                    text-cashout="ВЫВОД"
                                    text-referral-charge="РЕФЕРАЛЬНОЕ ВОЗНАГРАЖДЕНИЕ"
                                ></billinglogaction>
                            </td>
                            <td ng-show="logItem.showAdditionalInfo == false;" class="text-center">
                                <div ng-if="logItem.userRecipient.id != undefined">
                                    <a href="/admin/users/balance/[[logItem.user.id]]">[[ logItem.user.nick ]]</a>
                                    &rarr;
                                    <a href="/admin/users/balance/[[logItem.userRecipient.id]]">[[ logItem.userRecipient.nick ]]</a>
                                </div>
                                <div ng-if="logItem.userRecipient == false">
                                &mdash;
                                </div>
                            </td>
                            <td ng-show="logItem.showAdditionalInfo == false;" class="text-right sm-col">
                                [[ logItem.amountWithCommision ]] [[ logItem.currency ]]
                            </td>
                            <td ng-show="logItem.showAdditionalInfo == false;" class="text-center">
                                <b>
                                    <billinglogstatus
                                      status="logItem.status"
                                      text-status-ok="Выполнено"
                                      text-status-in-progress="В обработке"
                                      text-status-canceled="Отменено"
                                    >
                                    </billinglogstatus>
                                </b>
                            </td>
                            <td ng-show="logItem.showAdditionalInfo == true;" colspan="4">
                                <p><b>Статус:</b>
                                    <billinglogstatus
                                      status="logItem.status"
                                      text-status-ok="Выполнено"
                                      text-status-in-progress="В обработке"
                                      text-status-canceled="Отменено"
                                    >
                                    </billinglogstatus>
                                    <datetime timestamp="logItem.operationOkDatetime"></datetime>
                                    <datetime timestamp="logItem.operationCancelDatetime"></datetime>
                                </p>
                                <p><b>Действие:</b>
                                    <billinglogaction
                                        action="logItem.action"
                                        text-deposit="ЗАЧИСЛЕНИЕ"
                                        text-withdraw="СПИСАНИЕ"
                                        text-transfer="ПЕРЕВОД"
                                        text-reservation="РЕЗЕРВИРОВАНИЕ"
                                        text-reservation-return="ВОЗВРАТ"
                                        text-reservation-off="СНЯТИЕ ИЗ РЕЗЕРВА"
                                        text-charge-win="ВЫИГРЫШ"
                                        text-charge-promo-win="ПРОМО-ВЫИГРЫШ"
                                        text-cashout="ВЫВОД"
                                        text-referral-charge="РЕФЕРАЛЬНОЕ ВОЗНАГРАЖДЕНИЕ"
                                    ></billinglogaction>
                                </p>
                                <p ng-if="logItem.userRecipient.id != undefined">
                                    <b>Перевод:</b>
                                    <a href="admin/users/balance/[[logItem.user.id]]">[[ logItem.user.nick ]]</a>
                                    &rarr;
                                    <a href="admin/users/balance/[[logItem.userRecipient.id]]">[[ logItem.userRecipient.nick ]]</a>
                                </p>
                                <p><b>Сумма с комиссией:</b> [[ logItem.amountWithCommision ]] [[ logItem.currency ]]</p>
                                <p><b>Сумма без комиссии:</b> [[ logItem.amount ]] [[ logItem.currency ]]</p>
                                <p><b>Коммиссия:</b> [[ logItem.amountWithCommision - logItem.amount ]] [[logItem.currency]] ([[ logItem.commissionPercent ]]%)</p>
                                <p><b>Комментарий:</b> [[ logItem.note ]]</p>
                                <p><b>Обменный курс:</b> [[ logItem.moneyRate ]] ЗМ за 1 [[logItem.currency]]</p>
                                <div ng-if="logItem.balanceInfo.userFrom != undefined">
                                    <b>Информация о балансе пользователя ([[ logItem.user.nick ]]) на момент совершения операции:</b>
                                    <ul>
                                        <li>Баланс: <money qty="logItem.balanceInfo.userFrom.balance"></money></li>
                                        <li>Зарезервировано: <money qty="logItem.balanceInfo.userFrom.reserved" zero-text="0"></money></li>
                                        <li>Доступно для вывода: <money qty="logItem.balanceInfo.userFrom.free_funds"  zero-text="0"></money></li>
                                    </ul>
                                </div>
                                <div ng-if="logItem.balanceInfo.userRecipient.id != undefined">
                                    <b>Информация о балансе получателя ([[ logItem.userRecipient.nick ]]) на момент совершения операции:</b>
                                    <ul>
                                        <li>Баланс: <money qty="logItem.balanceInfo.userRecipient.balance"></money></li>
                                        <li>Зарезервировано: <money qty="logItem.balanceInfo.userRecipient.reserved" zero-text="0"></money></li>
                                        <li>Доступно для вывода: <money qty="logItem.balanceInfo.userRecipient.free_funds"  zero-text="0"></money></li>
                                    </ul>
                                </div>
                                <p><b>IP адрес машины с который была совершена операция:</b> [[ logItem.userIp ]]</p>
                                <p><b>User-agent заголовок машины с который была совершена операция:</b> [[ logItem.userAgent ]]</p>
                           </td>
                            <td class="text-center">
                                <a
                                    class="btn btn-sm btn-info pointer"
                                    title="Побробная информация"
                                    ng-init="logItem.showAdditionalInfo = false;"
                                    ng-click="logItem.showAdditionalInfo = true"
                                    ng-show="logItem.showAdditionalInfo == false;">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                                <a
                                    class="btn btn-sm btn-default pointer"
                                    title="Закрыть"
                                    ng-click="logItem.showAdditionalInfo = false"
                                    ng-show="logItem.showAdditionalInfo == true;">
                                        Закрыть
                                </a>
                           </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <uib-pagination
                    total-items="billingLog.totalItems"
                    ng-model="billingLog.currentPage"
                    items-per-page="billingLog.pageSize"
                    direction-links="false"
                    num-pages="billingLog.totalPages"
                    ng-show="billingLog.totalPages > 1"
                    ng-init="billingLog.loadPage(1)"
                    ng-change="billingLog.loadPage(billingLog.currentPage)">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>