.thumbnail,
.thumbnail:hover,
.thumbnail:focus{
  text-decoration: none;
  color:#333;
  padding:10px;
}

.thumbnail .icon{
  float:left;
  margin-right: 10px;
}

.thumbnail .heading{
  display:block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:1.7em;  
}

.thumbnail .comment{
  display:block;
}

.cashout_variants .thumbnail .comment{
  font-size: 80%;  
}