<p class="text-center">
    <strong>Время выполнения скриптов</strong>
</p>
<div id="cronTimeChart"></div>
<script type="text/javascript">
var CronLogTimechartSeries = [
    {% for command, logs in series  %}
    {
        name: '{{ commands_descriptions[command] }}',
        data: [
            {% for log in logs  %}
                [Date.UTC({{ log.getDatetime().format('Y') }}, {{ log.getDatetime().format('m') }}, {{ log.getDatetime().format('d') }}, {{ log.getDatetime().format('H') }}, {{ log.getDatetime().format('i') }}, {{ log.getDatetime().format('s') }}), {{ log.getExecutionTime() }}],
            {% endfor %}
        ]
    },
    {% endfor %}
]
</script>