<p class="text-center">
    <strong>Среднее потребление памяти</strong>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Скрипт</th>
            <th>Использовано памяти, Мб</th>
        </tr>        
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            <td>{{ row["command_description"] }}</td>
            <td class="text-right">{{ (row["avg_memory_usage"]/(1024*1024))|number_format(2) }}</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>