{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeMainNav = 'personal/search/tournaments' %}

{% block body %}
<h2 class="page-header">{{ 'Поиск турниров'|trans }}</h2>
<div class="row" ng-controller="TournamentsSearchCtrl">
  <div class="col-sm-4 col-sm-push-8">
    <div class="panel panel-default tournaments-filter">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'Фильтр'|trans }}</h3>
      </div>
      <div class="panel-body">

          <div class="form-group">
            <label for="tournament_format">{{ 'Формат' }}</label>
            <select name="format" id="tournament_format" class="form-control" ng-model="filter.format" ng-change="applyFilter()">
                <option value="">{{ 'Все'|trans }}</option>
                <option value="championship">{{ 'Чемпионат'|trans }}</option>
                <option value="round">{{ 'Круговой'|trans }}</option>
                <option value="playoff">{{ 'Плей-офф'|trans }}</option>
                <option value="championsleague">{{ 'Лига чемпионов'|trans }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="price_from">{{ 'Создание команды'|trans }}</label>
            <div class="row">
              <div class="col-xs-6">
                <input type="number" class="form-control" id="price_from" placeholder="{{ 'от'|trans }}" ng-model="filter.priceFrom" ng-change="applyFilter()">
              </div>
              <div class="col-xs-6">
                <input type="number" class="form-control" id="price_to" placeholder="{{ 'до'|trans }}" ng-model="filter.priceTo" ng-change="applyFilter()">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="checkbox-inline">
              <input name="onlyPromo" type="checkbox" value="1" ng-model="filter.onlyPromo" ng-change="applyFilter()"> {{ 'Только промо-турниры'|trans }}
            </label>
          </div>

      </div>
    </div>
  </div>
  <div class="col-sm-8 col-sm-pull-4">

    <div ng-cloak>
      <div class="alert alert-info" role="alert" ng-hide="tournaments.length">
        <i class="glyphicon glyphicon-info-sign"></i> {{ 'Ни одного турнира не найдено по заданным условиям.'|trans }}
      </div>
      <div ng-repeat="tournament in tournaments" class="panel panel-default tournament-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-7 col-sm-6 col-md-8">
              <span class="label label-default">{{ '{{tournament.id}}' }}</span>
              <a class="tournament_title" href="{{ '{{tournament.url}}' }}">
                {{ '{{tournament.title}}' }}
              </a>
            </div>
            <div class="col-xs-5 col-sm-6 col-md-4 text-right">
              <span class="hidden-xs">{{ 'Взнос'|trans }}:</span>
              <money class="tournament-fee" qty="tournament.fee"></money>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <dl class="dl-horizontal tournament-info">
                <dt><i class="ion-trophy"></i> {{ 'Тип'|trans }}</dt>
                <dd>{{ '{{tournament.format}}' }}</dd>
                <dt><i class="ion-calendar"></i> {{ 'Начало'|trans }}</dt>
                <dd>{{ '{{tournament.startDatetime | date: "dd.MM.yy HH:mm"}}' }}</dd>
              </dl>
            </div>
            <div class="col-sm-6 col-md-4">
              <dl class="dl-horizontal tournament-info">
                <dt><i class="ion-ios-football"></i> {{ 'Команд'|trans }}</dt>
                <dd>{{ '{{tournament.usersCount}}' }}</dd>
                <dt><i class="ion-ribbon-a"></i> {{ 'Призовой фонд'|trans }}</dt>
                <dd><money class="tournament-fee" qty="tournament.prizePool"></money></dd>
              </dl>
            </div>
            <div class="col-sm-12 col-md-3 col-md-offset-1">
              <tournamentviewbutton
                href="tournament.url"
                code="tournament.status"
                text-status-is-not-started="{{ 'Принять участие!'|trans }}"
                text-status-goes="{{ 'Перейти в турнир'|trans }}"
                text-status-over="{{ 'Результаты'|trans }}"
              ></tournamentviewbutton>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right">
            {{ 'Статус'|trans }}:
            <tournamentstatus
            code="tournament.status"
            text-status-is-not-started="{{ 'Турнир ещё не начался'|trans }}"
            text-status-goes="{{ 'Турнир идёт'|trans }}"
            text-status-over="{{ 'Турнир окончен'|trans }}"
            ></tournamentstatus>
          </div>
        </div>
      </div>

      <div class="text-right">
        <uib-pagination
          total-items="totalItems"
          ng-model="currentPage"
          items-per-page="pageSize"
          direction-links="false"
          num-pages="totalPages"
          ng-show="totalPages > 1"
          ng-change="loadPage(currentPage, pageSize, filter)">
          </uib-pagination>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@AppBundle/Resources/public/css/tournament/search.css'
    output='/css/personal/search/tournaments.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block angularequire %}
  {{ parent() }}
  'TournamentsSearchService',
  'TournamentStatusDirective'
{% endblock %}

{% block javascripts %}
{% javascripts
  '@AppBundle/Resources/public/js/app/directives/TournamentStatusDirective.js'
  '@AppBundle/Resources/public/js/app/services/Tournament/SearchService.js'
  '@AppBundle/Resources/public/js/app/controllers/Tournament/SearchController.js'
  output='/js/personal/search/tournaments.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}