{% extends 'AppBundle:admin/teams:index.html.twig' %}

{% block title %}Добавление команды{% endblock %}

{% block pagesubheader %}Добавление команды{% endblock %}

{% block body %}

<div class="box">
    <div class="box-body">
        {{ form_start(form) }}
        
        {{ form_row(form.country, {label : 'Страна'}) }}
        {{ form_row(form.city, {label : 'Город'}) }}
        {{ form_row(form.title, {label : 'Название клуба на портале'}) }}
        {{ form_row(form.is_active, {label : 'Активность'}) }}
        {{ form_row(form.save, {'label': 'Сохранить' }) }}
        
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}