{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/teams/index' %}

{% block title %}Команды{% endblock %}

{% block pageheader %}<i class="fa fa-male"></i> Команды{% endblock %}
{% block pagesubheader %}Список команд{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Команды</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">    
    <div class="box-body">                        
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('admin/teams/add') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Добавить команду</a>
                <div class="pull-right">
                    {{ form_start(filter_form, {'attr': {'class': 'form-inline'}}) }}        
                        <div class="form-group">
                            {{ form_label(filter_form.country, 'Страна') }}
                            {{ form_widget(filter_form.country, {'attr' : {'class': 'form-control'} }) }}
                        </div>                
                        
                        {{ form_widget(filter_form.search, {'attr': {'class': 'btn btn-primary'}, 'label': 'Найти' }) }}    
                    {{ form_end(filter_form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>          
                  <th></th>          
                  <th>Название</th>          
                  <th>Страна</th>          
                  <th class="text-center">Активность</th>              
                </tr>
              </thead>
              <tbody>
                {% for team in teams_list %}
                <tr>          
                  <td class="text-center">
                      <a class="btn text-default" href="{{ path('admin/teams/edit', {'team_id': team.getId() }) }}" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                  </td>          
                  <td>{{ team.getTitle() }}</td>          
                  <td>{{ team.getCountry()|countryName }}</td>                    
                  <td class="text-center">
                    {% if team.getIsActive() %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>              
                    {% endif %}
                  </td>                        
                  <td><td><a class="btn text-danger" href="{{ path('admin/teams/delete', { 'team_id': team.getId() }) }}" title="Удалить" onclick="return deleteTeam(this);"><span class="glyphicon glyphicon-trash"></span></a></td></td>
                </tr>
                {% endfor %}        
              </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
function deleteTeam(element)
{
    if(!confirm('Вы уверены, что хотите удалить данную команду?'))
        return false;
    
    $.getJSON($(element).attr('href'), function( data ) {
        if(data.success == true)
            $(element).parents('tr').remove();
        else
            alert(data.msg);
    });
    
    return false;
}
</script>

{% endblock %}