{% extends 'AppBundle:admin/policies:terms.html.twig' %}

{% block title %}Редактирование редакции пользовательского соглашения{% endblock %}

{% block pagesubheader %}Редактирование{% endblock %}

{% block body %}

{{ include('AppBundle:admin/policies/terms:form.html.twig', {
    'ngController': 'AdminPoliciesTermsEditCtrl'
}) }}

{% endblock %}

{% block angularequire %}
'ui.tinymce',
'AdminPoliciesTermsService',
'AdminPoliciesPointsSchemasService',
'AdminPoliciesRegulationsService',
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ include(
        'AppBundle:admin/policies/pointsSchemas:modal.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}
    
    {{ include('AppBundle:admin/policies/regulations:modal.html.twig') }}

    {% javascripts
        '@tinymce'
        '@AppBundle/Resources/public/js/adminapp/services/Policies/TermsService.js'
        '@AppBundle/Resources/public/js/adminapp/services/Policies/PointsSchemasService.js'
        '@AppBundle/Resources/public/js/adminapp/services/Policies/RegulationsService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/Terms/EditController.js'
        output='js/admin/policies/terms/edit.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}