{{ form_start(form, {
attr: {
'ng-controller': ngController,
'ng-init' : ngInit|default()
}
}) }}

{{ form_row(
    form.locale,
    {
        label: 'Язык',
        attr: {
            'ng-model': 'terms.fields.locale',
            'ng-disabled': 'terms.localeDisabled',
            'init-field-value': '',
        }
    })
}}

<div class="row">
    <div class="col-sm-6">
        {{ form_row(
            form.number,
            {
                label: 'Редакция №'
            })
        }}
    </div>
    <div class="col-sm-6">
        {{ form_row(
            form.editionDate,
            {
                label: 'от'
            })
        }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.pointsScheme, 'Схема начисления очков') }}
            {{ form_errors(form.pointsScheme) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Посмотреть схему" ng-click="terms.viewSelectedPointsScheme()"><i class="fa fa-eye"></i></button>
                </span>
                {{ form_widget(
                    form.pointsScheme,
                    {
                        attr: {
                            'ng-model': 'terms.fields.pointsSchemeId',
                            'ng-disabled': 'terms.pointsSchemeDisabled',
                            'init-field-value': '',
                        }
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.regulationChampionship, 'Регламент турнира типа "Чемпионат"') }}
            {{ form_errors(form.regulationChampionship) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Посмотреть схему" ng-click="terms.viewSelectedRegulation(terms.fields.regulationChampionshipId)"><i class="fa fa-eye"></i></button>
                </span>
                {{ form_widget(
                    form.regulationChampionship,
                    {
                        attr: {
                            'ng-model': 'terms.fields.regulationChampionshipId',
                            'ng-disabled': 'terms.regulationsDisabled',
                            'init-field-value': '',
                        }
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.regulationRound, 'Регламент турнира типа "Круговой"') }}
            {{ form_errors(form.regulationRound) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Посмотреть схему" ng-click="terms.viewSelectedRegulation(terms.fields.regulationRoundId)"><i class="fa fa-eye"></i></button>
                </span>
                {{ form_widget(
                    form.regulationRound,
                    {
                        attr: {
                            'ng-model': 'terms.fields.regulationRoundId',
                            'ng-disabled': 'terms.regulationsDisabled',
                            'init-field-value': '',
                        }
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.regulationPlayoff, 'Регламент турнира типа "Плей-офф"') }}
            {{ form_errors(form.regulationPlayoff) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Посмотреть схему" ng-click="terms.viewSelectedRegulation(terms.fields.regulationPlayoffId)"><i class="fa fa-eye"></i></button>
                </span>
                {{ form_widget(
                    form.regulationPlayoff,
                    {
                        attr: {
                            'ng-model': 'terms.fields.regulationPlayoffId',
                            'ng-disabled': 'terms.regulationsDisabled',
                            'init-field-value': '',
                        }
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.regulationChampionsleague, 'Регламент турнира типа "Лига чемпионов"') }}
            {{ form_errors(form.regulationChampionsleague) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Посмотреть схему" ng-click="terms.viewSelectedRegulation(terms.fields.regulationChampionsleagueId)"><i class="fa fa-eye"></i></button>
                </span>
                {{ form_widget(
                    form.regulationChampionsleague,
                    {
                        attr: {
                            'ng-model': 'terms.fields.regulationChampionsleagueId',
                            'ng-disabled': 'terms.regulationsDisabled',
                            'init-field-value': '',
                        }
                    })
                }}
            </div>
        </div>
    </div>
</div>

{{ form_row(
    form.terms,
    {
        label: 'Пользовательское соглашение',
        attr: {
            'ui-tinymce': 'terms.tinymceOptions',
            'ng-model': 'terms.fields.terms',
            'init-field-value': ''
        }
    })
}}

{{ form_row(
    form.regulations,
    {
        label: 'Правила игры',
        attr: {
            'ui-tinymce': 'terms.tinymceOptions',
            'ng-model': 'terms.fields.regulations',
            'init-field-value': ''
        }
    })
}}

{{ form_row(
    form.privacy,
    {
        label: 'Политика конфиденциальности',
        attr: {
            'ui-tinymce': 'terms.tinymceOptions',
            'ng-model': 'terms.fields.privacy',
            'init-field-value': ''
        }
    })
}}

{{ form_row(form.submit, {
    label: 'Сохранить',
    attr: {
        class: 'btn-primary'
    }
}) }}

{{ form_end(form) }}