<script type="text/ng-template" id="termsModalTmpl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Редакция №[[ terms.number ]] от [[ terms.editionDate ]]</h4>
    </div>

    <div class="modal-body">

        <uib-tabset active="0">
            <uib-tab index="0" heading="Пользовательское соглашение">
                <br />
                <div ng-bind-html="terms.terms"></div>
            </uib-tab>
            <uib-tab index="1" heading="Правила">
                <br />
                <div ng-bind-html="terms.regulations"></div>
            </uib-tab>
            <uib-tab index="2" heading="Политика конфиденциальности">
                <br />
                <div ng-bind-html="terms.privacy"></div>
            </uib-tab>
        </uib-tabset>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</script>