{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/draft' %}

{% block title %}Редактирование турнира{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Редактирование турнира{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}

<div class="row">

  <div class="col-md-6">
    {% for flashMessage in app.session.flashbag.get('validation_error') %}
        <div class="callout callout-danger">              
          {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Настройки турнира</h3>
        </div>
        {{ form_start(form) }}
        <div class="box-body">
                
        {{ form_row(form.max_users_count, { label: 'Максимальное кол-во участников' } ) }}
        <br/ >
        <h4 class="text-info">Настройки квалификации</h4>
        {{ form_row(form.qualification_rounds_count,  { label: 'Количество туров' } ) }}
        {{ form_row(form.matches_in_qualification,  { label: 'Количество матчей'} ) }}
        <br/ >
        <h4 class="text-info">Настройки плей-офф</h4>
        {{ form_row(form.matches_in_game, { label: 'Количество матчей в игре' } ) }}        


        </div>    
        <div class="box-footer">
          {{ form_row(form.save, { label: 'Далее' } ) }}    
        </div>
        {{ form_end(form) }}
    </div>
  </div>
  
</div>

{% endblock %}