{% extends 'AppBundle:admin/users:index.html.twig' %}

{% block title %}Управление счётом{% endblock %}

{% block pagesubheader %}Управление счётом{% endblock %}

{% block body %}

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{{ path('admin/users/balance', { user_id: user.getId() }) }}">Управление счётом</a></li>
  <li role="presentation"><a href="{{ path('admin/users/cashout_requests', { user_id: user.getId() }) }}">Запросы на вывод <span class="badge">{{ cashoutRequestsCnt }}</span></a></li>
</ul>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ user.getEmail() }}</span>
            <span class="info-box-number"><small>Рейтинг: {{ rating_helper.getFormatted(user.getRating()) }}</small></span>
          </div><!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-6">
        {% if user.getId() != systemUser.getId() %}
            <div class="info-box">
              <span class="info-box-icon bg-purple"><i class="fa fa-user-secret"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ systemUser.getNick() }}</span>
                <span class="info-box-number"><small>Золотые монеты: {{ include('AppBundle:common:money.html.twig', { money: systemBalance }) }}</small></span>
              </div><!-- /.info-box-content -->
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Золотые монеты</span>
            <span class="info-box-number">{{ include('AppBundle:common:money.html.twig', { money: user.getBalance() }) }}</span>
          </div><!-- /.info-box-content -->
        </div>
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Зарезервировано монет</span>
            <span class="info-box-number">{{ include('AppBundle:common:money.html.twig', { money: user.getReserved() }) }}</span>
          </div><!-- /.info-box-content -->
        </div>
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Может вывести</span>
            <span class="info-box-number">{{ include('AppBundle:common:money.html.twig', { money: user.getFreeFunds() }) }}</span>
          </div><!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
          {{ form_start(form) }}
          <div class="box-header">
            <h3 class="box-title">Управление счётом</h3>
          </div>
          <div class="box-body">

          {% for flashMessage in app.session.flashbag.get('transaction_success') %}
            <div class="callout callout-success">
              <h4><i class="icon fa fa-check"></i> {{ flashMessage }}</h4>
            </div>
          {% endfor %}

          {{ form_row(form.amount, { label: 'Количество монет' } ) }}
          {{ form_row(form.note, { label: 'Комментарий' } ) }}


          </div>
          <div class="box-footer">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.cashout, { label: 'Ручной вывод средств', attr: { class: 'btn-danger' } } ) }}
                </div>
                <div class="col-sm-6 text-right">
                    {{ form_row(form.deposit, { label: 'Зачисление', attr: { class: 'btn-success' } } ) }}
                </div>
            </div>
            <div class="row {% if user.getId() == systemUser.getId() %}hidden{% endif %}">
                <div class="col-sm-6">
                    {{ form_row(form.withdraw, { label: 'Списание', attr: { class: 'btn-danger' } } ) }}
                </div>
            </div>
            <p class="text-muted">
                <b>Справка:</b>
                <br />
                Все операции производятся путём перевода средств на счёт системы.<br />
                В случае операции "Ручной вывод средств", средства сначала переводятся на счёт системы, а после списываются со счёта системы.
            </p>
          </div>
          {{ form_end(form) }}
        </div>
    </div>
</div>

<div id="billingLogContainer">
    {{ include('AppBundle:admin/billing:log.html.twig', { user_id: user.getId() }) }}
</div>
{% endblock %}

{% block angularequire %}
'AdminBillingService',
'BillingLogActionDirective',
'BillingLogStatusDirective',
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/BillingService.js'
        '@AppBundle/Resources/public/js/app/directives/Billing/LogActionDirective.js'
        '@AppBundle/Resources/public/js/app/directives/Billing/LogStatusDirective.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Billing/LogController.js'
        output='js/admin/users/balance.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}