{% extends 'AppBundle:admin/users:index.html.twig' %}

{% block title %}Запросы на вывод{% endblock %}

{% block pagesubheader %}Запросы на вывод{% endblock %}

{% block body %}

<ul class="nav nav-pills">
  <li role="presentation"><a href="{{ path('admin/users/balance', { user_id: user.getId() }) }}">Управление счётом</a></li>
  <li role="presentation" class="active"><a href="{{ path('admin/users/cashout_requests', { user_id: user.getId() }) }}">Запросы на вывод <span class="badge">{{ cashoutRequestsCnt }}</span></a></li>
</ul>
<br />

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage }}
</div>                    
{% endfor %}

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">ID: {{ user.getId() }} | {{ user.getNick() }} ({{ user.getEmail() }})</h3>
  </div>
  <div class="box-body">
    {% if cashoutRequests|length > 0 %}
    <div class="table-responsive">
      <table class="table table-borderd table-hover">
        <thead>
          <tr>
            <th>Дата/Время</th>
            <th>Сумма</th>
            <th>Комиссия, %</th>
            <th>Сумма (с учётом комиссии)</th>
            <th></th>
          </tr>
        </thead>
      {% for bill in cashoutRequests %}
          <tr>
            <td>{{ bill.getOperationDatetime().format('d.m.Y H:i:s') }}</td>
            <td>{{ bill.getAmount() }} {{ currency_sign|raw }}</td>
            <td>{{ bill.getCommissionPercent() }}%</td>
            <td><b>{{ bill.getAmountWithCommision() }} {{ currency_sign|raw }}</b></td>
            <td class="text-right">
              <a href="{{ path('admin/users/cashout_request/confirm', { bill_id: bill.getId() }) }}" class="btn btn-sm btn-success" onclick="return confirm('ВНИМАНИЕ: Вы уверены, что хотите одобрить данный запрос пользователя? Заблокированные для вывода средства будут списаны со счёта пользователя.')"><i class="glyphicon glyphicon-check"></i> Одобрить запрос</a>
              <a href="{{ path('admin/users/cashout_request/cancel', { bill_id: bill.getId() }) }}" class="btn btn-sm btn-danger" onclick="return confirm('ВНИМАНИЕ: Вы уверены, что хотите отклонить данный запрос пользователя? Заблокированные для вывода средства будут возвращены на счёт пользователя.')"><i class="glyphicon glyphicon-remove"></i> Отклонить запрос</a>
            </td>
          </tr>
      {% endfor %}
      </table>
    </div>
    {% else %}
      <p>Нет необработанных запросов.</p>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/admin/js/models/billing/log.js" type="text/javascript"></script>
<script src="/admin/js/controllers/billing/log.js" type="text/javascript"></script>
{% endblock %}