{% extends 'AppBundle:admin/users:index.html.twig' %}

{% block title %}Редактирование пользователя{% endblock %}

{% block pagesubheader %}Редактирование пользователя{% endblock %}

{% block body %}
<div class="box">
    <div class="box-body">

    {{ include('AppBundle:admin/users:form.html.twig') }}

    </div>
</div>
{% endblock %}
