{{ form_start(form)}}

<div class="row">
    <div class="col-sm-6">
        <label class="control-label">{{ 'Аватар'|trans }}</label>
        {% if user is defined and user.getAvatar() is not null %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail pull-left">
                        {{ include('AppBundle:common/user:avatar.html.twig', {user: user}) }}
                    </div>
                </div>
            </div>
        {% endif %}
        {{ form_row(form.avatar_delete, { label: 'Удалить изображение'|trans }) }}
        {{ form_row(form.avatar_file, { label: false, attr: { accept: "image/*" } }) }}
        {{ form_row(form.is_active, { label: 'Активен' })}}
        {{ form_row(form.is_confirmed, { label: 'Подтверждён' })}}
        {{ form_row(form.is_agreed, { label: 'Согласился с пользовательским соглашением' })}}
        {{ form_row(form.role, { label: 'Роль' })}}
        {{ form_row(form.locale, { label: 'Язык интерфейса' })}}

        {% if form.password is defined %}
        {{ form_row(form.password.password, { label: 'Пароль' })}}
        {{ form_row(form.password.confirm, { label: 'Повторите пароль' })}}
        {% endif %}
    </div>
    <div class="col-sm-6">

        {{ form_row(form.email, { label: 'E-mail' })}}
        {{ form_row(form.nick, { label: 'Никнейм' })}}
        {{ form_row(form.last_name, { label: 'Фамилия' })}}
        {{ form_row(form.first_name, { label: 'Имя' })}}
        {{ form_row(form.second_name, { label: 'Отчество' })}}

        <label class="control-label">Дата рождения</label>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.birthdate.day, { label: false })}}
            </div>
            <div class="col-md-4">
                {{ form_row(form.birthdate.month, { label: false })}}
            </div>
            <div class="col-md-4">
                {{ form_row(form.birthdate.year, { label: false })}}
            </div>
        </div>

        {{ form_row(form.country, { label: 'Страна' })}}
        {{ form_row(form.city, { label: 'Город' })}}
    </div>
</div>

{{ form_row(form.save, { label: 'Сохранить' })}}

{{ form_end(form) }}