{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/users/index' %}

{% block title %}Пользователи{% endblock %}

{% block pageheader %}<i class="fa fa-users"></i> Пользователи{% endblock %}
{% block pagesubheader %}Список пользователей{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Пользователи</li>
</ol>
{% endblock %}

{% block body %}
<div>
<a href="{{ path('admin/users/add') }}" class="btn btn-primary">
    <i class="fa fa-plus-circle"></i> Добавить пользователя
</a>
</div>
<br />
<div class="box"
    ng-controller="AdminUsersCtrl"
>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>E-Mail, ФИО или Никнейм</label>
                    <input type="text" class="form-control" ng-model="usersList.filter.query" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>ID реферала</label>
                    <input type="number" class="form-control" ng-model="usersList.filter.referral_user" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Дата регистрации</label>
                    <fbdaterangepicker
                        model="usersList.filter.registrationDate"
                    >
                    </fbdaterangepicker>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Активность</label>
                    <booleanselect
                        model="usersList.filter.isActive"
                    >
                    </booleanselect>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" ng-click="usersList.applyFilter()">Поиск</button>
            <button type="button" class="btn btn-danger" ng-click="usersList.cancelFilter()">Сбросить</button>
        </div>
    </div>
    <div class="box-body text-right">
        Найдено: [[ usersList.totalItems ]]
    </div>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-1 text-center">ID</th>
                        <th>E-mail</th>
                        <th>Никнейм</th>
                        <th>Роль</th>
                        <th>Баланс</th>
                        <th>Реферрал</th>
                        <th class="col-md-1 text-center">Активен</th>
                        <th class="col-md-1 text-center">Подтверждён</th>
                        <th class="text-center">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in usersList.items">
                        <td class="text-center">
                            <a class="btn btn-default" href="/admin/users/edit/[[ user.id ]]"  title="Редактировать"><span class="fa fa-edit"></span></a>
                        </td>
                        <td class="text-center">[[ user.id ]]</td>
                        <td>[[ user.email ]]</td>
                        <td>[[ user.nick ]]</td>
                        <td><userrole role="user.role"></userrole></td>
                        <td>
                            <money qty="user.balance" zero-text="0"></money> /
                            <money class="text-danger" qty="user.reserved" zero-text="0"></money> /
                            <money class="text-success" qty="user.freeFunds" zero-text="0"></money>
                        </td>
                        <td>[[ user.referralUser.nick ]]</td>
                        <td class="text-center"><booleanval value="user.isActive"></booleanval></td>
                        <td class="text-center"><booleanval value="user.isConfirmed"></booleanval></td>
                        <td class="text-center">
                            <a class="btn btn-default" href="/admin/users/balance/[[ user.id ]]"  title="Управление счётом"><span class="fa fa-money"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <div class="text-right">
            <uib-pagination
                total-items="usersList.totalItems"
                ng-model="usersList.currentPage"
                items-per-page="usersList.pageSize"
                direction-links="false"
                num-pages="usersList.totalPages"
                ng-show="usersList.totalPages > 1"
                ng-init="usersList.loadPage(1)"
                ng-change="usersList.loadPage(usersList.currentPage)">
            </uib-pagination>
        </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminUsersService',
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/UsersService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/UsersController.js'
        output='js/admin/users.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}

