{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
{{ 'Ваша заявка на турнир одобрена!'|trans }}
{% endblock %}

{% block body %}
<p><b>{{ 'Уважаемый(ая) %s%!'|trans({ '%s%': user.getNick() }) }}</b></p>
{% set tournamentTitle = (tournament.getTitle() is not null) ? tournament.getTitle() : tournament.getId() %}
<p>{{ 'Ваша заявка на турнир "%s%" одобрена!'|trans({ '%s%': tournamentTitle }) }} {{ 'Теперь Вы можете начать делать ваши ставки.'|trans }}</p>
<p><a target="_blank" href="{{ tournamentUrl }}">{{ 'Перейти к турниру'|trans }}</a></p>
{% endblock %}