{% if query|length <= 3 %}
<p>Введите более 3 символов в поисковый запрос.</p>
{% else %}
    {% if results|length > 0 %}
        <p>Найдено пользователей: {{ results|length }}.</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">ID</th>
                    <th>E-mail</th>
                    <th>Никнейм</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Рейтинг</th>
                    <th class="col-md-1 text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in results %}
                    <tr>
                        <td class="text-center">{{ user.getId() }}</td>
                        <td>{{ user.getEmail() }}</td>
                        <td>{{ user.getNick() }}</td>
                        <td>{{ user.getFirstName() }}</td>
                        <td>{{ user.getLastName() }}</td>
                        <td>{{ user.getRating()|number_format(4, '.', ',') }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin/tournament/invitations/invite_user', {tournament_id: tournament.getId(), user_id : user.getId() }) }}"><span class="fa fa-plus-circle"></span> Пригласить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Пользователей не найдено.</p>
    {% endif %}
{% endif %}