{{ form_start(form, { 'action': path('admin/matches/search'), 'attr' : { 'class': 'form-inline' } }) }}
  
  <input type="hidden" name="tournament_id" value="{{ tournamentId }}" />
  
  {{ form_row(form.league, { 'label': 'Лига' }) }}  
  {{ form_row(form.search, { 'label': 'Поиск' }) }}
  
  <hr />
  
  <div class="table-responsive">
  {% if matches|length > 0 %}
    <table class="table table-condensed table-hover">
    <thead>
      <tr>          
        <th class="text-center">Тур</th>          
        <th class="text-center">Дата</th>                      
        <th class="text-center">Время</th>                      
        <th class="text-right">Хозяева</th>                                            
        <th></th>
        <th>Гости</th>
        <th></th>
      </tr>
    </thead>      
    <tbody>
    {% for match in matches %}
      <tr>
        <td class="text-center">{{ match.getTourNumber() }}</td>
        <td class="text-center">{{ match.getMatchDate().format("d.m.Y") }}</td>
        <td class="text-center">{{ match.getMatchTime().format("H:i") }}</td>
        <td class="text-right">{{ match.getHomeTeam().getTitle() }}</td>
        <td class="text-center">&mdash;</td>
        <td>{{ match.getGuestTeam().getTitle() }}</td>
        <td>
          <button 
            class="btn btn-xs btn-primary matchSelectBtn" 
            type="button"
            data-matchid="{{ match.getId() }}"
            data-hometeam="{{ match.getHomeTeam().getTitle() }}"
            data-guestteam="{{ match.getGuestTeam().getTitle() }}"
            data-date="{{ match.getMatchDate().format('d.m.Y') }}"
            data-time="{{ match.getMatchTime().format('H:i') }}"
            >Выбрать</button>
        </td>
      </tr>
    {% endfor %}   
    </tbody>
   </table>
  {% else %}
  <p>Ничего не найдено</p>
  {% endif %}
  </div>
  
{{ form_end(form) }}