{% extends 'AppBundle:admin/resources:teams.html.twig' %}

{% block body %}

<div class="box">
    <div class="box-body">
        {{ form_start(form) }}
            
            
            {{ form_row(form.team, {label : 'Команда на сайте'}) }}
            {{ form_row(form.title, {label : 'Название на ресурсе'}) }}
            {{ form_row(form.save, {'label': 'Сохранить' }) }}
            
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}