{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/resources/index' %}

{% block title %}Ресурсы{% endblock %}

{% block pageheader %}<i class="fa fa-download"></i> Ресурсы{% endblock %}
{% block pagesubheader %}Список ресурсов{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Ресурсы</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">
    {% if resources|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                                    
                  <th></th>
                  <th class="col-md-2">Страна</th>
                  <th class="col-md-2">Лига</th>                  
                  <th class="col-md-3">Внутреннее имя</th>
                  <th>Название ресурса</th>                  
                  <th class="text-center">Активность</th>                  
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for resource in resources %}
                <tr>
                  <td class="text-center">
                    <img class='sm_country_flag' src='/img/leagues/icons/sm/{{ resource.getLeague().getIcon() }}' alt='{{ resource.getLeague().getLeagueName() }}' title='{{ resource.getLeague().getLeagueName() }}' />
                  </td>
                  <td>
                  {% if resource.getLeague().getCountry() is empty %}
                    Международный
                  {% else %}
                    {{ resource.getLeague().getCountry()|countryName }}
                  {% endif %}</td>
                  <td>{{ resource.getLeague().getTournament() }}</td>                  
                  <td>{{ resource.getInternalName() }}</td>
                  <td>{{ resource.getTitle() }}</td>                  
                  <td class="text-center">
                    {% if resource.getIsActive() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}
                  </td>                  
                  <td class="text-right">                                
                    <a class="btn text-default" href="{{ path('admin/resources/teams', {'resource_id': resource.getId() }) }}">Команды ресурса</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>    
    {% endif %}
</div>
{% endblock %}