{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/resources/index' %}

{% block title %}Ресурсы{% endblock %}

{% block pageheader %}<i class="fa fa-download"></i> Ресурсы{% endblock %}
{% block pagesubheader %}Команды ресурса{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li><a href="{{ path('admin/resources/index') }}"><i class="fa fa-download"></i> Ресурсы</a></li>
    <li class="active">Команды ресурса</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">
    <div class="box-body">        
        <a href="{{ path('admin/resources/teams/add', { resource_id: resource.getId() }) }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i> Добавить команду ресурса
        </a>        
    </div>
    {% if teams|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>                                    
                        <th></th>
                        <th>Название на ресурсе</th>
                        <th>Название на сайте</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td class="text-center">
                            <a class="text-default" href="{{ path('admin/resources/teams/edit', { 'resource_team_id': team.getId() }) }}" title="Редактировать"><span class="fa fa-edit"></span></a>
                        </td>
                        <td>{{ team.getTitle() }}</td>
                        <td>{{ team.getTeam().getTitle() }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
    {% endif %}
</div>
{% endblock %}