@media (min-width:768px) {
    .table-playoff-qualification-results .user_link .user_image_wrap{
        display:block;
        float:left;
        margin-right:10px;
        margin-bottom:0;
    }

    .table-playoff-qualification-results .user_link .user_nick_wrap{
        display:block;
        float:left;
        margin-top:9px;
    }
}

.games-header{
    margin-top:20px;
}

.games-header:first-child{
    margin-top:0;
}

.groupLabels{
    margin-bottom:10px;
}