{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'Покупка золотых монет с помощью банковской карты'|trans }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Покупка золотых монет с помощью QIWI-кошелька'|trans }}</h1>

{% if iframeUrl is null %}

    {{ form_start(form, { 'attr': { 'data-confirmurl' : path('personal/refill/qiwi/confirm') } }) }}

    <div class="row">
        <div class="col-sm-6">            
            <div class="row">
                <div class="col-xs-2">
                    <img src="/img/qiwi.png" alt="{{ 'QIWI-кошелёк' }}" />
                </div>
                <div class="col-xs-10">
                    <p>{{ 'Коммиссия при вводе составляет - %commission%%'|trans({ '%commission%': commission}) }}</p>
                    <p>{{ 'Минимальное количество золотых монет, которое можно купить:'|trans }} {{ include('AppBundle:common:money.html.twig', { money: min_deposit/money_rate }) }}</p>
                    <p>{{ 'Обменный курс'|trans}}: {{ include('AppBundle:common:money.html.twig', { money: 1 }) }} = {{ money_rate }}{{ currency_sign|raw }}</p>
                </div>
            </div>            
        </div>
        <div class="col-sm-6">                    
            
            {% for flashMessage in app.session.flashbag.get('createBillError') %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'Возникла непредвиденная ошибка. Попробуйте пополнить счёт позже.'|trans }}
            </div>                    
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('createBillValidationError') %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage|raw }}
            </div>                    
            {% endfor %}
        
            {{ form_row(form.qiwi_phone, { label: 'Номер QIWI-кошелька'|trans }) }}
            {{ form_row(form.amount, { 'label': 'Сумма'|trans }) }}
            
            <div class="pull-right">
                {{ form_row(form.submit, { label: 'Отправить запрос'|trans }) }}
            </div>
        </div>    
    </div>

    {{ form_end(form) }}
    
{% else %}
    <iframe width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" src="{{ iframeUrl }}"></iframe>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts     
  '@AppBundle/Resources/public/js/models/personal/refill/qiwi.js'
  '@AppBundle/Resources/public/js/controllers/personal/refill/qiwi.js'  
  output='/js/personal/refill/qiwi.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}