<h1 class="page-header">{{ 'Подтвердите правильность введенных данных'|trans }}</h1>
<table class="table">    
    <tbody>
        <tr>
            <td>{{ 'Номер QIWI-кошелька'|trans }}:</td>
            <td>{{ qiwiPhone }}</td>
        </tr>        
        <tr>
            <td>{{ 'Комиссия системы за покупку золотых монет'|trans }}:</td>
            <td>{{ commissionReal }} {{ currency_sign|raw }} ({{ commissionPercent }}%)</td>
        </tr>        
        <tr>
            <td>{{ 'Сумма пополнения c комиссией'|trans }}:</td>
            <td>{{ amountWithCommission }} {{ currency_sign|raw }}</td>
        </tr>
    </tbody>
</table>
<p class="lead text-right">{{ 'Количество золотых монет на зачисление'|trans }}: {{ include('AppBundle:common:money.html.twig', { money: moneyAmount }) }}</p>