{% extends 'AppBundle:admin/policies:regulations.html.twig' %}

{% block title %}Добавление редакции регламента турнира{% endblock %}

{% block pagesubheader %}Добавление{% endblock %}

{% block body %}

{{ include('AppBundle:admin/policies/regulations:form.html.twig', {
    'ngController': 'AdminPoliciesRegulationsAddCtrl'    
}) }}

{% endblock %}

{% block angularequire %}
'ui.tinymce',
'AdminPoliciesRegulationsService',
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@tinymce'
        '@AppBundle/Resources/public/js/adminapp/services/Policies/RegulationsService.js'        
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/Regulations/AddController.js'
        output='js/admin/policies/regulations/add.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}