{{ form_start(form, {
attr: {
'ng-controller': ngController
}
}) }}

{{ form_row(
    form.locale,
    {
        label: 'Язык',
        attr: {
            'ng-model': 'regulations.fields.locale',
            'ng-disabled': 'regulations.localeDisabled',
            'init-field-value': '',
        }
    })
}}

<div class="row">
    <div class="col-sm-6">
        {{ form_row(
            form.tournamentFormat,
            {
                label: 'Формат турнира',
                attr: {
                    'ng-model': 'regulations.fields.tournamentFormat',
                    'ng-disabled': 'regulations.tournamentFormatDisabled',
                    'init-field-value': '',
                }
            })
        }}
    </div>
    <div class="col-sm-6">
        {{ form_row(
            form.editionDate,
            {
                label: 'Дата редакции'
            })
        }}
    </div>
</div>

{{ form_row(
    form.text,
    {
        label: 'Текст регламента',
        attr: {
            'ui-tinymce': 'regulations.tinymceOptions',
            'ng-model': 'regulations.fields.text',
            'init-field-value': ''
        }
    })
}}

{{ form_row(form.submit, {
    label: 'Сохранить',
    attr: {
        class: 'btn-primary'
    }
}) }}

{{ form_end(form) }}