<script type="text/ng-template" id="regulationModalTmpl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Регламент турнира формата "[[ regulation.tournamentFormatTitle ]]" ([[ regulation.title ]])</h4>
    </div>

    <div class="modal-body">

        <div ng-bind-html="regulation.text"></div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</script>