<div class="table-responsive">
    <table class="table table-hover table-users-list">            
        <thead>
            <tr>                
                <td>{{ 'Пользователь'|trans }}</td>                    
                <td class="sm-col text-center">{{ 'Рейтинг'|trans }}</td>                                    
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr{% if(is_granted('ROLE_USER') and user.getId() == app.user.getId()) %} class="bg-info"{% endif%}>                
                <td>{{ include('AppBundle:common/user:user.html.twig', { user: user, show_avatar: true }) }}</td>                                    
                <td class="text-right text-primary">{{ include('AppBundle:common/user:rating.html.twig', {userRating: user.getRating()}) }}</td>                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>