<span class="glyphicon glyphicon-calendar"></span>
{% if 'now'|date('d.m.Y') == match.getMatchDate().format('d.m.Y') %}
    <span class="text-success">{{ 'сегодня'|trans }}</span>
{% elseif '+1 day'|date('d.m.Y') == match.getMatchDate().format('d.m.Y') %}
    <span class="text-success">{{ 'завтра'|trans }}</span>
{% else %}
    {{ match.getMatchDate().format('d.m.Y') }}
{% endif %}
<span class="glyphicon glyphicon-time"></span> {{ match.getMatchTime().format('H:i') }} <small class="text-default">(<abbr class="initialism" title="{{ 'По московскому времени'|trans }}">{{ 'МСК'|trans }}</abbr>)</small>