{% set match = (roundMatch is not null) ? roundMatch.getMatch() : null %}
<table class="table tournament_match_container matchContainer">
    {% if match is not null %}
    {% set bet = (userBets[match.getId()] is defined) ? userBets[match.getId()] : null %}
    {% set bet_input_class =  (('now'|date('d.m.Y') == match.getMatchDate().format('d.m.Y') or 
                           '+1 day'|date('d.m.Y') == match.getMatchDate().format('d.m.Y')) and 
                           bet is null) ? 'has-error' : '' %}
    <caption>                            
        {{ include('AppBundle:common/league:icon.html.twig', { league: match.getLeague() }) }}
        {% if(match.getIsRejected()) %}                                
        <span class="glyphicon glyphicon-remove text-danger"></span> <span class="text-danger">{{ 'Матч отменён'|trans }}</span>
        {% else %}                                                                
            {{ include('AppBundle:common/match:datetime.html.twig', { match: match }) }}
            {% if(is_granted('ROLE_USER')) %}
            <span class="pull-right">
                {% if match.getIsStarted() == false %}
                <a id="matchStatistic_{{ match.getId() }}" href="{{ path('teams/statistic', { teamLeftId: match.getHomeTeam().getId(), teamRightId: match.getGuestTeam().getId() }) }}" class="glyphicon glyphicon-stats matchStatisticBtn" title="{{ 'Статистика'|trans }}"></a>
                {% else %}
                <a id="usersBets_{{ match.getId() }}" href="{{ path('tournament/users/bets', { tournament_id: tournament.getTournament().getId(), round: roundNum, match_id: match.getId() }) }}" class="glyphicon glyphicon-list-alt betsListBtn" title="{{ 'Прогнозы команд на этот матч'|trans }}" {% if attr.qualificationMatch is defined and attr.qualificationMatch %}data-qualificationmatch="1"{% endif %} {% if attr.groupMatch is defined and attr.groupMatch %}data-groupmatch="1"{% endif %}></a>
                {% endif %}            
            </span>
            {% endif %}
        {% endif %}                            
    </caption>
    <tr>
        <td>{{ match.getHomeTeam().getTitle()|trans }}</td>
        <td class="sm-col text-primary">
            <b>{{ match.getScoreLeft() }}</b>
        </td>
        {% if(userInTournament and match.getIsRejected() == false)  %}
        <td class="sm-col text-right {{ bet_input_class }}">
            <input 
                id="scoreLeft_{{ match.getId() }}" 
                name="score_left" 
                required="required" 
                min="0" 
                maxlength="2" 
                type="number" 
                value="{% if bet is not null %}{{ bet.getScoreLeft() }}{% endif %}" 
                class="form-control bet-control bet-control-one"
                {% if match.getIsStarted() %}disabled="disabled" {% endif %}                 
            />
        </td>
        <td rowspan="2" class="text-center valign-middle sm-col hidden">
            <span class="savingBet glyphicon glyphicon-refresh glyphicon-refresh-animate text-info hidden" title="{{ 'Идёт сохранение'|trans }}"></span>
            <span 
                class="saveBetBtn glyphicon glyphicon-floppy-saved text-success pointer hidden" 
                title="{{ 'Сохранить'|trans }}"
                data-url="{{ path('tournament/bet', { tournament_id: tournament.getTournament().getId(), match_id: match.getId(), round_num: roundNum }) }}"
                data-csrftoken="{{ csrfToken }}" 
                {% if attr.qualificationMatch is defined and attr.qualificationMatch %}data-qualificationmatch="1"{% endif %} 
                {% if attr.groupMatch is defined and attr.groupMatch %}data-groupmatch="1"{% endif %}
            ></span>
            <span class="savingBetFail glyphicon glyphicon-warning-sign text-danger hidden" title="{{ 'Возникла непредвиденная ошибка при попытке сохранения прогноза!'|trans }}"></span>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ match.getGuestTeam().getTitle()|trans }}</td>
        <td class="sm-col text-primary">
            <b>{{ match.getScoreRight() }}</b>
        </td>
        {% if(userInTournament and match.getIsRejected() == false)  %}
        <td class="sm-col text-right {{ bet_input_class }}">
            <input 
                id="scoreRight_{{ match.getId() }}" 
                name="score_right" 
                required="required" 
                min="0"  
                maxlength="2" 
                type="number" 
                value="{% if bet is not null %}{{ bet.getScoreRight() }}{% endif %}" 
                class="form-control bet-control bet-control-two"
                {% if match.getIsStarted() %}disabled="disabled" {% endif %}                 
            />
        </td>                            
        {% endif %}
    </tr>
    {% if userInTournament %}
    <tfoot>
    <tr>
        <td colspan="3" class="text-right text-info">
            {% if bet is not null and bet.getPoints() is not null %}
            <b>{{ 'Очков: %points%'|trans({ '%points%':  bet.getPoints() }) }}</b>
            {% elseif match.getIsStarted() and bet is null %}
            <b class="text-danger">{{ 'Прогноз на матч не сделан.'|trans }}</b> <b>{{ 'Очков: %points%'|trans({ '%points%':  0 }) }}</b>
            {% endif %}
        </td>
    </tr>
    </tfoot>
    {% endif %}                        
    {% else %}
    <tr>
        <td>{{ 'Матч №%num% пока не определён'|trans({ '%num%': matchNum }) }}</td>
    </tr>
    {% endif %}
</table>