{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}{{ 'Политика конфиденциальности'|trans }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Политика конфиденциальности'|trans }}</h1>
{{ policy.getPrivacy()|raw }}
{% endblock %}