{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}{{ 'Правила игры (Приложение 1 к Пользовательскому соглашению, редакция № %number% от %date%)'|trans({ '%number%': policy.getNumber(), '%date%': policy.getEditionDate.format('d.m.Y') }) }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Правила игры (Приложение 1 к Пользовательскому соглашению, редакция № %number% от %date%)'|trans({ '%number%': policy.getNumber(), '%date%': policy.getEditionDate.format('d.m.Y') }) }}</h1>
{{ policy.getRegulations()|raw }}
{% endblock %}