{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}{{ 'Пользовательское соглашение'|trans }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Пользовательское соглашение'|trans }}</h1>
{{ policy.getTerms()|raw }}
<br />
<p>{{ 'Неотъемлемой частью настоящего Соглашения являются'|trans }}:</p>
<ol>
    <li>
        <a href="{{ path('policies/regulations') }}">{{ 'Правила игры'|trans }} ({{ 'Общие положения'|trans }}, {{ 'Особенности расчета прогнозов'|trans }}, {{ 'Схема подсчета очков'|trans }}, {{ 'Распределение призовых для турниров'|trans }}, {{ 'Регламенты турниров'|trans }}, {{ 'Схемы турниров'|trans }}, {{ 'Карточка турнира'|trans }})</a>
    </li>
    <li>
        <a href="{{ path('policies/privacy') }}">{{ 'Политика конфиденциальности'|trans }}</a>
    </li>
</ol>
<br />
<p>{{ 'Редакция'|trans }} №{{ policy.getNumber() }} {{ 'от'|trans }} {{ policy.getEditionDate().format('d.m.Y') }}</p>
{% endblock %}