{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}{{ news.getTitle() }}{% endblock %}

{% block body %}
<h3>{{ news.getTitle() }}</h3>
{{ news.getText()|raw }}
{% endblock %}