{% if newsList|length > 0 %}
    {% for news in newsList %}    
    <h4>{{ news.getTitle() }}</h4>
    <p>{{ news.getSummary() }}{% if news.getText() is not null %} <a href="{{ path('news/detail', { news_id: news.getId() } ) }}" title="{{ 'подробней'|trans }}">...</a>{% endif %}</p>
    {% if loop.last == false %}<hr />{% endif %}
    {% endfor %}
{% else %}
 {{ 'Новостей не найдено'|trans }}
{% endif %}