{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/policies/pointsSchemas' %}

{% block title %}Схемы начисления очков{% endblock %}

{% block pageheader %}<i class="fa fa-money"></i> Схемы начисления очков{% endblock %}
{% block pagesubheader %}Редакции{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Схемы начисления очков</li>
</ol>
{% endblock %}

{% block body %}
<div>
<a href="{{ path('admin/policies/pointsSchemas/add') }}" class="btn btn-primary">
    <i class="fa fa-plus-circle"></i> Добавить cхему
</a>
</div>
<br />
<div class="box"
    ng-controller="AdminPoliciesPointsSchemasListCtrl"
>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th>№</th>
                        <th>Дата создания</th>
                        <th class="col-md-1 text-center">По-умолчанию</th>
                        <th class="text-center">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pointsSchema in pointsSchemas.items">
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" title="Просмотр" ng-click="pointsSchemas.view(pointsSchema.id)"><span class="fa fa-eye"></span></a>
                        </td>
                        <td>Схема №[[ pointsSchema.id ]]</td>
                        <td><datetime timestamp="pointsSchema.created"></datetime></td>
                        <td class="text-center">
                            <booleanval value="pointsSchema.isDefault"></booleanval>
                        </td>
                        <td class="text-center">
                            <a ng-hide="pointsSchema.isDefault" class="btn btn-sm btn-primary" href="/admin/policies/pointsSchemas/set_current.json/[[ pointsSchema.id ]]">Установить по-умолчанию</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        <div class="text-right">
            <uib-pagination
                total-items="pointsSchemas.total"
                ng-model="pointsSchemas.currentPage"
                items-per-page="pointsSchemas.pageSize"
                direction-links="false"
                num-pages="pointsSchemas.totalPages"
                ng-show="pointsSchemas.totalPages > 1"
                ng-init="pointsSchemas.loadPage(1)"
                ng-change="pointsSchemas.loadPage(pointsSchemas.currentPage)">
            </uib-pagination>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminPoliciesPointsSchemasService',
{% endblock %}

{% block javascripts %}
    {{ include(
        'AppBundle:admin/policies/pointsSchemas:modal.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}

    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/Policies/PointsSchemasService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/PointsSchemas/ListController.js'
        output='js/admin/policies/pointsSchemas.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}