{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/policies/regulations' %}

{% block title %}Регламенты турниров{% endblock %}

{% block pageheader %}<i class="fa fa-book"></i> Регламенты турниров{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Регламенты турниров</li>
</ol>
{% endblock %}

{% block body %}
<div>
<a href="{{ path('admin/policies/regulations/add') }}" class="btn btn-primary">
    <i class="fa fa-plus-circle"></i> Добавить редакцию
</a>
</div>
<br />
<div class="box"
    ng-controller="AdminPoliciesRegulationsListCtrl"
>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th>Редакция</th>
                        <th>Формат</th>
                        <th class="col-md-1 text-center">Текущая редакция</th>
                        <th class="text-center">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="edition in regulations.editions">
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" title="Просмотр" ng-click="regulations.view(edition.id)"><span class="fa fa-eye"></span></a>
                        </td>
                        <td>Редакция от [[ edition.editionDate ]]</td>
                        <td>[[ edition.tournamentFormat ]]</td>
                        <td class="text-center">
                            <booleanval value="edition.isDefault"></booleanval>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" href="/admin/policies/regulations/edit/[[ edition.id ]]"><i class="fa fa-pencil"></i></a>
                            <a
                                ng-hide="edition.isDefault"
                                class="btn btn-sm btn-primary"
                                href="/admin/policies/regulations/set_default.json/[[ edition.id ]]"
                                onclick="return confirm('Вы уверены, что хотите установить данную редакцию регламента редакцией по-умолчанию для данного типа?')"
                            >Установить текущей</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        <div class="text-right">
            <uib-pagination
                total-items="regulations.total"
                ng-model="regulations.currentPage"
                items-per-page="regulations.pageSize"
                direction-links="false"
                num-pages="regulations.totalPages"
                ng-show="regulations.totalPages > 1"
                ng-init="regulations.loadPage(1)"
                ng-change="regulations.loadPage(regulations.currentPage)">
            </uib-pagination>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminPoliciesRegulationsService',
{% endblock %}

{% block javascripts %}

    {{ include(
        'AppBundle:admin/policies/regulations:modal.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}

    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/Policies/RegulationsService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/Regulations/ListController.js'
        output='js/admin/policies/regulations.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}