{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/policies/terms' %}

{% block title %}Пользовательское соглашение{% endblock %}

{% block pageheader %}<i class="fa fa-book"></i> Пользовательское соглашение{% endblock %}
{% block pagesubheader %}Редакции{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Пользовательское соглашение</li>
</ol>
{% endblock %}

{% block body %}
<div>
<a href="{{ path('admin/policies/terms/add') }}" class="btn btn-primary">
    <i class="fa fa-plus-circle"></i> Добавить редакцию
</a>
</div>
<br />
<div class="box"
    ng-controller="AdminPoliciesTermsListCtrl"
>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th>Редакция</th>
                        <th class="col-md-1 text-center">Текущая редакция</th>
                        <th class="text-center">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="edition in terms.editions">
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" title="Просмотр" ng-click="terms.view(edition.id)"><span class="fa fa-eye"></span></a>
                        </td>
                        <td>Редакция №[[ edition.number ]] от [[ edition.editionDate ]]</td>
                        <td class="text-center">
                            <booleanval value="edition.isDefault"></booleanval>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" href="/admin/policies/terms/edit/[[ edition.id ]]"><i class="fa fa-pencil"></i></a>
                            <a
                                ng-hide="edition.isDefault"
                                class="btn btn-sm btn-primary"
                                href="/admin/policies/terms/set_current.json/[[ edition.id ]]"
                                onclick="return confirm('Вы уверены, что хотите установить данную редакцию текущей редакцией на сайте?')"
                            >Установить текущей</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        <div class="text-right">
            <uib-pagination
                total-items="terms.total"
                ng-model="terms.currentPage"
                items-per-page="terms.pageSize"
                direction-links="false"
                num-pages="terms.totalPages"
                ng-show="terms.totalPages > 1"
                ng-init="terms.loadPage(1)"
                ng-change="terms.loadPage(terms.currentPage)">
            </uib-pagination>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminPoliciesTermsService',
{% endblock %}

{% block javascripts %}

    {{ include(
        'AppBundle:admin/policies/terms:modal.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}

    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/Policies/TermsService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/Terms/ListController.js'
        output='js/admin/policies/terms.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}