<script type="text/ng-template" id="tournamentPlayoffGamePairTmpl.html">
<div class="row playoff-game-pairs-row" ng-repeat="gamePairs in gamesPairs" ng-show="gamePairs.length > 1">
    <div class="col-xs-12">
        <table class="table-condensed playoff-games-table">
            <tbody>
                <tr>
                    <td class="col-xs-5 playoff-game-cell playoff-game-cell-top">
                        <div class="input-group">
                            <div class="form-control">
                                <userlink user-id="gamePairs[0].userLeft.id" user-nick="gamePairs[0].userLeft.nick" user-avatar="gamePairs[0].userLeft.avatar"></userlink>
                            </div>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsLeft == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsLeft != null">{{ '{{ gamePairs[0].pointsLeft }}' }}</span>
                        </div>
                    </td>
                    <td class="col-xs-1 playoff-game-brackets-cell" rowspan="3">
                        <div class="playoff-game-brackets-wrapper">
                            <span class="bracket-top-left"></span>
                            <span class="bracket-bottom-left"></span>
                            <span class="bracket-middle-left"></span>
                        </div>
                    </td>
                    <td class="col-xs-1 playoff-game-brackets-cell" rowspan="3">
                        <div class="playoff-game-brackets-wrapper">
                            <span class="bracket-top-right"></span>
                            <span class="bracket-bottom-right"></span>
                            <span class="bracket-middle-right"></span>
                        </div>
                    </td>
                    <td class="col-xs-5 playoff-game-cell playoff-game-cell-top">
                        <div class="input-group">
                            <div class="form-control">
                                <userlink user-id="gamePairs[1].userLeft.id" user-nick="gamePairs[1].userLeft.nick" user-avatar="gamePairs[1].userLeft.avatar"></userlink>
                            </div>
                            <span class="input-group-addon" ng-show="gamePairs[1].pointsLeft == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[1].pointsLeft != null">{{ '{{ gamePairs[1].pointsLeft }}' }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-5 playoff-game-cell playoff-game-cell-bottom">
                        <div class="input-group">
                            <div class="form-control">
                                <userlink user-id="gamePairs[0].userRight.id" user-nick="gamePairs[0].userRight.nick" user-avatar="gamePairs[0].userRight.avatar"></userlink>
                            </div>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsRight == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsRight != null">{{ '{{ gamePairs[0].pointsRight }}' }}</span>
                        </div>
                    </td>
                    <td class="col-xs-5 playoff-game-cell playoff-game-cell-bottom">
                        <div class="input-group">
                            <div class="form-control">
                                <userlink user-id="gamePairs[1].userRight.id" user-nick="gamePairs[1].userRight.nick" user-avatar="gamePairs[1].userRight.avatar"></userlink>
                            </div>
                            <span class="input-group-addon" ng-show="gamePairs[1].pointsRight == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[1].pointsRight != null">{{ '{{ gamePairs[1].pointsRight }}' }}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="col-xs-5 text-center">
                        <span class="label label-info pointer" ng-show="gamePairs[0].pointsLeft != null && gamePairs[0].pointsRight != null" ng-click="showGameInfo(tournamentId, gamePairs[0].id)">{{ 'Подробнее'|trans }}</span>
                    </td>
                    <td class="col-xs-1">&nbsp;</td>
                    <td class="col-xs-1">&nbsp;</td>
                    <td class="col-xs-5 text-center">
                        <span class="label label-info pointer" ng-show="gamePairs[1].pointsLeft != null && gamePairs[1].pointsRight != null" ng ng-click="showGameInfo(tournamentId, gamePairs[1].id)">{{ 'Подробнее'|trans }}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Финал -->
<div class="row playoff-game-pairs-row" ng-repeat="gamePairs in gamesPairs" ng-show="gamePairs.length == 1">
    <div class="col-xs-12">
        <table class="table-condensed playoff-games-table">
            <tbody>
                <tr>
                    <td class="col-xs-6 playoff-game-cell">
                        <div class="input-group">
                            <div class="form-control">
                                <userlink user-id="gamePairs[0].userLeft.id" user-nick="gamePairs[0].userLeft.nick" user-avatar="gamePairs[0].userLeft.avatar"></userlink>
                            </div>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsLeft == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsLeft != null">{{ '{{ gamePairs[0].pointsLeft }}' }}</span>
                        </div>
                    </td>
                    <td class="col-xs-6 playoff-game-cell text-right">
                        <div class="input-group">
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsRight == null">&ndash;</span>
                            <span class="input-group-addon" ng-show="gamePairs[0].pointsRight != null">{{ '{{ gamePairs[0].pointsRight }}' }}</span>
                            <div class="form-control">
                                <userlink user-id="gamePairs[0].userRight.id" user-nick="gamePairs[0].userRight.nick" user-avatar="gamePairs[0].userRight.avatar"></userlink>
                            </div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="gamePairs[0].pointsLeft != null && gamePairs[0].pointsRight != null">
                <tr>
                    <td class="col-xs-12 text-center" colspan="3">
                        <span class="label label-info pointer" ng-click="showGameInfo(tournamentId, gamePairs[0].id)">{{ 'Подробнее'|trans }}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</script>

<script type="text/ng-template" id="tournamentPlayoffGameInfoTmpl.html">
<div class="modal-header">
    <div class="row">
        <div class="col-xs-6">
            <strong><userlink user-id="gameInfo.userLeft.id" user-nick="gameInfo.userLeft.nick" user-avatar="gameInfo.userLeft.avatar"></userlink></strong>
        </div>
        <div class="col-xs-6 text-right">
            <strong><userlink user-id="gameInfo.userRight.id" user-nick="gameInfo.userRight.nick" user-avatar="gameInfo.userRight.avatar"></userlink></strong>
        </div>
    </div>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <td colspan="3" class="text-center bg-info">
                    <strong>{{ 'Общая информация'|trans }}</strong>
                </td>
            </tr>
            <tr>
                <td class="col-xs-3 text-left">
                    {{ '{{gameInfo.userLeft.totalGuessedResults}}' }}
                </td>
                <td class="col-xs-6 text-center">
                    {{ 'Угаданных счетов'|trans }}
                </td>
                <td class="col-xs-3 text-right">
                    {{ '{{gameInfo.userRight.totalGuessedResults}}' }}
                </td>
            </tr>
            <tr>
                <td class="col-xs-3 text-left">
                    {{ '{{gameInfo.userLeft.totalGuessedDiff}}' }}
                </td>
                <td class="col-xs-6 text-center">
                    {{ 'Угаданных разниц'|trans }}
                </td>
                <td class="col-xs-3 text-right">
                    {{ '{{gameInfo.userRight.totalGuessedDiff}}' }}
                </td>
            </tr>
            <tr>
                <td class="col-xs-3 text-left">
                    {{ '{{gameInfo.userLeft.totalGuessedOutcomes}}' }}
                </td>
                <td class="col-xs-6 text-center">
                    {{ 'Угаданных исходов'|trans }}
                </td>
                <td class="col-xs-3 text-right">
                    {{ '{{gameInfo.userRight.totalGuessedOutcomes}}' }}
                </td>
            </tr>
            <tr>
                <td class="col-xs-3 text-left">
                    <userrating val="gameInfo.userLeft.rating"></userrating>
                </td>
                <td class="col-xs-6 text-center">
                    <abbr class="initialism" title="{{ 'Рейтинг пользователя на момент подсчёта очков'|trans }}">{{ 'Р'|trans }}</abbr>
                </td>
                <td class="col-xs-3 text-right">
                    <userrating val="gameInfo.userRight.rating"></userrating>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" class="text-center bg-info">
                    <strong>{{ 'Матчи'|trans }}</strong>
                </td>
            </tr>
            <tr ng-repeat="info in gameInfo.matches">
                <td class="col-xs-3 text-left">
                    <i class="glyphicon glyphicon-time" ng-show="!info.match.isProcessed"></i>
                    <span ng-show="info.match.isProcessed">{{ '{{info.points.userLeft}}' }}</span>
                </td>
                <td class="col-xs-6 text-center">{{ '{{info.match.homeTeamTitle}}' }} &mdash; {{ '{{info.match.guestTeamTitle}}' }} </td>
                <td class="col-xs-3 text-right">
                    <i class="glyphicon glyphicon-time" ng-show="!info.match.isProcessed"></i>
                    <span ng-show="info.match.isProcessed">{{ '{{info.points.userRight}}' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{ 'Закрыть'|trans }}</button>
</div>
</script>