{% extends 'AppBundle:frontend/layouts:tournament.html.twig' %}

{% block content %}

{{ include('AppBundle:frontend/tournaments/playoff:games.html.twig') }}

<div ng-controller="TournamentPlayoffCtrl" ng-cloak>
  <uib-tabset active="activePill" type="pills" class="tournament-tabs">
    <uib-tab index="0" heading="{{ 'Турнир'|trans }}">

      <div class="row">
        <div class="col-md-7">

          <uib-tabset active="activePlayoffPill" type="pills" class="tournament-playoff-tabs">

            <uib-tab index="0" heading="{{ 'Квалификация'|trans }}" select="loadQualification({{ tournament.getStage() }}, {{ tournament.getCurrentRound() }})">

                {{ include('AppBundle:frontend/tournaments/championship:results.html.twig', { 'resultsVar' : 'qualificationResults' }) }}

            </uib-tab>
            {% if(tournament.getStage() == 'PLAYOFF') %}
            <uib-tab index="1" heading="{{ 'Плей-офф'|trans }}" select="loadPlayoff({{ tournament.getCurrentRound() }})">

                <playoffpairs
                    tournament-id="tournament.id"
                    games-pairs="gamesPairs"
                ></playoffpairs>

            </uib-tab>
            {% endif %}
          </uib-tabset>


        </div>
        <div class="col-md-5">
            <tournamentmatches
                tournament-id="tournament.id"
                matches-by-rounds="tournament.matchesByRounds"
                current-round="tournament.currentRound"
            ></tournamentmatches>
        </div>
      </div>
    </uib-tab>
    {% if tournamentStatus == 'STATUS_OVER' %}
    <uib-tab index="1" heading="{{ 'Результаты'|trans }}" select="loadWinners()">

      <div class="row">
        <div class="col-xs-12">

          {{ include('AppBundle:frontend/tournaments:winners.html.twig') }}

        </div>
      </div>

    </uib-tab>
    {% endif %}
  </uib-tabset>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@AppBundle/Resources/public/css/tournament/playoff/view.css'
    '@AppBundle/Resources/public/css/tournament/playoff_games.css'
    output='/css/tournament/playoff/view.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block angularequire %}
{{ parent() }}
'PlayoffService',
'TournamentPlayoffPairsDirective',
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var TOURNAMENT_STAGE = '{{ tournament.getStage() }}';
</script>
{% javascripts
  '@AppBundle/Resources/public/js/app/services/Tournament/PlayoffService.js'
  '@AppBundle/Resources/public/js/app/directives/Tournament/PlayoffPairsDirective.js'
  '@AppBundle/Resources/public/js/app/controllers/Tournament/PlayoffController.js'
  output='/js/tournaments/playoff/view.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}