<h3>{{ 'Победители'|trans }}</h3>
<div class="table-responsive">
    <table class="table table-hover table-winners table-championsleague-winners">
        <thead>
            <tr>
                <td class="sm-col text-center">{{ 'Место'|trans }}</td>
                <td>{{ 'Пользователь'|trans }}</td>                    
                {% if (tournament.getTournament().getInitBudget() > 0 or tournament.getTournament().getFee()) > 0 %}
                <td class="sm-col text-center">{{ 'Процент'|trans }}</td>                    
                <td class="sm-col text-center">{{ 'Сумма'|trans }}</td>                    
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr{% if(is_granted('ROLE_USER') and result.getUser().getId() == app.user.getId()) %} class="bg-info"{% endif%}>
                <td class="text-center">{{ result.getPlace() }}</td>
                <td>{{ include('AppBundle:common/user:user.html.twig', { user: result.getUser(), show_avatar: true }) }}</td>                    
                {% if tournament.getTournament().getFee() > 0 %}
                <td class="text-center">{{ result.getPercent() }} %</td>                    
                <td class="sm-col text-right text-primary success">{{ include('AppBundle:common:money.html.twig', { money: result.getSum()|number_format(2, ',', '') }) }}</td>                    
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>