{% set activePage = activePage|default('admin/index') %}
{% set activeSubpage = activeSubpage|default(null) %}
<!DOCTYPE html>
<html lang="ru" ng-app="fbAdminApp">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | FootBattle Control Panel</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- Bootstrap 3.3.2 -->
        <link href="/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- FontAwesome 4.3.0 -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" async />
        <!-- Ionicons 2.0.0 -->
        <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" async />
        <!-- Theme style -->
        <link href="/admin/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
        <link href="/admin/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
        <!-- Pace -->
        <link href="/admin/plugins/pace/pace.css" rel="stylesheet" type="text/css" />
        <!-- Daterangepicker -->
        <link href="/admin/dist/css/daterangepicker.css" rel="stylesheet" type="text/css" />
        <!-- Bundle styles -->
        <link href="/admin/dist/css/appbundle.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% javascripts
            '@angular'
            output='js/angular.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
        {% endjavascripts %}
    </head>
    <body id="siteContainer" class="skin-blue">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{ path('admin/index') }}" class="logo"><b>Foot</b>Battle <b>CP</b></a>

                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Скрыть навигационную панель</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#user-dropdown" class="dropdown-toggle" data-toggle="dropdown">
                                  <span class="hidden-xs">{{ include('AppBundle:common/user:user.html.twig', { user: app.user, no_link: true }) }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <p>
                                            {{ include('AppBundle:common/user:user.html.twig', { user: app.user, no_link: true }) }}
                                            <small>Роль: {{ role_helper.getTitle(app.user.getRole()) }}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                          <a href="{{ path('homepage') }}" class="btn btn-default btn-flat">На сайт</a>
                                        </div>
                                        <div class="pull-right">
                                          <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Выход</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left info">
                            <p>{{ include('AppBundle:common/user:user.html.twig', { user: app.user, no_link: true }) }}</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Онлайн</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">Основное</li>
                        <li{% if activePage == 'admin/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/index') }}">
                            <i class="fa fa-dashboard"></i> <span>Главная</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/news/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/news/index') }}">
                            <i class="fa fa-flag"></i> <span>Новости</span>
                          </a>
                        </li>
                        <li class="treeview{% if activePage == 'admin/tournaments/index' %} active{% endif %}">
                          <a href="#tournaments">
                            <i class="fa fa-flag-checkered"></i> <span>Турниры</span>
                            <i class="fa fa-angle-left pull-right"></i>
                          </a>
                          <ul class="treeview-menu{% if activePage == 'admin/tournaments/index' %} menu-open{% endif %}">
                            <li{% if activeSubpage == 'admin/tournaments/draft' %} class="active"{% endif %}><a href="{{ path('admin/tournaments/draft') }}"><i class="fa fa-circle-o"></i> Черновики</a></li>
                            <li{% if activeSubpage == 'admin/tournaments/published' %} class="active"{% endif %}><a href="{{ path('admin/tournaments/published') }}"><i class="fa fa-circle-o"></i> Опубликованные</a></li>
                            <li{% if activeSubpage == 'admin/tournaments/finished' %} class="active"{% endif %}><a href="{{ path('admin/tournaments/finished') }}"><i class="fa fa-circle-o"></i> Оконченные</a></li>
                          </ul>
                        </li>
                        <li class="header">Управление</li>
                        <li{% if activePage == 'admin/users/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/users/index') }}">
                            <i class="fa fa-users"></i> <span>Пользователи</span>
                          </a>
                        </li>
                        <li class="header">Лиги/Кубки/Матчи</li>
                        <li{% if activePage == 'admin/leagues/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/leagues/index') }}">
                            <i class="fa fa-trophy"></i> <span>Лиги/Кубки/Матчи</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/resources/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/resources/index') }}">
                            <i class="fa fa-download"></i> <span>Ресурсы результатов матчей</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/teams/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/teams/index') }}">
                            <i class="fa fa-male"></i> <span>Команды</span>
                          </a>
                        </li>
                        <li class="header">Пользовательское соглашение/Настройки</li>
                        <li{% if activePage == 'admin/policies/terms' %} class="active"{% endif %}>
                          <a href="{{ path('admin/policies/terms') }}">
                            <i class="fa fa-book"></i> <span>Редакции</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/policies/regulations' %} class="active"{% endif %}>
                          <a href="{{ path('admin/policies/regulations') }}">
                            <i class="fa fa-book"></i> <span>Регламенты турниров</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/policies/pointsSchemas' %} class="active"{% endif %}>
                          <a href="{{ path('admin/policies/pointsSchemas') }}">
                            <i class="fa fa-money"></i> <span>Схемы начисления очков</span>
                          </a>
                        </li>
                        <li{% if activePage == 'admin/win_distribution/index' %} class="active"{% endif %}>
                          <a href="{{ path('admin/win_distribution/index') }}">
                            <i class="fa fa-percent"></i> <span>Распределение призовых</span>
                          </a>
                        </li>
                        <!--
                        <li>
                          <a href="#">
                            <i class="fa fa-list-alt"></i> <span>Команды</span>
                          </a>
                        </li>
                        -->
                    </ul>
                </section>
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                  <h1>
                    {% block pageheader %}{% endblock %} <small>{% block pagesubheader %}{% endblock %}</small>
                  </h1>
                  {% block breadcrumbs %}{% endblock %}
                </section>
                <!-- Main content -->
                <section class="content">
                    {% block body %}{% endblock %}
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
                <strong>Версия</strong> {{ version }}
            </footer>
        </div><!-- ./wrapper -->
        <!-- jQuery 2.1.3 -->
        <script src="/admin/plugins/jQuery/jQuery-2.1.3.min.js"></script>
        <!-- jQuery UI 1.11.2 -->
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/admin/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- Slimscroll -->
        <script src="/admin/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <!-- FastClick -->
        <script src='/admin/plugins/fastclick/fastclick.min.js'></script>
        <!-- Pace -->
        <script src='/admin/plugins/pace/pace.js'></script>
        <!-- AdminLTE App -->
        <script src="/admin/dist/js/app.min.js" type="text/javascript"></script>
        <!-- App js -->
        <script src="/admin/dist/js/appbundle.js" type="text/javascript"></script>
        <!-- App js -->
        <script src="/admin/js/app.js" type="text/javascript"></script>
        <!-- App js -->
        <script src="/admin/js/utils.js" type="text/javascript"></script>
        <!-- Highcharts js -->
        <script src="/admin/highcharts/js/highcharts.js"></script>
        <script src="/admin/js/highcharts_options.js"></script>
        <script type="text/javascript">
        var fbAdminApp = angular.module('fbAdminApp', [
            'ui.bootstrap',
            'daterangepicker',
            'ngReplaceName',
            'AdminFBDateRangePickerDirective',
            'AdminBooleanSelectDirective',
            'AdminBooleanValueDirective',
            'AdminDatetimeDirective',
            'AdminUserRoleDirective',
            'MoneyDirective',
            'TournamentStatusDirective',
            'FieldValueDirective',
            'UtilsService',
            'AdminUtilsService',
          {% block angularequire %}{% endblock %}
        ]).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('[[').endSymbol(']]');
        });
        </script>
        {{ include('AppBundle:admin:error_modal.html.twig') }}
        {% javascripts
            '@AppBundle/Resources/public/js/vendors/moment.min.js'
            '@AppBundle/Resources/public/js/vendors/bootstrap-daterangepicker.min.js'
            '@AppBundle/Resources/public/js/vendors/angular/angular-daterangepicker.js'
            '@AppBundle/Resources/public/js/app/services/UtilsService.js'
            '@AppBundle/Resources/public/js/adminapp/services/UtilsService.js'
            '@AppBundle/Resources/public/js/adminapp/directives/ngReplaceName.js'
            '@AppBundle/Resources/public/js/adminapp/directives/FBDateRangePickerDirective.js'
            '@AppBundle/Resources/public/js/adminapp/directives/BooleanSelectDirective.js'
            '@AppBundle/Resources/public/js/adminapp/directives/BooleanValueDirective.js'
            '@AppBundle/Resources/public/js/adminapp/directives/DatetimeDirective.js'
            '@AppBundle/Resources/public/js/adminapp/directives/UserRoleDirective.js'
            '@AppBundle/Resources/public/js/app/directives/MoneyDirective.js'
            '@AppBundle/Resources/public/js/app/directives/FieldValueDirective.js'
            '@AppBundle/Resources/public/js/app/directives/TournamentStatusDirective.js'
            '@AppBundle/Resources/public/js/adminapp/controllers/TopNavigationController.js'
            output='js/admin/base.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>