
.pace {
    -moz-user-select: none;
    pointer-events: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #fff none repeat scroll 0 0;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.pace .pace-progress-inner {
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0px, -4px);
    width: 100px;
}
.pace .pace-activity {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 400ms linear 0s normal none infinite running pace-spinner;
    border-color: #fff transparent transparent #fff;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 14px;
    position: fixed;
    right: 50%;
    top: 15px;
    width: 14px;
    z-index: 2000;
}
@media (max-width: 767px) {
.pace .pace-activity {
    height: 14px;
    right: 15px;
    top: 15px;
    width: 14px;
}
}
@keyframes pace-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes pace-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
