<h3>{{ 'Групповой этап'|trans }}: {{ 'Игры'|trans }}</h3>
{% for roundNum, roundGames in gamesByRounds %}
<div class="games-header">
    <p class="label label-default games-roundnum-label">{{ 'Тур %round%'|trans({ '%round%': roundNum }) }}</p>
</div>        
    <div class="panel-group" id="gamesAccordion_round_{{ roundNum }}" role="tablist" aria-multiselectable="true">
    {% for game in roundGames %}
    {% set gameNum = loop.index %}
    <div class="panel game-panel" id="game_{{ game.getId() }}">
        <div class="panel-heading game-panel-heading" role="tab" id="group_round_{{ roundNum }}_game_{ gameNum }}_heading">
            <div class="panel-title row game-panel-title">
                <div class="col-xs-4 text-center game-panel-cell">
                    {{ include('AppBundle:common/user:user.html.twig', { user: game.getUserLeft(), show_avatar: true }) }}
                </div>
                <div class="col-xs-4 text-center game-panel-cell">
                    <div class="label label-primary game-score-wrap">
                    {% if game.getPointsLeft() is not null %}
                        {{ game.getPointsLeft() }}
                    {% else %}
                        &mdash;
                    {% endif %}
                    :
                    {% if game.getPointsRight() is not null %}
                        {{ game.getPointsRight() }}                            
                    {% else %}
                        &mdash;                            
                    {% endif %}
                    </div>                
                </div>
                <div class="col-xs-4 text-center game-panel-cell">
                    {{ include('AppBundle:common/user:user.html.twig', { user: game.getUserRight(), show_avatar: true }) }}
                </div>                
            </div>
        </div>                
        {% if game.getPointsLeft() is not null and game.getPointsRight() is not null %}
        <div id="group_game_info_{{ game.getId() }}" class="panel-collapse collapse game-info-box" role="tabpanel" aria-labelledby="group_game_info_{{ game.getId() }}_heading">
            <div class="panel-body game-info-wrap">
                <table class="table">
                    <tbody>                                
                        {% set roundMatches = matchesByRounds[roundNum] %}                            
                        {% for match in roundMatches %}
                            <tr>
                                <td class="col-xs-5 text-left valign-middle">
                                {% if usersBets[match.getId()][game.getUserLeft().getId()] is defined %}
                                    {{ usersBets[match.getId()][game.getUserLeft().getId()].getPoints() }}
                                {% else %}
                                {{ 'Прогноз на матч не сделан.'|trans }}
                                {% endif %}
                                </td>
                                <td class="col-xs-2 text-center">
                                    {{ match.getHomeTeam().getTitle() }}<br />&mdash;<br />{{ match.getGuestTeam().getTitle() }}
                                </td>
                                <td class="col-xs-5 text-right valign-middle">
                                {% if usersBets[match.getId()][game.getUserRight().getId()] is defined %}
                                    {{ usersBets[match.getId()][game.getUserRight().getId()].getPoints() }}
                                {% else %}
                                {{ 'Прогноз на матч не сделан.'|trans }}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
        <div class="game_info text-center">
            <a aria-controls="group_game_info_{{ game.getId() }}" aria-expanded="false" href="#group_game_info_{{ game.getId() }}" data-parent="#game_{{ game.getId() }}" data-toggle="collapse" class="expand_game_control" title="{{ 'Подробности игры'|trans }}"></a>
        </div>
        {% endif %}
    </div>
    {% endfor %}            
    </div>
{% endfor %}    