<h3>{{ 'Результаты'|trans }}</h3>
{% set groupNames = range('A', 'Z') %}
<!--<ul id="groupsLabels" class="breadcrumb">-->
<div id="groupsLabels" class="groupLabels btn-group btn-group-justified" role="group">
    {% for groupNum in range(1, tournament.getRealGroupsCount()) %}                                                
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-default groupLabel{% if groupNum == group %} active{% endif %}" data-groupnum="{{ groupNum }}" data-results="{{ path('tournament/championsleague/groupResults', { tournament_id: tournament.getTournament().getId(), group: groupNum, round: round }) }}" data-games="{{ path('tournament/championsleague/groupGames', { tournament_id: tournament.getTournament().getId(), group: groupNum }) }}">
                {{ groupNames[(groupNum - 1)] }}
                <!-- {{ 'Группа %s%'|trans({ '%s%': groupNames[(groupNum - 1)] }) }} -->
            </button>
        </div>
    {% endfor %}            
</div>
<!-- </ul> -->
<div id="groupResults">
    <div class="table-responsive">
        <table class="table table-hover table-championsleague-group-results">
            <thead>
                <tr>
                    <td class="sm-col text-center">{{ 'Место'|trans }}</td>
                    <td>{{ 'Команда'|trans }}</td>                                    
                    <td class="text-center">
                        <abbr class="initialism" title="{{ 'Выигрышей'|trans }}">{{ 'В'|trans }}</abbr>
                    </td>                                
                    <td class="text-center">
                        <abbr class="initialism" title="{{ 'Ничьи'|trans }}">{{ 'Н'|trans }}</abbr>                                    
                    </td>                                                    
                    <td class="text-center">
                        <abbr class="initialism" title="{{ 'Поражения'|trans }}">{{ 'П'|trans }}</abbr>                                    
                    </td>
                    <td class="text-center">
                        <abbr class="initialism" title="{{ 'Заработанные очки'|trans }}">{{ 'ЗО'|trans }}</abbr>
                    </td>                    
                    <td class="text-center">
                        <abbr class="initialism" title="{{ 'Рейтинг пользователя на момент подсчёта очков'|trans }}">{{ 'Р'|trans }}</abbr>                                    
                    </td>
                    <td class="sm-col text-center success">
                        <abbr class="initialism" title="{{ 'Баллы'|trans }}">{{ 'Б'|trans }}</abbr>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}                                    
                <tr class="{% if tournament.getRealUsersOutOfQualification() is not null and result.getPlace() > tournament.getRealUsersOutOfGroup() %}bg-danger{% endif %}{% if(is_granted('ROLE_USER') and result.getUser().getId() == app.user.getId()) %} bg-info{% endif%}">
                    <td class="text-center">{{ result.getPlace() }}</td>
                    <td>{{ include('AppBundle:common/user:user.html.twig', { user: result.getUser() }) }}</td>
                    <td class="text-center">{{ result.getTotalWins() }}</td>
                    <td class="text-center">{{ result.getTotalDraws() }}</td>
                    <td class="text-center">{{ result.getTotalLoss() }}</td>                
                    <td class="text-center">{{ result.getTotalGoalsScored() }}</td>                                    
                    <td class="text-center">{{ result.getUserRating()|number_format(4, '.', ',') }}</td>
                    <td class="text-center text-primary success"><b>{{ result.getTotalPoints() }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>