{% set realUsersCount = tournament.getTournament().getUsers()|length %}

<div class="col-xs-6">
<h5><b>{{ 'Информация о турнире'|trans }}</b></h5>    
    <p>{{ 'Максимальное число команд'|trans }}: <b class="text-success">{{ tournament.getMaxUsersCount() }}</b></p>
    <p><b>{{ 'Квалификация'|trans }}</b></p>
        <p>{{ 'Количество туров' }}: <b class="text-success">{{ tournament.getQualificationRoundsCount() }}</b></p>
        <p>{{ 'Количество матчей в туре' }}: <b class="text-success">{{ tournament.getMatchesInQualification() }}</b></p>
    <p><b>{{ 'Групповой этап'|trans }}</b></p>        
        {% if tournament.getTournament().getIsStarted() == false %}
        <p class="text-info">{{ 'Данные расчитаны на максимальное количество участников.'|trans }}</p>
        {% endif %}
        <p>{{ 'Количество групп' }}: <b class="text-success">{{ groupsCount }}</b></p>
        <p>{{ 'Количество туров' }}: <b class="text-success">{{ groupsRoundsCount }}</b></p>
        <p>{{ 'Количество матчей в туре' }}: <b class="text-success">{{ tournament.getMatchesInGame() }}</b></p>        
        <p>{{ 'Количество команд выходящих из группы' }}: <b class="text-success">{{ usersOutOfGroup }}</b></p>        
    <p><b>{{ 'Плей-офф'|trans }}</b></p>
        {% if tournament.getTournament().getIsStarted() == false %}
        <p class="text-info">{{ 'Данные расчитаны на максимальное количество команд.'|trans }}</p>
        {% endif %}
        <p>{{ 'Начальная стадия' }}: <b class="text-success">{{ include("AppBundle:common/tournament:playoff_round_title.html.twig", { roundsCount: playoffRoundsCount, roundNum: 1 }) }}</b></p>        
        <p>{{ 'Количество матчей в игре' }}: <b class="text-success">{{ tournament.getMatchesInPlayoff() }}</b></p>    
</div>
{% if tournament.getTournament().getFee() > 0 %}
<div class="col-xs-6">
<h5><b>{{ 'Распределение призовых'|trans }}</b></h5>    
    {% if tournament.getTournament().getIsStarted() == false %}
    <p class="text-info">{{ 'Представлены возможные призовые при расчёте на максимальное количество команд.'|trans }}</p>
    {% endif %}
    {% for winPlace in winDistribution %}
    <p>
    {{ winPlace.getPlace() }} место &mdash; {{ winPlace.getPercent() }}% 
    {% if tournament.getTournament().getIsStarted() %}
        {% set totalSumm = tournament.getTournament().getInitBudget() + (tournament.getTournament().getFee()*realUsersCount)  %}        
        {% set realSumm = totalSumm - (totalSumm*tournament.getTournament().getCommission())/100  %}
        ({% set money = (realSumm*winPlace.getPercent())/100 %}{{ include('AppBundle:common:money.html.twig', { money: (realSumm*winPlace.getPercent())/100 }) }})
    {% endif %}
    </p>
    {% endfor %}
</div>
{% endif %}