<h3>{{ 'Матчи'|trans }}</h3>
<div class="panel-group" id="matchesAccordion" role="tablist" aria-multiselectable="true">
{% for roundNum, roundMatches in qualificationMatches %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="qualification_round_{{ roundNum }}_heading" data-stage="QUALIFICATION" data-results="{{ path('tournament/championsleague/qualificationResults', { tournament_id: tournament.getTournament().getId(), round: roundNum }) }}">
            <h4 class="panel-title">
                <a class="expand_area" data-toggle="collapse" data-parent="#matchesAccordion" href="#qualification_round_{{ roundNum }}" aria-expanded="{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'QUALIFICATION' and tournament.getCurrentRound() == roundNum %}true{% else %}false{% endif %}" aria-controls="qualification_round_{{ roundNum }}">
                {{ 'Квалификация' }}: {{ 'Тур %round%'|trans({ '%round%': roundNum }) }}
                </a>
            </h4>
        </div>
        <div id="qualification_round_{{ roundNum }}" class="panel-collapse collapse{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'QUALIFICATION' and tournament.getCurrentRound() == roundNum %} in{% endif %}" role="tabpanel" aria-labelledby="qualification_round_{{ roundNum }}_heading">
            <div id="qualification_matches" class="panel-body">                
                {% for matchNum, roundMatch in roundMatches %}
                    {{ include("AppBundle:common/match:tournament_match.html.twig", { roundMatch: roundMatch, userBets: userBets, tournament: tournament, userInTournament: userInQualification, attr: { qualificationMatch: true } }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% if tournament.getTournament().getIsStarted() == false %}
<br />
<div class="alert alert-info">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'Представлено максимальное количество туров. При старте турнира, количество туров будет автоматически скорректировано по количеству реальных участников.'|trans }}
</div>
{% endif %}

{% for roundNum, roundMatches in groupMatches %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="group_round_{{ roundNum }}_heading" data-stage="GROUP" data-games="{{ path('tournament/championsleague/groupGames', { tournament_id: tournament.getTournament().getId(), group: userGroup }) }}" data-gamestpl="{{ path('tournament/championsleague/groupGames', { tournament_id: tournament.getTournament().getId(), group: 0 }) }}" data-results="{{ path('tournament/championsleague/groupResults', { tournament_id: tournament.getTournament().getId(), group: userGroup, round: roundNum }) }}" data-resultstpl="{{ path('tournament/championsleague/groupResults', { tournament_id: tournament.getTournament().getId(), group: 0, round: roundNum }) }}">
            <h4 class="panel-title">
                <a class="expand_area" data-toggle="collapse" data-parent="#matchesAccordion" href="#group_round_{{ roundNum }}" aria-expanded="{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'GROUP' and tournament.getCurrentRound() == roundNum %}true{% else %}false{% endif %}" aria-controls="group_round_{{ roundNum }}">
                {{ 'Групповой этап'|trans }}: {{ 'Тур %round%'|trans({ '%round%': roundNum }) }}
                </a>
            </h4>
        </div>
        <div id="group_round_{{ roundNum }}" class="panel-collapse collapse{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'GROUP' and tournament.getCurrentRound() == roundNum %} in{% endif %}" role="tabpanel" aria-labelledby="group_round_{{ roundNum }}_heading">
            <div id="group_matches" class="panel-body">            
                {% for matchNum, roundMatch in roundMatches %}                                        
                    {{ include("AppBundle:common/match:tournament_match.html.twig", { roundMatch: roundMatch, userBets: userBets, tournament: tournament, userInTournament: userInGroup, attr: { groupMatch: true } }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% for roundNum, roundMatches in playoffMatches %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="playoff_round_{{ roundNum }}_heading" data-stage="PLAYOFF" data-games="{{ path('tournament/championsleague/playoffGames', { tournament_id: tournament.getTournament().getId(), round: roundNum }) }}">
            <h4 class="panel-title">
                <a class="expand_area" data-toggle="collapse" data-parent="#matchesAccordion" href="#playoff_round_{{ roundNum }}" aria-expanded="{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'PLAYOFF' and tournament.getCurrentRound() == roundNum %}true{% else %}false{% endif %}" aria-controls="playoff_round_{{ roundNum }}">
                {{ 'Плей-офф'|trans }}: {{ include("AppBundle:common/tournament:playoff_round_title.html.twig", { roundsCount: playoffMatches|length, roundNum: roundNum }) }}
                </a>
            </h4>
        </div>
        <div id="playoff_round_{{ roundNum }}" class="panel-collapse collapse{% if tournament.getTournament().isOver() == false and tournament.getStage() == 'PLAYOFF' and tournament.getCurrentRound() == roundNum %} in{% endif %}" role="tabpanel" aria-labelledby="playoff_round_{{ roundNum }}_heading">
            <div id="playoff_matches" class="panel-body">            
                {% for matchNum, roundMatch in roundMatches %}                                                            
                    {{ include("AppBundle:common/match:tournament_match.html.twig", { roundMatch: roundMatch, userBets: userBets, tournament: tournament, userInTournament: userInPlayoffRounds[roundNum] }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
{% if tournament.getTournament().getIsWinPrizeDistributed() != false %}
    <div class="panel panel-default">
        <div class="panel-heading winprizes-panel-heading" role="tab" id="winners_heading" data-winners_tab="1" data-winners_url="{{ path('tournament/winners', { tournament_id : tournament.getTournament().getId() }) }}">
            <h4 class="panel-title">
                <a class="winprizes_expand_area" data-toggle="collapse" data-parent="#matchesAccordion" href="#winners" aria-expanded="true" aria-controls="winners">
                {{ 'Результаты'|trans() }}
                </a>
            </h4>
        </div>
        <div id="winners" role="tabpanel" aria-labelledby="winners_heading"></div>
    </div>
{% endif %}
</div>