<h3>{{ 'Результаты квалификации'|trans }}</h3>
{% if results|length > 0 %}
<div class="table-responsive">
    <table class="table table-hover table-results table-championsleague-qualification-results">            
        <thead>
            <tr>
                <td class="sm-col text-center">{{ 'Место'|trans }}</td>
                <td>{{ 'Команда'|trans }}</td>                
                <td class="text-center">
                    <abbr class="initialism" title="{{ 'Угаданных счетов'|trans }}">{{ 'УС'|trans }}</abbr>
                </td>
                <td class="text-center">
                    <abbr class="initialism" title="{{ 'Угаданных разниц'|trans }}">{{ 'УР'|trans }}</abbr>
                </td>                                
                <td class="text-center">
                    <abbr class="initialism" title="{{ 'Угаданных исходов'|trans }}">{{ 'УИ'|trans }}</abbr>                                    
                </td>                                                    
                <td class="text-center">
                    <abbr class="initialism" title="{{ 'Рейтинг пользователя на момент подсчёта очков'|trans }}">{{ 'Р'|trans }}</abbr>                                    
                </td>
                <td class="sm-col text-center success">
                    <abbr class="initialism" title="{{ 'Очков всего'|trans }}">{{ 'О'|trans }}</abbr>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}                                    
            <tr class="{% if tournament.getRealUsersOutOfQualification() is not null and result.getPlace() > tournament.getRealUsersOutOfQualification() %}bg-danger{% endif %}{% if(is_granted('ROLE_USER') and result.getUser().getId() == app.user.getId()) %} bg-info{% endif%}">
                <td class="text-center">{{ result.getPlace() }}</td>
                <td>{{ include('AppBundle:common/user:user.html.twig', { user: result.getUser(), show_avatar: true }) }}</td>
                <td class="text-center">{{ result.getTotalGuessedResults() }}</td>
                <td class="text-center">{{ result.getTotalGuessedDifferences() }}</td>
                <td class="text-center">{{ result.getTotalGuessedOutcomes() }}</td>                
                <td class="text-center">{{ result.getUserRating()|number_format(4, '.', ',') }}</td>
                <td class="text-center text-primary success"><b>{{ result.getTotalPoints() }}</b></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{{ 'В турнире пока нет участников.'|trans }}
{% endif %}