<ol>
    <li>            
        <h4><a name="championsleague_description"></a>Описание турнира</h4>
        <p><b>Формат турнира:</b> Лига Чемпионов (квалификация + групповой этап + плей-офф) состоит из группового раунда, в котором N-туров, в каждом туре N-футбольных матчей для прогноза команд (количество туров и матчей указано в карточке турнира). После проведения группового этапа прошедшие команды выходят в Плей-офф (олимпийская система), который состоит из N-раундов, в каждом раунде N-футбольных матчей для прогноза (количество раундов и матчей указано в карточке турнира).</p>
        <ul>
            <li>
                <h6><b>Квалификация:</b></h6>
                <p>Первым раундом по умолчанию становится <b>квалификация</b>, проходящая по правилам турнира <b>«Чемпионат»</b>, целью которой является отбор команд до количества необходимого для проведения турнира <b>«Лига Чемпионов»</b> (4, 8, 16, 32, 64, 126, 256, 512 и т.д.) и распределение команд по парам по принципу: 1, 2 и т.д. Жеребьевка команд по группам и расписание, а также сетка плей-офф будет выстроена сразу по окончанию квалификационного раунда.</p>
            </li>
            <li>
                <h6><b>Групповой этап:</b></h6>
                <p>Особенностью группового этапа турнира является то, что команды участников играют друг с другом. В каждом туре у любой из команд будет соперником команда, управляемая другим участником. Составляется календарь (жеребьевка), чтобы участник, управляющий командой, мог в заранее узнать название команды соперника. В каждом туре командам будет предложено спрогнозировать N-футбольных матчей.</p>
                <p><b>Цель команды:</b> 
                набрать очков больше, чем команда, управляемая другим участником. За каждый угаданный прогноз в туре команда получает очки в соответствии со Схемой начисления очков, указанной в <a href="#championsleague_points_rules">п.3</a> настоящего Регламента. Команда победитель определяется по количеству набранных очков (от большего к меньшему). При равенстве набранных очков признается, что команды сыграли в ничью. За победу в туре команде начисляется 3 балла, за ничью 1 балл, за поражение 0.
                </p>
                <p>Места в группе определяются количеством набранных баллов командами во всех встречах.</p>
                <p>Количество команд, проходящих в следующий раунд, определяется регламентом конкретного турнира, который можно посмотреть в карточке турнира.</p>
                <p><i>При равенстве баллов, место команды в группе определяется в зависимости от:</i></p>
                <ol>
                    <li>Заработанных очков в группе </li>
                    <li>Заработанных очков в личной встрече между командами в группе</li>
                    <li>Наибольшего количество побед в игровых матчах </li>
                    <li>Рейтинга Пользователя на портале</li>
                    <li>Жеребьевки системы</li>
                </ol>
            </li>
            <li>
                <h6><b>Плей-офф:</b></h6>
                <p>Особенностью турнира является то, что команды играют друг с другом. В каждом отдельном туре у любой из команд будет соперником команда, управляемая другим участником.  В каждом туре команде будет предложено спрогнозировать N-футбольных матчей. Составляется календарь (жеребьевка), чтобы участник, управляющий командой, мог в заранее узнать название команды соперника. В каждом раунде командам будет предложено спрогнозировать N-футбольных матчей.</p>
                <p><b>Цель команды:</b> набрать очков больше, чем команда, управляемая другим участником. За каждый угаданный прогноз в раунде команда получает очки в соответствии со Схемой начисления очков, указанной в <a href="#championsleague_points_rules">п.3</a> настоящего Регламента. Команда победитель определяется по количеству набранных очков (от большего к меньшему). Победитель в раунде проходит в следующий раунд, проигравшая команда вылетает из турнира.</p>
                <p><i>При равенстве очков между командами в раунде, команда победитель выявляется по следующим условиям:</i></p>
                <ol>
                    <li>Наибольшее количество угаданных счетов</li>
                    <li>Наибольшее количество угаданных разниц</li>
                    <li>Наибольшее количество угаданных исходов</li>
                    <li>Рейтинг Пользователя на портале</li>
                    <li>Жеребьевка системы</li>
                </ol>
            </li>
        </ul>            
    </li>
    <li>            
        <h4><a name="championsleague_rules"></a>Правила приема и просмотра прогнозов команд</h4>
        <p>Свои прогнозы команды  турнира делают непосредственно осуществляют в карточке турнира в области списка футбольных матчей в формате: Футбольный клуб А <b>N(голов)</b> – <b>N (голов)</b> Футбольный клуб Б, где рядом с названием футбольного клуба проставляется прогноз забитых мячей в футбольном матче.
        Все прогнозы команд даются только на основное время матча (дополнительное время и серия пенальти не учитываются).</p>
        <p>Прогнозы команд могут быть сделаны не позднее, чем за 10 минут до начала любого футбольного матча. 
        Время начала футбольного матча указано рядом с каждым матчем представленным для прогноза. Указанное время является серверным и может не совпадать с реальным временем начала футбольного матча, поэтому рекомендуется делать прогнозы команд заранее. 
        В случае прогноз, если прогноз команды не сделан до закрытия приема, то команде начисляется 0 очков.</p>
        <p>Уже сделанный прогноз команды возможно исправлять до срока окончания приема.</p>
        <p>Просмотреть прогнозы других команд возможно после окончания приема прогнозов.</p>            
    </li>
    <li>            
        <h4><a name="championsleague_points_rules"></a>Схема начисления мячей</h4>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ include('AppBundle:frontend/policies/ru:points_scheme.html.twig') }}
            </div>
        </div>        
    </li>
    <li>            
        <h4><a name="championsleague_fee"></a>Оплата за участие команды в турнире, призовой фонд и перевод золотых монет</h4>
        <p>Оплата за участие команды определяется при создании команды в турнире и отображается в карточке турнира. 
        При согласии принять участие в турнире со счета Пользователя будет осуществлен перевод золотых монет в размере оплаты за создание команды в турнире.</p>        
        <p>За Услугу по созданию команды в турнире, управлению командами со счета Пользователя удерживается комиссия в размере 10% от суммы оплаты за создание команды.</p>
        <p>Распределение призового фонда отображено в карточке турнира, раздел "Призовой фонд".</p>
        <p>Призовые зачисляются на счет Пользователя, команда которого заняла призовые места в турнире.</p>
    </li>
    <li>            
        <h4><a name="championsleague_calendar"></a>Расписание туров и прогнозов команд</h4>
        <p>Расписание туров (футбольные матчи на которые командам необходимо сделать прогнозы) выкладывается Администрацией и отображается на главной странице турнира.
        Для долгосрочных турниров Администрация выкладывает матчи на ближайшие туры не позднее, чем за сутки (24 часа) до начала первого футбольного матча в туре.</p>
    </li>
    <li>            
        <h4>Спорные моменты</h4>
        <p>Любые спорные моменты решаются путем обращения на e-mail Администрации, контакты указаны в разделе Контактная информация.</p>
    </li>
    <li>            
        <h4><a name="championsleague_controversies"></a>Отмененные, перенесенные, несостоявшиеся матчи</h4>
        <p>В случае, если футбольный матч не начался в течении 3-х часов от заявленного времени, он считается отмененным. За отмененный матч командам  очков не начисляется.</p>
    </li>
</ol>