{% extends 'AppBundle:frontend/layouts:tournament.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-7">
            {{ include('AppBundle:common/tournament:header.html.twig', { tournament: tournament }) }}
        </div>
        <div class="col-md-5 text-right">
            {{ include('AppBundle:common/tournament:request.html.twig', { tournament: tournament, userInTournament: userInTournament, tournamentIsAccessibleForUser: tournamentIsAccessibleForUser }) }}
        </div>
    </div>

<div class="row">
    
    <div class="col-md-7">                
        <div id="tournamentMain">
        {% if tournament.getTournament().getIsWinPrizeDistributed() == false %}
            {% if tournament.getStage() == 'QUALIFICATION' %}
                {{ render( controller('AppBundle:Tournaments/Championsleague:qualificationResults', { _locale: app.request.getLocale(), tournament_id: tournament, round: tournament.getCurrentRound() }) ) }}
            {% elseif tournament.getStage() == 'GROUP' %}
                {{ render( controller('AppBundle:Tournaments/Championsleague:groupGames', { _locale: app.request.getLocale(), tournament_id: tournament, group: userGroup }) ) }}
            {% elseif tournament.getStage() == 'PLAYOFF' %}
                {{ render( controller('AppBundle:Tournaments/Championsleague:playoffGames', { _locale: app.request.getLocale(), tournament_id: tournament, round: tournament.getCurrentRound() }) ) }}
            {% endif %}
        {% else %}
            {{ render( controller('AppBundle:Tournaments:winners', { tournament_id: tournament.getTournament().getId() }) ) }}
        {% endif %}
        </div>
    </div>
    <div class="col-md-5">
        <div id="tournamentSidebar">
        {% if tournament.getStage() == 'GROUP' %}
            {{ render( controller('AppBundle:Tournaments/Championsleague:groupResults', { _locale: app.request.getLocale(), tournament_id: tournament, round: tournament.getCurrentRound(), group: userGroup }) ) }}
        {% endif %}        
        </div>
        <div id="tournamentMatches">
            {{ render( controller('AppBundle:Tournaments/Championsleague:matches', { tournament: tournament, userInQualification: userInTournament, userInGroup: userInGroup, userInPlayoffRounds: userInPlayoffRounds, userGroup: userGroup }) ) }}
        </div>
    </div>
    
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets        
    '@AppBundle/Resources/public/css/tournaments/games.css'
    '@AppBundle/Resources/public/css/tournaments/championsleague/view.css'
    output='/css/tournaments/championsleague/view.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts   
  '@AppBundle/Resources/public/js/models/teams/Statistic.js'    
  '@AppBundle/Resources/public/js/models/tournaments/Regulations.js'
  '@AppBundle/Resources/public/js/models/tournaments/WinPrizes.js'  
  '@AppBundle/Resources/public/js/models/tournaments/Bet.js'  
  '@AppBundle/Resources/public/js/models/tournaments/BetsList.js'    
  '@AppBundle/Resources/public/js/models/tournaments/championsleague/model.js' 
  '@AppBundle/Resources/public/js/controllers/tournaments/regulations.js'
  '@AppBundle/Resources/public/js/controllers/teams/statistic.js'
  '@AppBundle/Resources/public/js/controllers/tournaments/winprizes.js'
  '@AppBundle/Resources/public/js/controllers/tournaments/betslist.js'
  '@AppBundle/Resources/public/js/controllers/tournaments/bet.js'
  '@AppBundle/Resources/public/js/controllers/tournaments/championsleague/view.js'
  output='/js/tournaments/championsleague/view.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}
