<script type="text/ng-template" id="applicationErrorModalTmpl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Прозошла ошибка!</h4>
    </div>

    <div class="modal-body">
        <div style="max-height:400px; overflow:auto;" ng-bind-html="errorText"></div>
    </div>
    <div class="modal-footer">        
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</script>