{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block pageheader %}<i class="fa fa-dashboard"></i> Главная{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Информационная панель</li>
</ol>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">На счетах пользователей</span>
          <span class="info-box-number">{{ on_users_account_funds }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Заблокированных в турнирах</span>
          <span class="info-box-number">{{ blocked_funds }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Свободных средств</span>
          <span class="info-box-number">{{ available_funds }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Новых пользователей за неделю</span>
          <span class="info-box-number">{{ last_week_registred_users }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Информация о работе крона</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-8">
                {{ render( controller('AppBundle:Admin/Widgets/Logs:cronLogTimechart') ) }}
            </div>
            <div class="col-md-4">
                {{ render( controller('AppBundle:Admin/Widgets/Logs:cronLogMemoryUsage') ) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/admin/js/widgets/logs/cronlog_timechart.js"></script>
<script type="text/javascript" src="/admin/js/controllers/dashboard.js"></script>
{% endblock %}