{% if partnerCharges|length > 0 %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ 'Дата/Время'|trans }}</th>
          <th>{{ 'Пользователь'|trans }}</th>          
          <th>{{ 'Комментарий'|trans }}</th>
          <th>{{ 'Сумма'|trans }}</th>
        </tr>
      </thead>
      <tbody>        
      {% for charge in partnerCharges %}
        <tr>
          <td>{{ charge.getOperationDatetime().format(datetime_format) }}</td>
          <td>{{ include('AppBundle:common/user:user.html.twig', { user: charge.getReferralUser(), show_avatar: false }) }}</td>
          <td>
          {% if(charge.type == 'FIRST_DEPOSIT') %}
            {{ 'Первая покупка золотых монет пользователем.' }}
          {% else %}
            {{ charge.type }}
          {% endif %}
          </td>
          <td class="text-right">{{ include('AppBundle:common:money.html.twig', { money: charge.getAmount() }) }}</td>
        </tr>
      {% endfor %}
      </tbody>      
    </table>
  </div>
  {% if totalPages > 1%}
  <nav class="text-right">
    <ul class="pagination pagination-sm">
      <li{% if current_page == 1 %} class="disabled"{% endif %}>
          {% if current_page == 1 %}
          <span>&laquo;</span>
          {% else %}
          <a href="{{ path('personal/partner/charges_log', { page: (current_page - 1) }) }}">&laquo;</a>
          {% endif %}
      </li>
      {% for page in 1..totalPages %}
      <li{% if page == current_page %} class="active"{% endif %}><a href="{{ path('personal/partner/charges_log', { page: page }) }}">{{page}}</a></li>
      {% endfor %}
      <li{% if current_page == totalPages %} class="disabled"{% endif %}>
      {% if current_page == totalPages %}
      <span>&raquo;</span>
      {% else %}
      <a href="{{ path('personal/partner/charges_log', { page: (current_page + 1) }) }}">&raquo;</a>
      {% endif %}
      </li>
    </ul>
  </nav>
  {% endif %}
{% else %}
  <p>{{ 'Нет записей'|trans }}</p>
{% endif %}