.l-content{
  padding-left:0;
  padding-right:0;
  padding-top:0;
}

.tournament-body{
  padding-left:25px;
  padding-right:25px;
  padding-top:25px;
}

.tournament-header{
  background:url('/img/bg-tournament.jpg') no-repeat bottom right;
  padding:25px;
  padding-bottom:0;
}
  .tournament-header .page-header{
    color:#fff;
    margin-top:0;
    font-weight:bold;
    border: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }

  .tournament-header .page-header .status-text *{
    color:#fff !important;
  }

  .tournament-header .geography-list{
    display: inline-block;
    padding:2px 10px;
    background:rgba(255, 255, 255, 0.7);
    margin-bottom:21px;
  }

  .tournament-header .geography-list .league_name_with_flag{
        margin-left:5px;
    }
    .tournament-header .geography-list .league_name_with_flag:first-child{
        margin-left:0px;
    }

    .tournament-header .tournament-info{
      color:#fff;
      margin-left:-30px;
      margin-right:-30px;
      background:rgba(0,0,0,0.4);
      padding:10px 15px;

    }

      .tournament-header .tournament-info .media-left,
      .tournament-header .tournament-info .media-right{
        font-size:30px;
      }

      .tournament-header .tournament-info .media-content{
        font-weight: bold;
      }

      .tournament-header .tournament-info .tournament-datetime{
        text-align:right;
      }

      .tournament-header .tournament-status{
        padding:7px 10px;
      }

      .tournament-header .tournament-sign-in{
        font-weight:bold;
      }

    .tournament-tabs .nav{
      margin-bottom:20px;
    }

.tournament-matches .startdatetime{
  font-weight: bold;
}

.tournament-matches .tournament-match-table td{
  vertical-align: middle;
}

.tournament-matches .match-score,
.tournament-matches .points,
.tournament-matches .no-bet{
  font-weight:bold;
}

.tournament-matches .tournament-match-wrapper{
    position: relative;
}
.tournament-matches .tournament-match-wrapper .bet-saving-overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.5);
    background-image:url('/img/animated-ball.gif');
    background-repeat:no-repeat;
    background-position: center center;
}

.tournament-matches .tournament-match-wrapper .bet-saving-overlay.bet-saved-success{
    background-image:url('/img/tick.png');
}

@media (max-width:768px) {
  .user-bets-list .user-bets-list-match-team,
  .user-bets-list .user-bets-list-username{
    display:inline-block;
    width:80px;
    vertical-align: middle;
  }

  .tournament-header .tournament-sign-in{
    display:block;
    text-align:center;
    margin-bottom:20px;
  }

}

@media (max-width:980px) {
  .tournament-header .tournament-info .tournament-datetime{
    text-align:left;
  }
}

.table-tournament-results > tbody > tr > td{
  vertical-align: middle;
}