.games-accordion .panel{
    border:none;
    margin-bottom:40px;
}

.games-accordion .panel-title{
    cursor:pointer;    
}

.games-accordion .panel-heading{
    background:none;
}

.games-accordion .userlink{
    display:block;    
    text-align:center;
}

.games-accordion .userimage-wrapper{    
    display:inline-block;
    float:none;
    clear:both;
    margin:0;    
    margin-bottom:5px;
    padding:0;
}

.games-accordion .usernick-wrapper{
    float:none;
    clear:both;
    margin:0;    
}

.games-accordion .game-score-wrap{
    padding:10px;
    font-size:1em;
    display: inline-block;
    min-width: 60px;
}

.games-accordion .game-info-btn-wrapper{
    margin-top:5px;
}    

.games-accordion .game-info{
    padding:0;
}

    .games-accordion .game-info .game-matches-table tr:first-child td{
        border-top:none;
    }
