.playoff-game-pairs-row{
    margin-bottom: 40px;
}

.playoff-games-table{
    width:100%;
    font-size: 15px;
}

    .playoff-game-cell{
        padding:0 !important;
    }

    .playoff-game-brackets-cell{
        padding:0 !important;
    }

    .playoff-game-brackets-wrapper{
        height: 100%;
        position: relative;
    }

    .playoff-game-brackets-cell .bracket-top-left{
        display: block;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        width:80%;
        height:50px;
        margin-top:-25px;
        position:absolute;
        top:50%;
    }

    .playoff-game-brackets-cell .bracket-bottom-left{
        display: block;
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #ccc;
        width:80%;
        height:50px;
        margin-top:-25px;
        position:absolute;
        top:50%;
    }

    .playoff-game-brackets-cell .bracket-middle-left{
        display: block;
        border-top: 2px solid #ccc;
        width: 20%;
        margin-left: 80%;
        position:absolute;
    }

    .playoff-game-brackets-cell .bracket-top-right{
        display: block;
        border-top: 2px solid #ccc;
        border-left: 2px solid #ccc;
        width:80%;
        height:50px;
        margin-top:-25px;
        position:absolute;
        top:50%;
        right:0;
    }

    .playoff-game-brackets-cell .bracket-bottom-right{
        display: block;
        border-bottom: 2px solid #ccc;
        border-left: 2px solid #ccc;
        width:80%;
        height:50px;
        margin-top:-25px;
        position:absolute;
        top:50%;
        right:0;
    }

    .playoff-game-brackets-cell .bracket-middle-right{
        display: block;
        border-top: 2px solid #ccc;
        width: 21%;
        margin-left: -20%;
        position:absolute;
        right:80%;
    }

    .playoff-games-table .form-control{
        height:auto;
    }

        .playoff-games-table .playoff-game-cell-top .form-control,
        .playoff-games-table .playoff-game-cell-top .input-group-addon{
            border-bottom:none !important;
        }

        .playoff-games-table .playoff-game-cell-bottom .form-control,
        .playoff-games-table .playoff-game-cell-bottom .input-group-addon{
            border-top:none !important;
        }

    .playoff-game-cell .input-group-addon{
        min-width:50px;
        background-color: #1c4162;
        color:#fff;
        font-size: 1em;
        font-weight: bold;
        padding:0;
    }