{% set activeTopNav = activeTopNav|default('') %}
{% set activeMainNav = activeMainNav|default('') %}
<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}" xmlns:ng="http://angularjs.org" ng-app="fbApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}FootBattle{% endblock %}</title>

    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% stylesheets
        '@AppBundle/Resources/public/bootstrap/css/bootstrap.css'
        '@AppBundle/Resources/public/css/bootstrap-changes.css'
        '@AppBundle/Resources/public/ionicons/css/ionicons.min.css'
        '@AppBundle/Resources/public/css/base.css'
        '@AppBundle/Resources/public/css/common.css'
        '@AppBundle/Resources/public/css/btn-spinner.css'
        output='css/base.css'
    %}
        <link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% javascripts
    '@angular'
    output='js/angular.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
  </head>
  <body>
    <div id="siteContainer" class="container l-sitewidth">
        <header class="l-header">
            <nav class="navbar navbar-default l-mainnav" ng-controller="NavigationCtrl" ng-init="saveReferralCodeCookie()">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" ng-click="mainNav.isOpen = !mainNav.isOpen">
                            <span class="sr-only">{{ 'Меню'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}"><img src="/img/logo.jpg" alt="FootBattle"/></a>
                    </div>
                    <div class="collapse navbar-collapse" id="mainnav-navbar" ng-class="{'in' : mainNav.isOpen }">
                        <ul class="nav navbar-nav">
                        {% block mainnav_tabs %}
                            <li{% if activeMainNav == 'tournaments/search' %} class="active"{% endif %} role="presentation"><a href="{{ path('tournaments/search') }}">{{ 'Поиск турниров'|trans }}</a></li>
                        {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('ROLE_USER') %}
                            <li class="dropdown" uib-dropdown>
                                <a href="{{ path('personal/profile') }}" class="dropdown-toggle profile-menu" uib-dropdown-toggle>
                                {{ include('AppBundle:common/user:avatar.html.twig', {user: app.user}) }} {{ include('AppBundle:common/user:user.html.twig', { user: app.user, no_link: true }) }} <b class="caret"></b></a>
                                <ul class="dropdown-menu user-dropdown" uib-dropdown-menu>
                                    <li class="user-header">
                                          <div class="col-xs-6">
                                            {{ include('AppBundle:common/user:avatar.html.twig', {user: app.user}) }}
                                            <p><span class="label label-info">{{ 'Рейтинг'|trans }}:  {{ include('AppBundle:common/user:rating.html.twig', {userRating: app.user.getRating()}) }}</span></p>
                                          </div>
                                          <div class="col-xs-6">
                                              <div class="balance_row text-right">
                                                  <span class="text-success">{{ 'Игровой счёт'|trans }}:</span>
                                                  <br />
                                                  {{ include('AppBundle:common:money.html.twig', { money: app.user.getBalance() }) }}
                                              </div>
                                              <div class="balance_row text-right">
                                                  <span class="text-danger">{{ 'Зарезервировано'|trans }}:</span>
                                                  <br />
                                                  {{ include('AppBundle:common:money.html.twig', { money: app.user.getReserved() }) }}
                                              </div>
                                          </div>
                                    </li>
                                    <li class="user-body">
                                        <div class="row submenu_row">
                                            <div class="col-xs-2 text-center">
                                                <a href="{{ path('personal/tournaments') }}"{% if activeTopNav == 'personal/tournaments' %} class="active"{% endif %} title="{{ 'Турниры'|trans }}" data-toggle="tooltip">
                                                    <i class="ion-trophy"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <a href="{{ path('personal/profile') }}"{% if activeTopNav == 'personal/profile' %} class="active"{% endif %} title="{{ 'Профиль'|trans }}" data-toggle="tooltip">
                                                    <i class="ion-person"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <a href="{{ path('personal/settings') }}"{% if activeTopNav == 'personal/settings' %} class="active"{% endif %} title="{{ 'Настройки'|trans }}" data-toggle="tooltip">
                                                    <i class="ion-ios-gear"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <a href="{{ path('personal/balance') }}"{% if activeTopNav == 'personal/balance' %} class="active"{% endif %} title="{{ 'Управление счётом'|trans }}" data-toggle="tooltip">
                                                    <i class="ion-cash"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <a href="{{ path('personal/partner') }}"{% if activeTopNav == 'personal/partner' %} class="active"{% endif %} title="{{ 'Партнёрская программа'|trans }}" data-toggle="tooltip">
                                                    <i class="ion-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-footer">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <div class="pull-left">
                                            <a class="btn btn-default btn-flat" href="{{ path('admin/index') }}">{{ 'Панель управления'|trans }}</a>
                                        </div>
                                        {% endif %}
                                        <div class="pull-right">
                                            <a class="btn btn-default btn-flat" href="{{ path('logout') }}">{{ 'Выход'|trans }}</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a
                                    class="pointer"
                                    ng-click="showLoginModal($event);"
                                    ng-mouseover="loginHover = true"
                                    ng-mouseleave="loginHover = false"
                                >
                                    <i class="ion-locked"
                                        ng-class="{ 'ion-unlocked': loginHover, 'ion-locked': !loginHover }"
                                    ></i> {{ 'Вход'|trans }}
                                </a>
                                <script type="text/ng-template" id="loginModalTmpl.html">
                                {{ include('AppBundle:frontend/login:modal.html.twig') }}
                                </script>
                            </li>
                            <li>
                                <a
                                    class="pointer registration"
                                    ng-click="showRegistrationModal($event);"
                                    ng-mouseover="registrationHover = true"
                                    ng-mouseleave="registrationHover = false"
                                >
                                <i class="ion-ios-person"
                                        ng-class="{ 'ion-ios-person-outline': registrationHover, 'ion-ios-person': !registrationHover }"
                                    ></i> {{ 'Регистрация'|trans }}
                                </a>
                                <script type="text/ng-template" id="registrationModalTmpl.html">
                                {{ render(controller(
                                    'AppBundle:Registration:form',
                                    { _locale: app.request.get('_locale') }
                                )) }}
                                </script>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="l-content">
            <div class="l-content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </section>
        <footer class="l-footer">
            <div class="l-footer-wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer_links pull-right">
                            <a href="{{ path('policies/terms') }}">{{ 'Пользовательское соглашение'|trans }}</a>
                            <a href="{{ path('policies/regulations') }}">{{ 'Правила игры'|trans }}</a>
                            <a href="{{ path('policies/privacy') }}">{{ 'Политика конфиденциальности'|trans }}</a>
                            <a href="{{ path('contacts') }}">{{ 'Контакты'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
    var fbApp = angular.module('fbApp', [
        'ui.bootstrap',
        'UtilsService',
        'SecurityService',
        'MoneyDirective',
        'UserlinkDirective',
        'UserRatingDirective',
        'DatetimeDirective',
      {% block angularequire %}{% endblock %}
    ]);
    </script>
    {% javascripts
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'        
        '@AppBundle/Resources/public/js/app/services/UtilsService.js'
        '@AppBundle/Resources/public/js/app/services/SecurityService.js'
        '@AppBundle/Resources/public/js/app/directives/UserlinkDirective.js'
        '@AppBundle/Resources/public/js/app/directives/MoneyDirective.js'
        '@AppBundle/Resources/public/js/app/directives/UserRatingDirective.js'
        '@AppBundle/Resources/public/js/app/directives/DatetimeDirective.js'
        '@AppBundle/Resources/public/js/app/controllers/NavigatioinController.js'
        '@AppBundle/Resources/public/js/app/controllers/LoginFormController.js'
        '@AppBundle/Resources/public/js/app/controllers/RegistrationFormController.js'
        output='js/base.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">

        {% if is_granted('ROLE_USER') %}
        var USER = {
          ID: {{ app.user.getId() }}
        }
        {% else %}
        var USER = {
          ID: null
        }
        {% endif %}
        var TRANS = {
            CLOSE: "{{ 'Закрыть'|trans }}",
            CONFIRM: "{{ 'Подтвердить'|trans }}",
            CANCEL: "{{ 'Отмена'|trans }}",
        }
    </script>
    {% block javascripts %}{% endblock %}
    <!-- Yandex.Metrika counter -->
    {% javascripts
        '@AppBundle/Resources/public/js/metrika.js'
        output='/js/metrika.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    <noscript><div><img src="https://mc.yandex.ru/watch/31882151" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% endjavascripts %}
    <!-- /Yandex.Metrika counter -->
  </body>
</html>