<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}" xmlns:ng="http://angularjs.org" ng-app="fbApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}FootBattle{% endblock %}</title>

        <!-- Bootstrap -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        {% stylesheets
            '@AppBundle/Resources/public/bootstrap/css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/bootstrap-changes.css'
            '@AppBundle/Resources/public/ionicons/css/ionicons.min.css'
            '@AppBundle/Resources/public/css/common.css'
            '@AppBundle/Resources/public/css/btn-spinner.css'
            '@AppBundle/Resources/public/css/homepage.css'
            output='css/homepage.css'
        %}
            <link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
        {% endstylesheets %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% javascripts
            '@angular'
            output='js/angular.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <section class="home bg-one">
            <nav class="navbar navbar-default l-mainnav" ng-controller="NavigationCtrl" ng-init="saveReferralCodeCookie()">
                <div class="container">
                    <!-- Navbar-header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" ng-click="mainNav.isOpen = !mainNav.isOpen">
                            <span class="sr-only">{{ 'Меню'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- LOGO -->
                        <a class="navbar-brand logo" href="{{ path('homepage') }}"><img src="/img/logo.jpg" alt="FootBattle"/></a>
                    </div>
                    <!-- end navbar-header -->

                    <!-- menu -->
                    <div class="collapse navbar-collapse" id="mainnav-navbar" ng-class="{'in' : mainNav.isOpen }">
                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a href="{{ path('tournaments/search') }}">{{ 'Турниры'|trans }}</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ path('policies/regulations') }}">{{ 'Правила'|trans }}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a
                                    class="pointer"
                                    ng-click="showLoginModal($event);"
                                    ng-mouseover="loginHover = true"
                                    ng-mouseleave="loginHover = false"
                                >
                                    <i class="ion-locked"
                                        ng-class="{ 'ion-unlocked': loginHover, 'ion-locked': !loginHover }"
                                    ></i> {{ 'Вход'|trans }}
                                </a>
                                <script type="text/ng-template" id="loginModalTmpl.html">
                                {{ include('AppBundle:frontend/login:modal.html.twig') }}
                                </script>
                            </li>
                            <li>
                                <a
                                    class="pointer registration"
                                    ng-click="showRegistrationModal($event);"
                                    ng-mouseover="registrationHover = true"
                                    ng-mouseleave="registrationHover = false"
                                >
                                <i class="ion-ios-person"
                                        ng-class="{ 'ion-ios-person-outline': registrationHover, 'ion-ios-person': !registrationHover }"
                                    ></i> {{ 'Регистрация'|trans }}
                                </a>
                                <script type="text/ng-template" id="registrationModalTmpl.html">
                                {{ render(controller(
                                    'AppBundle:Registration:form',
                                    { _locale: app.request.get('_locale') }
                                )) }}
                                </script>
                            </li>
                        </ul>
                    </div>
                    <!--/Menu -->
                </div>
                <!-- end container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-wrapper">
                            <h1>Ежедневные турниры<br />футбольных прогнозов</h1>
                            <div class="text-center">
                                <i class="ion-trophy"></i>
                            </div>
                            <h2>Докажи, что лучшe всех разбираешься в футболе!</h2>
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <a href="{{ path('tournaments/search') }}" class="btn btn-primary"><i class="ion-flag"></i> {{ 'Начать игру' }}</a>
                                </div>
                                <div class="col-xs-6 text-left">
                                    <a href="#" class="btn btn-primary"><i class="ion-paper-airplane"></i> {{ 'Как играть' }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--<section class="section bg-two">
            <h2 class="text-center">{{ 'Три простых шага и Ты в игре!'|trans }}</h2>
            <div class="row">
                <div class="col-sm-4">
                1
                </div>
                <div class="col-sm-4">
                1
                </div>
                <div class="col-sm-4">
                1
                </div>
            </div>
        </section>-->

        <section class="section bg-three">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-5 col-sm-push-7">
                            <h2 class="page-header">FootBattle Online Games</h2>
                            <p class="text-primary text-justify">Футбольная онлайн игра, где пользователи соревнуются между собой в прогнозировании футбольных матчей ведущих Европейских чемпионатов, Еврокубков, матчей сборных и других соревнований.</p>
                            <p class="text-primary text-justify">FootBattle - это единственное место, где Вы играете с такими же любителями футбола, а не с Букмекерской конторой и результат зависит только от Вас!</p>
                        </div>
                        <div class="col-sm-7 col-sm-pull-5">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <img src="/img/homepage/champions_league.png" /><br />ЛИГА ЧЕМПИОНОВ УЕФА
                                </div>
                                <div class="col-xs-6">
                                    <img src="/img/homepage/uefa_leage.png" /><br />ЛИГА ЕВРОПЫ УЕФА
                                </div>
                            </div>
                            <br />
                            <div class="row text-center">
                                <div class="col-xs-6" style="color:#00235D;">
                                    <img src="/img/homepage/premier_league.png" /><br />ЧЕМПИОНАТ АНГЛИИ
                                </div>
                                <div class="col-xs-6" style="color:#0060C2;">
                                    <img src="/img/homepage/rfpl.png" /><br />ЧЕМПИОНАТ РОССИИ
                                </div>
                            </div>
                            <br />
                            <div class="row text-center">
                                <div class="col-xs-6" style="color:#E32227;">
                                    <img src="/img/homepage/bundesleague.png" /><br />ЧЕМПИОНАТ ГЕРМАНИИ
                                </div>
                                <div class="col-xs-6" style="color:#019B5A;">
                                    <img src="/img/homepage/italy.png" /><br />ЧЕМПИОНАТ ИТАЛИИ
                                </div>
                            </div>
                            <br />
                            <div class="row text-center">
                                <div class="col-xs-6" style="color:#314697;">
                                    <img src="/img/homepage/bbva.png" /><br />ЧЕМПИОНАТ ИСПАНИИ
                                </div>
                                <div class="col-xs-6" style="color:#556871;">
                                    <img src="/img/homepage/france.png" /><br />ЧЕМПИОНАТ ФРАНЦИИ
                                </div>
                            </div>
                            <br />
                            <div class="row text-center">
                                <div class="col-xs-6" style="color:#A27425;">
                                    <img src="/img/homepage/mls.png" /><br />ЧЕМПИОНАТ MLS
                                </div>
                                <div class="col-xs-6" style="color:#9D262D;">
                                    <img src="/img/homepage/china.png" /><br />ЧЕМПИОНАТ КИТАЯ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section bg-four">
            <div class="wrapper">
                <div class="container">

                    <h2 class="text-center">Участвуя в online игре FootBattle</h2>

                    <div class="row">
                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-android-star"></i>
                            <div class="service-detail">
                              <p>Всегда есть бесплатные турниры без взносов. Попробуй себя в промо турнирах!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->

                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-ios-people"></i>
                            <div class="service-detail">
                              <p>Соревнуйся с друзьями или другими людьми!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->

                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-ribbon-a"></i>
                            <div class="service-detail">
                              <p>Победители и призеры турниров получают призовые!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-trophy"></i>
                            <div class="service-detail">
                              <p>Выбери различные форматы турниров и играй!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->

                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-chatboxes"></i>
                            <div class="service-detail">
                              <p>Общайся с другими пользователями – футбольными болельщиками!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->

                        <div class="col-sm-4">
                          <div class="service-item">
                            <i class="ion-thumbsup"></i>
                            <div class="service-detail">
                              <p>Используй различные тактики против конкретных соперников!</p>
                            </div> <!-- /service-detail -->
                          </div> <!-- /service-item -->
                        </div> <!-- /col -->
                    </div> <!-- end row -->
                  </div>
              </div>
        </section>

        <section class="section bg-five">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-5 col-sm-push-7">
                            <h2 class="page-header">Призовые победителям</h2>
                            <p class="text-primary text-justify">После завершения турнира призовой фонд распределяется между победителями.</p>
                            <p class="text-primary text-justify">Выигранные призы можно обменять на деньги в Личном кабинете.</p>
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <a href="{{ path('tournaments/search') }}" class="btn btn-primary"><i class="ion-flag"></i> {{ 'Начать игру' }}</a>
                                </div>
                                <div class="col-xs-6 text-left">
                                    <a href="#" class="btn btn-primary"><i class="ion-paper-airplane"></i> {{ 'Как играть' }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-pull-5 text-center hidden-xs">
                            <img src="/img/homepage/trophy.png" />
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer class="section bg-gray footer">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <h5>Социальные сети</h5>
                  <ul class="list-unstyled">
                    <li><a href="http://vk.com/rufootbattle">Вконтакте</a></li>
                  </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                  <h5>Контакты</h5>
                  <ul class="list-unstyled">
                    <li><a href="{{ path('contacts') }}">Связаться с нами</a></li>
                    <li><a href="https://telegram.me/footbattle">Канал в Telegram</a></li>
                  </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                  <h5>Правовая информация</h5>
                  <ul class="list-unstyled">
                    <li><a href="{{ path('policies/terms') }}">Пользовательское соглашение</a></li>
                    <li><a href="{{ path('policies/regulations') }}">Правила игры</a></li>
                    <li><a href="{{ path('policies/privacy') }}">Политика конфиденциальнсоти</a></li>
                  </ul>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="footer-alt">
                    <a class="navbar-brand logo" href="{{ path('homepage') }}"><img src="/img/logo.jpg" alt="FootBattle"/></a>
                  </div>
                </div>
              </div>
            </div>
        </footer>

        <script type="text/javascript">
        var fbApp = angular.module('fbApp', [
            'ui.bootstrap',
            'UtilsService',
            'SecurityService',
            'UserlinkDirective',
          {% block angularequire %}{% endblock %}
        ]);
        </script>
        {% javascripts
            'bundles/fosjsrouting/js/router.js'
            'js/fos_js_routes.js'
            '@AppBundle/Resources/public/js/app/services/UtilsService.js'
            '@AppBundle/Resources/public/js/app/services/SecurityService.js'
            '@AppBundle/Resources/public/js/app/directives/UserlinkDirective.js'
            '@AppBundle/Resources/public/js/app/controllers/NavigatioinController.js'
            '@AppBundle/Resources/public/js/app/controllers/LoginFormController.js'
            '@AppBundle/Resources/public/js/app/controllers/RegistrationFormController.js'
            output='js/homepage.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
        {% endjavascripts %}
        <!-- Yandex.Metrika counter -->
        {% javascripts
            '@AppBundle/Resources/public/js/metrika.js'
            output='js/metrika.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
        <noscript><div><img src="https://mc.yandex.ru/watch/31882151" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        {% endjavascripts %}
        <!-- /Yandex.Metrika counter -->
    </body>
</html>