<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}{% endblock %} | BetBattle</title>
        <!-- Bootstrap -->        
        {% stylesheets
            '@AppBundle/Resources/public/bootstrap/css/bootstrap.min.css'            
            '@AppBundle/Resources/public/css/common.css'
            output='/css/information/base.css'
        %}
        <link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h3>{% block header %}{% endblock %}</h3>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>