{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}
{{ 'Турнир #%tournament_id%'|trans({ '%tournament_id%': tournament.getTournament().getId()}) }} | {{ tournament.getTournament().getTitle() }}
{% endblock %}

{% set userInTournament = tournaments_helper.isUserInTournament(tournament, app.user) %}

{% block body %}
<script type="text/ng-template" id="refillQiwiModalTmpl.html">
{{ render(controller(
    'AppBundle:Refill:qiwi',
    { _locale: app.request.get('_locale') }
)) }}
</script>
<div ng-controller="TournamentCtrl">
    {{ include('AppBundle:frontend/tournaments:matches.html.twig') }}

    {{ include('AppBundle:frontend/tournaments:header.html.twig', { tournament: tournament, userInTournament: userInTournament }) }}
    <div class="tournament-body">
    {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@AppBundle/Resources/public/css/tournament/common.css'
    output='css/tournament/common.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block angularequire %}
    {{ parent() }}
    'LeagueIconDirective',
    'TournamentService',
    'TournamentMatchesDirective',
    'BillingService',
{% endblock %}

{% block javascripts %}
{{ parent() }}

    {{ include('AppBundle:frontend/tournaments:userbets_popover.html.twig') }}

    <script type="text/javascript">
    var TOURNAMENT_ID = '{{ tournament.getTournament().getId() }}';
    var TOURNAMENT_STATUS = '{{ tournamentStatus }}';
    var TOURNAMENT_CURRENT_ROUND = '{{ tournament.getCurrentRound() }}';
    </script>
    {% javascripts
      '@AppBundle/Resources/public/js/app/directives/LeagueIconDirective.js'
      '@AppBundle/Resources/public/js/app/services/TournamentService.js'
      '@AppBundle/Resources/public/js/app/services/BillingService.js'
      '@AppBundle/Resources/public/js/app/directives/Tournament/MatchesDirective.js'
      '@AppBundle/Resources/public/js/app/controllers/Billing/Refill/QiwiController.js'
      '@AppBundle/Resources/public/js/app/controllers/TournamentController.js'
      output='js/tournament/view.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}