<table class="table">
    <thead>
        <tr>
            <td class="cell-id text-center">{{ 'Место'|trans }}</td>
            <td class="text-center">{{ 'Выигрыш'|trans }}</td>
            {% if tournament.getTournament().getIsStarted() %}
            <td class="text-center">{{ 'Сумма'|trans }}</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>                        
        {% for winPlace in winDistribution %}
        <tr>
            <td class="text-center">{{ winPlace.getPlace() }}</td>
            <td class="text-center">{{ winPlace.getPercent() }}%</td>
            {% if tournament.getTournament().getIsStarted() %}
            <td class="text-right">
                {% set money = (realSumm*winPlace.getPercent())/100 %}
                {{ include('AppBundle:common:money.html.twig', { money: (realSumm*winPlace.getPercent())/100 }) }}                
            </td>
            {% endif %}
            
        </tr>
        {% endfor %}                
    </tbody>
</table>