<div
ng-controller="BillingRefillQiwiCtrl"
ng-init="
    billing.refill.qiwi.steps.step_1.modalTitle = '{{ 'Покупка золотых монет с помощью QIWI-кошелька'|trans }}';
    billing.refill.qiwi.steps.step_2.modalTitle = '{{ 'Подтвердите правильность введенных данных'|trans }}';
    billing.refill.qiwi.modalTitle = billing.refill.qiwi.steps.step_1.modalTitle
"
ng-cloak>
    <div class="modal-header">
        <h4 class="modal-title">{{ '{{ billing.refill.qiwi.modalTitle }}' }}</h4>
    </div>
    {{ form_start(
        form,
        {
            attr: {
                'ng-submit': 'billing.refill.qiwi.submit($event)'
            }
        }
        )
    }}

    <!-- STEP 1: Форма -->

    <div class="modal-body" ng-if="billing.refill.qiwi.currentStep == 'step_1'">

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2 hidden-xs col-sm-2">
                            <a href="https://w.qiwi.com/" target="_blank"><img src="/img/qiwi.png" alt="{{ 'QIWI-кошелёк' }}" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <p>{{ 'Коммиссия за покупку ЗМ: %commission%%'|trans({ '%commission%': commission}) }}</p>
                            <p>{{ 'Мин. количество ЗМ для покупки:'|trans }} {{ include('AppBundle:common:money.html.twig', { money: min_deposit/money_rate }) }}</p>
                            <p>{{ 'Обменный курс'|trans}}: {{ include('AppBundle:common:money.html.twig', { money: 1 }) }} = {{ money_rate }}{{ currency_sign|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(
                    form.qiwi_phone,
                    {
                        label: 'Номер QIWI-кошелька'|trans,
                        help_text: '<a href="https://w.qiwi.com/register/form.action" target="_blank">Зарегистрировать QIWI-кошелёк?</a>',
                        attr: {
                            'ng-model': 'billing.refill.qiwi.fields.qiwiPhone',
                            'ng-trim': 'true',
                            'ng-change': 'billing.refill.qiwi.checkConfirmDisabled()'
                        }
                    })
                }}

                <div role="alert" class="alert alert-danger" ng-if="billing.refill.qiwi.amountError != ''">
                    <p ng-bind-html="billing.refill.qiwi.amountError"></p>
                </div>
                {{ form_row(
                    form.amount,
                    {
                        label: 'Сумма'|trans,
                        attr: {
                            'ng-model': 'billing.refill.qiwi.fields.amount',
                            'ng-change': 'billing.refill.qiwi.checkAmount()'
                        }
                    })
                }}
            </div>

        </div>

    </div>

    <!-- STEP 2: Информация о платеже -->

    <div class="modal-body" ng-if="billing.refill.qiwi.currentStep == 'step_2'">
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ 'Номер QIWI-кошелька'|trans }}:</td>
                    <td>{{ '{{ billing.refill.qiwi.steps.step_2.refillInfo.qiwiPhone }}' }}</td>
                </tr>
                <tr>
                    <td>{{ 'Комиссия системы за покупку золотых монет'|trans }}:</td>
                    <td>{{ '{{ billing.refill.qiwi.steps.step_2.refillInfo.commissionReal }}' }} {{ currency_sign|raw }} ({{ '{{ billing.refill.qiwi.steps.step_2.refillInfo.commissionPercent }}' }}%)</td>
                </tr>
                <tr>
                    <td>{{ 'Сумма пополнения c комиссией'|trans }}:</td>
                    <td>{{ '{{ billing.refill.qiwi.steps.step_2.refillInfo.amountWithCommission }}'}} {{ currency_sign|raw }}</td>
                </tr>
            </tbody>
        </table>
        <p class="lead text-right">{{ 'Количество золотых монет на зачисление'|trans }}: <span class="money">{{ '{{ billing.refill.qiwi.steps.step_2.refillInfo.moneyAmount }}' }} <img src="/img/currency.png"></span></p>
    </div>

    <!-- STEP 3: IFRAME QIWI -->
    <iframe
            ng-if="billing.refill.qiwi.currentStep == 'step_3'"
            ng-src="{{ '{{ billing.refill.qiwi.steps.step_3.iframeSrc }}' }}"
            frameBorder="0"
            width="100%"
            height="700">Browser not supported
    </iframe>


    <div class="modal-footer" ng-hide="billing.refill.qiwi.currentStep == 'step_3'">
        {{ form_widget(
            form.submit,
            {
                label: 'Подтвердить'|trans,
                attr: {
                    class: 'btn-success',
                    'ng-if': 'billing.refill.qiwi.currentStep == "step_2"'
                }
            })
        }}
        <button
            type="button"
            class="btn btn-success"
            ng-if="billing.refill.qiwi.currentStep == 'step_1'"
            ng-disabled="billing.refill.qiwi.confirmationDisabled"
            ng-click="billing.refill.qiwi.confirm()"
            ng-class="{ 'is-loading': billing.refill.qiwi.steps.step_1.isLoading }"
        >{{ 'Пополнить'|trans }}
            <span class="btn-spinner"></span>
        </button>
        <button
            type="button"
            class="btn btn-default"
            ng-if="billing.refill.qiwi.currentStep == 'step_2'"
            ng-click="billing.refill.qiwi.currentStep = 'step_1'; billing.refill.qiwi.modalTitle = billing.refill.qiwi.steps.step_1.modalTitle;"
        >{{ 'Назад'|trans }}</button>
        <button
            type="button"
            class="btn btn-warning"
            ng-click="cancel()"
        >{{ 'Отмена'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>