<table class="table">
    <thead>
        <tr>
            <th class="text-center">{{ 'Результат футбольного матча'|trans }}</th>
            <th class="text-center">{{ 'Очки'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">{{ 'Угаданный исход'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getBase() }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ 'Угаданная разница в счете'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getBase() }} + {{ 'Дополнительные очки'|trans }}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th class="text-center">{{ 'Угаданная разница'|trans }}</th>
            <th class="text-center">{{ 'Дополнительные очки'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">{{ 'Разница при ничьи'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAddDiff0() }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ 'Разница в 1 мяч'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAddDiff1() }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ 'Разница в 2 мяча'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAddDiff2() }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ 'Разница в 3 мяча'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAddDiff3() }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ 'Разница в 4 и более'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAddDiff4() }}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <td colspan="2" class="text-left"><b>{{ 'Точные счета футбольного матча'|trans }}</b></td>
        </tr>
    </thead>
    <tbody>
        {% for correctScore in pointsScheme.correctScores %}
        <tr>
            <td class="text-center">{{ correctScore.getScore() }}</td>
            <td class="text-center">{{ correctScore.getPoints() }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="text-center">{{ 'другой счёт'|trans }}</td>
            <td class="text-center">{{ pointsScheme.getAnotherCorrectScorePoints() }}</td>
        </tr>
    </tbody>
</table>