{% for winRulesGroup in winRulesGroups %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">
            {{ 'Количество участников'|trans }}: 
            {% if loop.last %}
            более {{ winRulesGroup.getMinUsers() }}
            {% else %}
            {{ winRulesGroup.getMinUsers() }} - {{ winRulesGroup.getMaxUsers() }}
            {% endif %}
            </th>
        </tr>
        <tr>
            <th>{{ 'Место'|trans }}</th>
            <th>{{ 'Призовые'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for winRule in winRulesGroup.getRules() %}
        <tr>
            <td>{{ winRule.getPlace() }}</td>
            <td>{{ winRule.getPercent() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}