<tr class="matchRow">
    <td width="1%">
        <span class="label label-default">{{ 'Матч'|trans }} {{ matchNum }}</span> 
    </td>
    <td>
        <span class="matchText">
        {% if tournamentMatch is not null %}
            {% set match = tournamentMatch.getMatch() %}
            {{ include('AppBundle:admin/widgets:matchString.html.twig', {match: match}) }}
        {% else %}
            Матч не определён
        {% endif %}            
        </span>
    </td>
    <td width="1%">                    
        {% if tournamentMatch is not null and tournamentMatch.getMatch().getIsStarted() == false %}
            {% set match = tournamentMatch.getMatch() %}
            <button 
              type="button" 
              class="btn btn-xs btn-danger pull-right matchDeleteBtn" 
              data-tournamentid="{{ tournament.getTournament().getId() }}" 
              data-matchid="{{ match.getId() }}" 
              data-roundnum="{{ roundNum }}"
              {% if qualificationMatch is defined and qualificationMatch == true %}data-qualificationmatch="1"{% endif %}
              {% if groupMatch is defined and groupMatch == true %}data-groupmatch="1"{% endif %}
              >
                <i class="glyphicon glyphicon-trash"></i> Удалить
            </button>
        {% elseif tournamentMatch is null %}
            <button 
              type="button" 
              class="btn btn-xs btn-info pull-right matchFindBtn" 
              data-tournamentid="{{ tournament.getTournament().getId() }}" 
              data-roundnum="{{ roundNum }}"
              {% if qualificationMatch is defined and qualificationMatch == true %}data-qualificationmatch="1"{% endif %}
              {% if groupMatch is defined and groupMatch == true %}data-groupmatch="1"{% endif %}
              >
                <i class="glyphicon glyphicon-search"></i> Найти
            </button>
        {% endif %} 
    </td>               
</tr>