{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% set activeTopNav = 'registration' %}

{% block title %}
{{ 'Ваш аккаунт активирован!'|trans }}
{% endblock %}

{% block body %}
<h2 class="page-header">{{ 'Ваш аккаунт активирован!'|trans }}</h2>

<p>{{ 'Уважаемый пользователь!'|trans }}</p>
<p>{{ 'Ваш аккаунт активирован и теперь вы можете войти используя свой E-mail и пароль.'|trans }}</p>
{% endblock %}