<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title">{{ 'Регистрация'|trans }}</h4>
</div>

<div id="registrationFormModal" class="modal-body" ng-controller="RegistrationFormCtrl" ng-init="registrationForm.checkReferral()">

    <div class="alert alert-danger" ng-if="registrationForm.submitErrors.length > 0">
        <ul>
            <li ng-repeat="error in registrationForm.submitErrors">{{ '{{ error }}' }}</li>
        </ul>
    </div>

    <div ng-if="registrationForm.confirmEmailSent">
        <p><strong>{{ 'Уважаемый, %username%!'|trans( { '%username%': '{{ registrationForm.fields.username }}' } ) }}</strong></p>
        <p>{{ 'Мы отправили письмо на указанный почтовый ящик ( %email% ) со ссылкой для активации вашего аккаунта. Перейдите по этой ссылке и ваша регистрация будет полностью окончена.'|trans( { '%email%': '{{ registrationForm.fields.email }}' } ) }}</p>
    </div>

    {{ form_start(
        form,
        {
            action: path('registration', { _locale: app.request.get('_locale') }),
            attr: {
                'ng-if': 'registrationForm.confirmEmailSent == false',
                'ng-submit': 'registrationForm.submit($event)',
                'target': 'registrationFormIframe'
            }
        })
    }}
    <div class="row">

        <div class="col-md-4">

            <div class="alert alert-danger" ng-if="registrationForm.emailError != null">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ '{{registrationForm.emailError}}' }}
            </div>
            {{ form_row(
                form.user.email,
                {
                    label : 'E-mail'|trans,
                    attr: {
                        'ng-model': 'registrationForm.fields.email',
                        'ng-blur' : 'registrationForm.checkEmail()',
                        'ng-trim' : 'true'
                    },
                    row_attr: {
                        'ng-class': "{ 'has-error': registrationForm.emailError != null, 'has-success': registrationForm.emailSuccess }"
                    }
                })
            }}

            <div class="alert alert-danger" ng-if="registrationForm.usernameError != null">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ '{{registrationForm.usernameError}}' }}
            </div>
            {{ form_row(
                form.user.username,
                {
                    label : 'Никнейм'|trans,
                    help_text: 'Это псевдоним, который будет отображаться на сайте и виден другим пользователям.'|trans,
                    attr: {
                        'ng-model': 'registrationForm.fields.username',
                        'ng-blur' : 'registrationForm.checkUsername()',
                        'ng-trim' : 'true'
                    },
                    row_attr: {
                        'ng-class': "{ 'has-error': registrationForm.usernameError != null, 'has-success': registrationForm.usernameSuccess }"
                    }
                })
            }}
        </div>

        <div class="col-md-4">
            <div class="alert alert-danger" ng-if="registrationForm.passwordError != null">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'Пароли не совпадают!'|trans }}
            </div>

            {{ form_row(
                form.user.password.password,
                {
                    label : 'Пароль'|trans,
                    attr: {
                        'ng-model': 'registrationForm.fields.password',
                    },
                    row_attr: {
                        'ng-class': "{ 'has-error': registrationForm.passwordError != null, 'has-success': registrationForm.passwordSuccess }"
                    }
                })
            }}

            {{ form_row(
                form.user.password.confirm,
                {
                    label : 'Подтверждение пароля'|trans,
                    attr: {
                        'ng-model': 'registrationForm.fields.passwordConfirm',
                        'ng-blur' : 'registrationForm.checkPasswords()'
                    },
                    row_attr: {
                        'ng-class': "{ 'has-error': registrationForm.passwordError != null, 'has-success': registrationForm.passwordSuccess }"
                    }
                })
            }}

            <div class="form-group" ng-if="registrationForm.referralUser">
                <label class="control-label">{{ 'По приглашению от'|trans }}</label>
                <div>
                    <userlink user-id="registrationForm.referralUser.id" user-nick="registrationForm.referralUser.nick" user-avatar="registrationForm.referralUser.avatar"></userlink>
                </div>
            </div>

        </div>

        <div class="col-md-4 text-right">

            <br />
            <div class="form-group text-right">
                <a href="{{ path('policies/terms') }}" target="_blank" class="btn btn-block btn-default"><i class="glyphicon glyphicon-share"></i> {{ 'Пользовательское соглашение'|trans }}</a>
            </div>
            <br />

            {{ form_row(
                form.terms,
                {
                    label : 'Я прочёл и принимаю условия пользовательского соглашения'|trans,
                    attr: {
                        'ng-model': 'registrationForm.fields.termsAccepted',
                        'ng-change': 'registrationForm.checkSubmitDisabled()'
                    }
                })
            }}

        </div>

    </div>

    <div class="text-right">
        {{ form_row(
            form.user.save,
            {
                label : 'Зарегистрироваться'|trans,
                withSpinner: true,
                attr: {
                    class: 'btn-primary',
                    'ng-disabled': 'registrationForm.submitDisabled',
                    'ng-class': "{ 'is-loading': registrationForm.isLoading }"
                }
            })
        }}
    </div>

    {{ form_widget(form.user, {label : false}) }}

    {{ form_widget(
        form.referralCode,
        {
            attr: {
                'ng-value': 'registrationForm.fields.referralCode',
            }
        })
    }}


    {{ form_end(form) }}
    <iframe class="hidden" name="registrationFormIframe" onload="registrationFormIFrameOnLoadHandler(this)" src="{{ path('registration', { _locale: app.request.get('_locale') }) }}"></iframe>
</div>