{% extends 'AppBundle:admin/policies:pointsSchemas.html.twig' %}

{% block title %}Добавление схемы начисления очков{% endblock %}

{% block pagesubheader %}Добавление схемы начисления очков{% endblock %}

{% block body %}
{{ form_start(form, {
attr: {
'ng-controller': 'AdminPoliciesPointsSchemasAddCtrl'
}
}) }}
<div class="row">
    <div class="col-sm-6" ng-form="points_sheme">

        {{ form_row(form.base, {
        label: 'База',
        attr: {
            'ng-model': 'pointsScheme.base',
            'init-field-value': ''
        }
        }) }}

        <p><strong>Дополнительные очки:</strong></p>
        {{ form_row(form.addDiff0, {
            label: 'При ничьи',
            attr: {
                'ng-model': 'pointsScheme.addDiff0',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.addDiff1, {
            label: 'Разница в 1 мяч',
            attr: {
                'ng-model': 'pointsScheme.addDiff1',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.addDiff2, {
            label: 'Разница в 2 мяча',
            attr: {
                'ng-model': 'pointsScheme.addDiff2',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.addDiff3, {
            label: 'Разница в 3 мяча',
            attr: {
                'ng-model': 'pointsScheme.addDiff3',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.addDiff4, {
            label: 'Разница в 4 мяча',
            attr: {
                'ng-model': 'pointsScheme.addDiff4',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.correctScores, {
            label: 'Точные счета',
            ng_compound: {
                items: 'pointsScheme.correctScores',
                addCollection: 'pointsScheme.addCorrectScore'
            }
        }) }}

        {{ form_row(form.anotherCorrectScorePoints, {
            label: 'Очки за другой счёт',
            attr: {
                'ng-model': 'pointsScheme.anotherCorrectScorePoints',
                'init-field-value': ''
            }
        }) }}

        {{ form_row(form.submit, {
            label: 'Сохранить',
            attr: {
                class: 'btn-primary'
            }
        }) }}

    </div>
    <div class="col-sm-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Пример отображения схемы расчёта очков в правилах турниров</h3>
            </div>
            <div class="box-body">
                {{ include(
                    'AppBundle:common/policies:points_scheme.html.twig',
                    {
                        scope: 'pointsScheme'
                    })
                }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/controllers/Policies/PointsSchemas/AddController.js'
        output='js/admin/policies/pointsSchemas/add.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}