<script type="text/ng-template" id="pointsSchemeModalTmpl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Схема начисления очков</h4>
    </div>

    <div class="modal-body">
    {{ include(
        'AppBundle:common/policies:points_scheme.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</script>