{% if country is not null and city is not null %}
    <b>{{ country|countryName }}</b>, {{ city }}
{% elseif country is not null and city is null %}
    <b>{{ country|countryName }}</b>
{% elseif country is null and city is not null %}
    {{ city }}
{% endif %}