<div class="row">
    <div class="col-sm-5">
        <div class="thumbnail">
            {{ include('AppBundle:common/user:avatar.html.twig', {user: user}) }}
        </div>        
    </div>
    <div class="col-sm-7">
        <p><span class="label label-info">{{ 'Рейтинг'|trans }}:  {{ include('AppBundle:common/user:rating.html.twig', {userRating: user.getRating()}) }}</span></p>             
        {% if user.getCountry() is not null or user.getCity() is not null %}
            <p>{{ include('AppBundle:common/user:country_and_city.html.twig', {country: user.getCountry, city: user.getCity() }) }}</p>
        {% endif %}    
    </div>
</div>