{% if no_link is not defined %}
<a class="user_link userPopoverBtn" href="{{ path('user/info', { user_id: user.getId() }) }}" id="userPopover_{{ user.getId() }}_{{ random() }}" tabindex="0" role="button" data-popovertitle="{{ user.getNick() }}" data-popoverplacement="{% if placement is not defined %}bottom{% else %}{{ placement }}{% endif %}">
{% else %}
<span class="user_link">
{% endif %}
    
    {% if show_avatar is defined and show_avatar == true %}
    <span class="user_image_wrap hidden-xs">{{ include('AppBundle:common/user:avatar.html.twig', {user: user}) }}</span>
    <span class="user_nick_wrap">{{ user.getNick() }}</span>
    {% else %}
    {{ user.getNick() }}
    {% endif %}
    
{% if no_link is not defined %}
</a>
{% else %}
</span>
{% endif %}