<div
    ng-controller="LoginFormCtrl"
    ng-init="
        loginForm.modalTitle = '{{ 'Вход на сайт'|trans }}';
        passwordRecoveryForm.modalTitle = '{{ 'Восстановление пароля'|trans }}';
        loginModal.title = loginForm.modalTitle;
    "
    ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title" ng-bind="loginModal.title">{{ '{{ loginModal.title }}' }}</h4>
    </div>

    <div ng-if="!loginForm.isHidden">
        <div class="modal-body">
            <form ng-submit="loginForm.submit()">
                <div class="row">
                    <div class="col-xs-12">

                        <div role="alert" class="alert alert-danger" ng-if="loginForm.errorMsg != ''">
                            <p>{{ '{{ loginForm.errorMsg }}' }}</p>
                        </div>

                        <div role="alert" class="alert alert-success" ng-if="passwordRecoveryForm.successMsg != ''">
                            <p>{{ '{{ passwordRecoveryForm.successMsg }}' }}</p>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">{{ 'E-mail'|trans }}</label>
                            <input type="email" class="form-control" id="email" ng-model="loginForm.username" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">{{ 'Пароль'|trans }}</label>
                            <input type="password" class="form-control" id="password" ng-model="loginForm.password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <a class="pointer" ng-click="passwordRecoveryForm.show()">{{ 'Забыл пароль?'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.isLoading" ng-class="{ 'is-loading': loginForm.isLoading }">{{ 'Войти'|trans }}<span class="btn-spinner"></span></button>
                    </div>
                    <div class="col-xs-6">

                        <div class="form-group">
                            <div class="checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" ng-model="loginForm.rememberMe" /> {{ 'Запомнить меня'|trans }}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!--<div class="modal-header">
            <h4 class="modal-title">{{ 'Вход через социальную сеть'|trans }}</h4>
        </div>
        <div class="modal-body">
            Скоро!
        </div>-->

    </div>

    <div ng-if="!passwordRecoveryForm.isHidden">

        <form ng-submit="passwordRecoveryForm.submit()">
            <div class="modal-body">

                <div role="alert" class="alert alert-danger" ng-if="passwordRecoveryForm.errorMsg != ''">
                    <p>{{ '{{ passwordRecoveryForm.errorMsg }}' }}</p>
                </div>

                <div class="form-group">
                    <label class="control-label required" for="password_recovery_email">{{ 'E-mail'|trans }}</label>
                    <input id="password_recovery_email" type="email" name="email" required="required" class="form-control" ng-model="passwordRecoveryForm.fields.email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="passwordRecoveryForm.isLoading" ng-class="{ 'is-loading': passwordRecoveryForm.isLoading }">{{ 'Восстановить пароль'|trans }}<span class="btn-spinner"></span></button>
                <button class="btn btn-warning" ng-click="loginForm.show()">{{ 'Отмена'|trans }}</button>
            </div>
        </form>

    </div>
</div>