<script type="text/ng-template" id="{% block templateName %}{% endblock %}">
<div class="popover-body">
{% block popoverBody %}{% endblock %}
</div>
<div class="popover-footer text-right">
    <button class="btn btn-sm" ng-click="{% block closeNgClick %}{% endblock %}">{{ 'Закрыть'|trans }}</button>
</div>
</script>