{% extends 'AppBundle:mails/layouts:base.html.twig' %}

{% block title %}
{{ 'Завершите процесс регистрации на сайте www.FootBattle.ru!'|trans }}
{% endblock %}

{% block body %}
<p><b>{{ 'Уважаемый(ая) %s%!'|trans({ '%s%': user.getNick() }) }}</b></p>
<p>{{ 'Благодарим Вас за регистрацию на нашем сайте.'|trans }}</p>
<p>{{ 'Для завершения регистрации пройдите по следующей ссылке'|trans }}: <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
{% endblock %}