<input type="hidden" name="Match[match_id]" value="{{ match.getId() }}" />
<p class="text-center">
    <span class="glyphicon glyphicon-calendar"></span> {{ match.getMatchDate().format('d.m.Y') }} <span class="glyphicon glyphicon-time"></span> {{ match.getMatchTime().format('H:i') }}    
</p>

<div class="row">
    <div class="col-xs-4 text-right">
        <span class="lead">{{ match.getHomeTeam().getTitle() }}</span>
    </div>
    <div class="col-xs-2 text-right">              
        <div class="form-group">            
            <input type="number" name="Match[score_left]" class="form-control" min="0" required="required" />
        </div>
    </div>        
    <div class="col-xs-2">
        <div class="form-group">            
            <input type="number" name="Match[score_right]" class="form-control" min="0" required="required" />
        </div>
    </div>
    <div class="col-xs-4">
        <span class="lead">{{ match.getGuestTeam().getTitle() }}</span>
    </div>      
</div>
