{% extends 'AppBundle:admin/leagues:index.html.twig' %}

{% block title %}Редактирование лиги{% endblock %}

{% block body %}

<div class="box">
    {{ form_start(form) }}
    <div class="box-body">        

        {{ form_row(form.is_active, {label: 'Активна'})}}
        {{ form_row(form.country, {'label': 'Страна' }) }}
        {{ form_row(form.tournament, {'label': 'Название турнира'}) }}
        
    </div>

    <div class="box-footer">
        {{ form_row(form.save, {'label': 'Сохранить' }) }}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}