{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/leagues/index' %}

{% block title %}Лиги/Кубки{% endblock %}

{% block pageheader %}<i class="fa fa-flag"></i> Лиги/Кубки{% endblock %}
{% block pagesubheader %}Список лиг{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Лиги/Кубки</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">    
    
    {% if leaguesList|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                  
                  <th></th>
                  <th></th>
                  <th>Страна</th>          
                  <th>Название лиги/кубка</th>          
                  <th class="col-md-2 text-center">Активность</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for league in leaguesList %}
                <tr>                  
                  <td class="text-center">
                    <a class="btn text-default" href="{{ path('admin_leagues_edit', {'league_id': league.getId() }) }}" title="Редактировать"><span class="fa fa-edit"></span></a>
                  </td>
                  <td class="text-center">
                    <img class='sm_country_flag' src='/img/leagues/icons/sm/{{ league.getIcon() }}' alt='{{ league.getLeagueName() }}' title='{{ league.getLeagueName() }}' />
                  </td>
                  <td>
                  {% if league.getCountry() is empty %}
                    Международный
                  {% else %}
                    {{ league.getCountry()|countryName }}
                  {% endif %}</td>
                  <td>{{ league.getTournament() }}</td>
                  <td class="text-center">
                    {% if league.getIsActive() %}
                    <span class="fa fa-check text-success"></span>
                    {% else %}
                    <span class="fa fa-ban text-danger"></span>
                    {% endif %}
                  </td>                              
                  <td class="text-right">            
                    <a class="btn btn-default" href="{{ path('admin/leagues/matches', {'league_id': league.getId() }) }}" title="Просмотр календаря"><span class="fa fa-calendar text-primary"></span></a>
                    <a class="btn text-default" href="{{ path('admin/leagues/teams', {'league_id': league.getId() }) }}">Команды лиги</a>          
                    <a class="btn text-danger" href="{{ path('admin_leagues_delete', { 'league_id': league.getId() }) }}" title="Удалить" onclick="return deleteLeague(this);"><span class="fa fa-trash"></span></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="box-body">
      <p>Лиг/кубков не найдено</p>    
    </div>
    {% endif %}
</div>
{% endblock %}