{% extends 'AppBundle:admin/leagues:index.html.twig' %}

{% block title %}Календарь лиги: {{ league.getLeagueName() }}{% endblock %}

{% block pagesubheader %}Календарь лиги: {{ league.getLeagueName() }}{% endblock %}

{% block body %}

<div class="box">
    {% if matches|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>                  
                  <th class="text-center col-xs-1">#ID</th>
                  <th class="text-center col-xs-1">Тур/Этап</th>
                  <th class="text-center col-xs-2">Дата/Время</th>
                  <th class="text-center">Хозява</th>
                  <th class="text-center"></th>                  
                  <th class="text-center">Гости</th>
                  <th class="text-center col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                {% for match in matches %}
                <tr class="{% if match.getIsRejected() %}bg-danger{% elseif(match.getIsOver()) %}bg-success{% elseif(match.getIsStarted()) %}bg-info{% endif %}">
                    <td class="text-center">{{ match.getId() }}</td>
                    <td class="text-center">{{ match.getTourNumber() }}</td>
                    <td class="text-center"><i class="fa fa-calendar"></i> {{ match.getMatchDate().format("d.m.Y") }} <i class="fa fa-clock-o"></i> {{ match.getMatchTime().format("H:i") }}</td>
                    <td class="text-center">{{ match.getHomeTeam().getTitle() }}</td>
                    <td class="text-center">{{ match.getScoreLeft() }} &mdash; {{ match.getScoreRight() }}</td>                    
                    <td class="text-center">{{ match.getGuestTeam().getTitle() }}</td>
                    <td class="text-center">
                        {% if match.getIsRejected() == false and match.getIsOver() == false %}                                                
                        <span class="btn text-default" data-url="{{ path('admin/leagues/matches/edit', {match_id: match.getId() }) }}" title="Редактировать матч" data-toggle="modal" data-target="#matchEditFormModal"><span class="fa fa-edit"></span></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% endif %}    
</div>

<!-- matchResultModal -->
<div class="modal fade" id="matchEditFormModal" tabindex="-1" role="dialog" aria-labelledby="matchEditFormModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="matchEditFormModalLabel">Редактирование матча</h4>
      </div>
      <form id="matchEditForm" method="post" action="">          
          <div id="matchEditFormModalContent" class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/admin/js/match/edit.js"></script>
{% endblock %}