{% extends 'AppBundle:admin/leagues:index.html.twig' %}

{% block title %}Команды лиги{% endblock %}

{% block body %}

<div class="box">
    {{ form_start(form) }}    
    
    <div class="box-body">        
                
        <h4>{% if currentLeague.getCountry() is empty %}
            Международная
        {% else %}        
            {{ currentLeague.getCountry()|countryName }}
        {% endif %}
            ({{ currentLeague.getTournament() }})        
        </h4>
        <hr />
        {{ form_row(form.teams, {label: 'Команды лиги'})}}        
        
    </div>

    <div class="box-footer">
        {{ form_row(form.save, {'label': 'Сохранить' }) }}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}