.l-mainnav .user-dropdown{
    width: 320px;
    padding: 1px 0 0;
}

.l-mainnav .user-header{
    height: 135px;
    padding: 10px;
    text-align: center;
}

    .l-mainnav .user-header .profile-image{
        width:90px;
        height:90px;
        border: 3px solid rgba(255, 255, 255, 0.2);
    }
    
    .l-mainnav .user-header .balance_row{
        font-size:0.85em;
        font-weight:bold;
        margin-bottom:5px;
    }
    
.l-mainnav .user-body{
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    padding: 15px;
    font-size:1.7em;
}
    
    .l-mainnav .user-body .submenu_row .col-xs-2{
      width:20%;
    }
    
    .l-mainnav .user-body a{
        display:block;
    }
    
    .l-mainnav .user-body a:hover,
    .l-mainnav .user-body a.active,
    .l-mainnav .user-body a.active{
        color:#337ab7;
    }
    
.l-mainnav .user-footer{
    background-color: #f9f9f9;
    padding: 10px;
}
    .l-mainnav .user-footer:before,
    .l-mainnav .user-footer:after{
        content: " ";
        display: table;
    }

    .l-mainnav .user-footer:after{
         clear: both;
    }
    
    .l-mainnav .user-footer .btn{
        background-color: #f4f4f4;
        border-color: #ddd;
        color:#666666;
        font-size:0.8em;
    }


    
@media (min-width:768px) {
    .table-users-list .user_link .user_image_wrap{
        display:block;
        float:left;
        margin-right:10px;
        margin-bottom:0;
    }

    .table-users-list .user_link .user_nick_wrap{
        display:block;
        float:left;
        margin-top:9px;
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#small_loading_container{
    position:fixed;
    top:10px;
    right:10px;    
    padding:10px;
}

.user_link{
    text-align:center;
    display:inline-block;
}

    .user_link .user_image_wrap{
        display:block;
        margin:0 auto 10px auto;
        border-radius:50%;
        overflow:hidden;
        width:32px;
        height:32px;        
    }
    
    .user_link .user_image_wrap img{
        width:100%;
        height:100%;
    }
    
.pointer{
    cursor:pointer;
}   

td.sm-col{
    width:1%;
    white-space: nowrap;
}

table tr td.valign-middle{
    vertical-align: middle;
}

.text-default{
    color:#777;
}

.close{
  opacity: 0.7;
}

/*table { width:100%; border-collapse:collapse; margin-bottom:15px;}
table thead td { background:#f1f1f1; border-bottom:1px solid #dadada; color:#333; font-weight:bold; padding:3px 5px 3px 5px;}
table tbody td { font-size:.98em; border-bottom:1px dotted #e3e3e3; padding:2px 4px 1px 4px;}*/
table tbody td.cell-id { width:40px;}
table tbody td.cell-date { width:100px;}
table tbody td.cell-number { width:80px;}
table tbody td.cell-action { width:60px;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    padding:4px;
    border-top-style: dotted;
}


.border-right{
    border-right:1px dotted #DDD;
}

@media (min-width:768px){
    .popover{
        width:400px;
    }
}

a.glyphicon{
    text-decoration: none;
}

.table > tbody > tr > td.table_action_cell{
    width:1%;
    vertical-align: middle;
    text-align:right;
    padding:10px 0 10px 10px;
}

.bs-callout{
    padding:20px;
    margin:20px 0;    
    background: #eee;
    border-left:5px solid #eee;    
}

.bs-callout .alert{
    margin-bottom:0;
}

.bs-callout h4{
    margin-top:0;
    margin-bottom:5px
}

.bs-callout p:last-child{
    margin-bottom:0
}

.bs-callout code{
    border-radius:3px
}

.bs-callout+.bs-callout{
    margin-top:-5px
}

.bs-callout-danger{
    border-left-color:#ce4844
}

.bs-callout-danger h4{
    color:#ce4844
}

.bs-callout-warning{
    border-left-color:#aa6708
}

.bs-callout-warning h4{
    color:#aa6708
}

.bs-callout-info{
    border-left-color:#47711D;
}

.bs-callout-info h4{
    color:#47711D;
}

.btn-block{
    display:block;
}

.table-championship-results .additional-info-col{
    display:none;
}

.table-championship-results.full .additional-info-col{
    display: table-cell;
}

.table caption .checkbox{
    margin:0;
}

.caption{
    color: #693;
    font-weight: bold;
    padding: 0 0 10px;
    text-align: left;
}

@media (min-width: 768px) {

    .statistic-popover{
        width:600px;
        max-width:600px;
    }

}

.tournament-info-bs-callout{
    margin-top:0;
}

.tournament-info-bs-callout ul,
.tournament-info-bs-callout h4{
    margin-bottom:0;
}

.tour-control{
    display: inline;    
    width:auto;
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    height: auto;
    box-shadow: none;
    background: none repeat scroll 0% 0% transparent;
}

.makeBetBtn{
    font-size:20px;
}

.money img{
    vertical-align: middle;
    position:relative;
    top:-2px;
}

.league_name_with_flag{
    white-space: nowrap;
}

.userInfoPopover .thumbnail{
    margin-bottom:5px;
}

.footer_links > a{
    margin-left:5px;
}

.footer_links > a:first-child{
    margin-left:0;
}