/*========= Custom Font =========*/
@font-face {
    font-family: "WeblySleek UI";
    src: url("/fonts/ws-ui.eot");
    src: local('WeblySleek UI Regular'), url("/fonts/ws-ui.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url("/fonts/ws-ui-semibold.eot");
    src: local('WeblySleek UI Bold'), url("/fonts/ws-ui-semibold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url("/fonts/ws-ui-light.eot");
    src: local('WeblySleek UI Light'), url("/fonts/ws-ui-light.woff") format("woff");
    font-weight: 100;
}

body {
    font-family: "WeblySleek UI","Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;    
    font-size: 14px;
    line-height: 22px;
}

.h1, .h2, .h3, h1, h2, h3{
    font-family: "WeblySleek UI","Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.bg-one {
    background: #208C96 url("/img/homepage/home_bg.jpg") no-repeat scroll center center;
    background-size: cover;
    position: relative;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.25);    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.navbar-default{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand{
    padding: 2px 0px 2px 15px;
    white-space:nowrap;
}

.navbar-brand img{
    object-fit: contain;
    max-height: 100%;
    height: 100%;
}

.home-wrapper {
    color: #FFF;
    padding: 130px 0px 130px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

h1 {
    font-weight: 700;    
    font-size:36px;    
}

.home-wrapper h1,
.footer-cta h1{
    color:#FFF;
}

.footer-cta h1{
    margin-bottom:40px;
}

h4 {
    line-height: 24px;
    margin-top: 30px;    
    margin-bottom: 50px;
    font-size: 16px;
    font-weight:500;
}

.home-wrapper h4,
.footer-cta h4{
    color: #EEE;
}

.footer-cta h4{
    margin-bottom:30px;
}

.section {
    padding-top: 10px;   
    padding-bottom: 10px;
}

.feature-detail {
    padding: 90px 0px 50px 30px;
}

.title {
    font-weight: 300;
    line-height: 50px;
    margin-top: 0px;
}
.bg-services {
    background: #208C96 url("/img/bg-body.jpg") no-repeat scroll center center;
    background-size: cover;
    border-bottom: 1px solid #969595;
    border-top: 1px solid #969595;
    padding:30px 0;
}

.bg-services{
    color:#FFF;
}

.bg-services .title{
    color:#FFF;
    margin-bottom:50px;    
}

.service-item i {
    float: left;
    font-size: 28px;
    line-height: 36px;
    width: 30px;
}

.btn.btn-rnd{
    padding: 11px 40px;
    border-radius: 30px;
}

.btn-custom {
    background: #45B685 none repeat scroll 0% 0% !important;        
    color: #FFF !important;
    border: 1px solid #45B685;
    font-size:150%;
}

.btn-custom:hover,
.btn-custom:active {
    background: #18BC9C none repeat scroll 0% 0% !important;
    border-color:#18BC9C;
}

.footer-cta{
    padding-bottom:30px;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer h5 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-alt {
    border-top: 1px solid rgba(151, 160, 175, 0.2);
    margin-top: 30px;
    padding-top: 20px;
}