/**
* Typography
*/
body{
    color:#333;
}

.page-header{
  margin-top:0;
  color:#2C3E50;  
  border-bottom:0;
  padding-bottom:0;
}

.h1, .h2, .h3, h1, h2, h3, .lead, blockquote{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top:0;    
}

h1{
    font-size:1.9em;
    color:#0d5229;
    border-bottom:2px solid #12a35e;  
    line-height:1.4em;
    margin-bottom:10px;
}

h2 { 
    font-size:1.7em; 
    line-height:1.2em; 
    color:#0d5229;     
    margin-bottom:10px;
}

h3 { 
    font-size:1.5em; 
    line-height:1.2em;     
}

.lead{
  font-size:1.4em;
  margin-bottom:10px;
}

mark{
  background-color:#d9edf7;
}

a{
  color:#18BC9C;
  outline:medium none;
  text-decoration:underline;
}

a:hover,
a:active,
a:focus{
  text-decoration:none; 
}

.text-primary{
    color:#0d5229;
}

.text-success{
    color:#18BC9C;
}

/**
* Navbar
*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }    
    
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #FFF;
        background-color: #0D5229;
    }
}

.navbar-default{
    background-color: #FFF;
    border-color: #FFF;
    border-radius:0;
    border:0;
}

.navbar-default a{
        text-decoration: none;
    }

/**
* Buttons
*/
a.btn{
    text-decoration: none;
}

.btn-flat{
    border-radius: 0;
    border-width: 1px;
    box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #798d8f;
  border-color: #566566;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #798d8f;
  border-color: #74898a;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #798d8f;
  border-color: #74898a;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #687b7c;
  border-color: #566566;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #95a5a6;
  border-color: #95a5a6;
}
.btn-default .badge {
  color: #95a5a6;
  background-color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #000000;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0d1318;
  border-color: #000000;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-primary .badge {
  color: #2c3e50;
  background-color: #ffffff;
}


/**
* Alerts
*/
.alert{
    padding: 15px;
}

.alert-dismissable, .alert-dismissible{
    padding-right: 35px;
}

.alert-info{
    border-color:#D9EDF7;
}

.alert-success{
    background:#12a35e;
    border-color:#12a35e;
    color:#FFF;
}

.close:hover, .close:focus{
    color: #FFF;
    opacity: 1;
}

/**
* Popovers
*/
.popover{
    font-size:12px;    
    padding:0;
    border-radius: 0;
}

.popover > .arrow::after,
.popover.bottom > .arrow::after,
.popover.top > .arrow::after,
.popover.left > .arrow::after,
.popover.right > .arrow::after{
    border-bottom-color:#f7f7f7;
}

.popover-content .nav-pills a{
    border-radius: 0;
    padding: 5px;    
}

.popover-content .nav-pills > li.active > a, 
.popover-content .nav-pills > li.active > a:focus, 
.popover-content .nav-pills > li.active > a:hover{
    background-color: #2c3e50;
}

.popover-title{
    border-radius:0;
}

.popover-footer{
    padding: 8px 14px;
    margin: 0px;    
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    text-align: right;
}

.popover-content .table-responsive{
    max-height:200px;
    overflow-y: auto;
}

/**
* Panels
*/
.panel-group .panel{
    border-radius:0;
}

.panel-heading{
    padding:0;
    border-radius:0;
}

.panel-title{
    color: #31708F;
    font-size: 1em;
    line-height: 1em;    
    padding:7px 10px;
}

.panel-title a.expand_area{
    text-decoration: none;
    display:block;        
}

.panel-title a.expand_area:before{    
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:bold;
    line-height:1;
    content:"\e080";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.panel-title a.expand_area[aria-expanded="true"]:before{    
    content:"\e114";    
    top:3px;
}
/**
* Tables
*/
.table caption{
    font-weight: bold;
    text-align: left;
    color:#2C3E50;
    padding: 0px 0px 10px;    
}

.table > thead > tr > th{
  color:#2C3E50;
}

.table > tbody > tr > td{
    vertical-align:middle;
}

/**
* Labels
*/
.label-default{
    background-color: #95A5A6;
}

.label-primary{
    background-color: #2C3E50;
}

/**
* Pagination
*/
.pagination{
    margin:0;
    border-radius:0;
}

.pagination > li > a, .pagination > li > span{
    color: #FFF;
    background-color: #18BC9C;
    border: 1px solid transparent;    
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{    
    color: #FFF;
    background-color: #0F7864;
    border-color: transparent;    
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {  
  color: #ffffff;
  background-color: #0f7864;
  border-color: transparent;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {  
  color: #ffffff;
  background-color: #0f7864;
  border-color: transparent;  
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ecf0f1;
  background-color: #3be6c4;
  border-color: transparent;  
}

/**
* Breadcrumbs
*/
.breadcrumb{
    background: #ECF0F1;
    border: 1px solid #ECF0F1;
    border-radius: 4px;
}

/**
* Thumbnails
*/
.thumbnail{
    border-radius: 0;    
}