body{
    background: #208C96 url("/img/bg-body.jpg") no-repeat fixed center center;    
    background-size: cover;
}

.l-sitewidth{    
    padding-bottom: 45px;
    padding-right:0;
    padding-left:0;
}

.l-header{
    margin-top:20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
    .l-header .navbar-brand{
        padding: 2px 10px 2px 15px;
        white-space:nowrap;
    }
    .l-header .navbar-brand img{
        object-fit: contain;
        max-height: 100%;
        height: 100%;
    }
    
    .l-header .dropdown-menu .active a{
        background-color: #0d5229;
    }
    
    .l-header .profile-image{
        width:30px;
        height:30px;              
        border-radius:50%;
    }    
    
    .l-header .profile-menu{
        padding-top: 10px;
        padding-bottom: 10px;
    }

.l-content{
    background-color:#fff;
    padding: 21px 24px 26px 25px;    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.l-content-wrapper{
    width:100%;
    overflow:hidden;
}

.l-footer{    
    padding:5px 10px;
}

.l-footer-wrapper{
    width:100%;
    overflow:hidden;
}

.l-footer a{
    color:#fff;
}