.l-mainnav .navbar-nav li{
    margin-left:7px;
    margin-right:7px;
}
.l-mainnav .navbar-nav a{
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom:7px;
    background-color:transparent !important;
}

.l-mainnav .navbar-nav a:hover{
    border-bottom:5px solid #0C5728;
}

.l-mainnav .navbar-right li a{
    color:#1c4162;
}

.l-mainnav .navbar-right li a:hover{
    border-bottom:none;
}

.l-mainnav .navbar-right li a.registration i{
    font-size: 16px;
}

.l-mainnav .navbar-right li a i{

}

.l-mainnav .user-dropdown{
    width: 320px;
    padding: 1px 0 0;
}

.l-mainnav .user-header{
    height: 135px;
    padding: 10px;
    text-align: center;
}

    .l-mainnav .user-header .profile-image{
        width:90px;
        height:90px;
        border: 3px solid rgba(255, 255, 255, 0.2);
    }

    .l-mainnav .user-header .balance_row{
        font-size:0.85em;
        font-weight:bold;
        margin-bottom:5px;
    }

.l-mainnav .user-body{
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    padding: 15px;
    font-size:1.7em;
}

    .l-mainnav .user-body .submenu_row .col-xs-2{
      width:20%;
    }

    .l-mainnav .user-body a{
        display:block;
    }

    .l-mainnav .user-body a:hover,
    .l-mainnav .user-body a.active,
    .l-mainnav .user-body a.active{
        color:#337ab7;
    }

.l-mainnav .user-footer{
    background-color: #f9f9f9;
    padding: 10px;
}
    .l-mainnav .user-footer:before,
    .l-mainnav .user-footer:after{
        content: " ";
        display: table;
    }

    .l-mainnav .user-footer:after{
         clear: both;
    }

    .l-mainnav .user-footer .btn{
        background-color: #f4f4f4;
        border-color: #ddd;
        color:#666666;
        font-size:0.8em;
    }

l-footer .footer_links > a{
    margin-left:5px;
}

l-footer .footer_links > a:first-child{
    margin-left:0;
}

.money img{
    vertical-align: middle;
    position:relative;
    top:-2px;
}

.userlink{
  text-align:center;
  display:inline-block;
}

  .userlink .userimage-wrapper{
      display:block;
      margin:0 auto 10px auto;
      border-radius:50%;
      overflow:hidden;
      width:32px;
      height:32px;
  }

  .userlink .userimage-wrapper img{
      width:100%;
      height:100%;
  }

  @media (min-width:768px) {
    .userlink .userimage-wrapper{
      display:block;
      float:left;
      margin-right:10px;
      margin-bottom:0;
    }

    .userlink .usernick-wrapper{
      display:block;
      float:left;
      margin-top:9px;
    }
  }

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer{
  cursor:pointer;
}

*:focus {
    outline: none;
}
