.form-control, input{
    border-width: 1px;
    border-style:solid;
    box-shadow: none;    
}

input[type="file"]{
    border-width:0;
}

.form-control{
    color:#2C3E50;
    background-color:#FFF;
    border-color:#DCE4EC;
    border-radius:0px;
}

.form-control:focus{
    border-color:#2C3E50;
    outline:0;    
    box-shadow:none !important;
}

.input-group-addon{
    background:#FAFAFA;
    border-radius: 0;
}

label{
    color:#2C3E50;
}

.bet-control{
    display:inline;
    width:50px;
    padding:2px;
    font-size:12px;
    line-height:14px;
    height:auto;
    box-shadow:none;
    background: none;    
}

.bet-control:hover,
.bet-control:active,
.bet-control:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    background: #FFF;    
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 18px;
  background-color: #dddddd;
  border-radius: 10px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 17px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #693;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 21px;
}

