.h1, .h2, .h3, h1, h2, h3{
    font-family: "WeblySleek UI","Segoe UI","Helvetica Neue",Arial,sans-serif;
}

h1 {
    color: #0C5728;
    font-weight: 700;
    font-size:36px;
}

h2 {
    color: #0C5728;
    line-height: 24px;
    margin-top: 0;
    font-size:24px;
    font-weight:700;
}

.bg-one {
    background:url("/img/homepage/home_bg.jpg") no-repeat scroll center center;
    background-size: cover;
    position: relative;
}

.l-mainnav{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.navbar-brand{
    padding: 2px 0px 2px 15px;
    white-space:nowrap;
}

.navbar-brand img{
    object-fit: contain;
    max-height: 100%;
    height: 100%;
}

.home-wrapper {
    padding: 30px 0px 30px;
    min-height: 435px;
}

.home-wrapper .ion-trophy{
    display:block;
    font-size:30px;
    color: #0C5728;
    margin-top:20px;
    margin-bottom:20px;
}

.home-wrapper h2{
    margin-bottom:40px;
}

.home-wrapper .btn,
.bg-five .btn{
    padding:13px 20px;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    background-color: rgba(12,86,38,0.5);
    border-color:#fff;
    border-radius: 5px;
}

.bg-five .btn,
.bg-five .btn:hover{
    padding:7px 10px;
    font-size:13px;
    background-color: rgb(12,86,38);
}

.home-wrapper .btn:hover{
    background-color: rgba(12,86,38,0.7);
}

.home-wrapper .btn i{
    font-size:30px;
}

.bg-five .btn i{
    font-size:20px;
}

@media(max-width:768px) {
    .home-wrapper .btn{
        padding:5px 10px;
        font-size:13px;
    }

    .home-wrapper .btn i{
        font-size:20px;
    }
}

.section {
    padding: 30px 15px;
    border-bottom:1px solid #cecece;
}

.section p{
    font-size:14px;
    margin-bottom: 20px;
}

.service-item i {
    float: left;
    font-size: 28px;
    line-height: 36px;
    width: 30px;
}

.bg-two{
    background:#CECECE url("/img/homepage/bg_two.jpg") repeat scroll left top;
    position: relative;
}

.bg-three{
    background:url("/img/homepage/bg_three.png") repeat scroll center top;
    position: relative;
}

.bg-four{
    background:url("/img/homepage/home_bg2.jpg") repeat scroll center center;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    color:#fff;
}

    .bg-four .wrapper{
        background:rgba(0,0,0,0.5);
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        margin-left:-15px;
        margin-right:-15px;
        padding:30px 15px;
    }

    .bg-four h2{
        color:#fff;
        margin-bottom: 30px;
    }

.page-header{
    font-size:40px;
    line-height: 48px;
    font-weight: 500;
    border-bottom-width:5px;
    border-bottom-color:#079E55;
}

.footer-cta{
    padding-bottom:30px;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer h5 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-alt {
    border-top: 1px solid rgba(151, 160, 175, 0.2);
    margin-top: 30px;
    padding-top: 20px;
}