<table class="table">
    <thead>
        <tr>
            <th class="text-center">Результат футбольного матча</th>
            <th class="text-center">Очки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Угаданный исход</td>
            <td class="text-center">[[ {{ scope }}.base ]]</td>
        </tr>
        <tr>
            <td class="text-center">Угаданная разница в счете</td>
            <td class="text-center">[[ {{ scope }}.base ]] + Дополнительные очки</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th class="text-center">Угаданная разница</th>
            <th class="text-center">Дополнительные очки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Разница при ничьи</td>
            <td class="text-center">[[ {{ scope }}.addDiff0 ]]</td>
        </tr>
        <tr>
            <td class="text-center">Разница в 1 мяч</td>
            <td class="text-center">[[ {{ scope }}.addDiff1 ]]</td>
        </tr>
        <tr>
            <td class="text-center">Разница в 2 мяча</td>
            <td class="text-center">[[ {{ scope }}.addDiff2 ]]</td>
        </tr>
        <tr>
            <td class="text-center">Разница в 3 мяча</td>
            <td class="text-center">[[ {{ scope }}.addDiff3 ]]</td>
        </tr>
        <tr>
            <td class="text-center">Разница в 4 и более</td>
            <td class="text-center">[[ {{ scope }}.addDiff4 ]]</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <td colspan="2" class="text-left"><b>Точные счета футбольного матча</b></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in {{ scope }}.correctScores track by $index">
            <td class="text-center">[[ item.score ]]</td>
            <td class="text-center">[[ item.points ]]</td>
        </tr>
        <tr>
            <td class="text-center">другой счёт</td>
            <td class="text-center">[[ {{ scope }}.anotherCorrectScorePoints ]]</td>
        </tr>
    </tbody>
</table>