{% extends 'AppBundle:frontend/layouts:tournament.html.twig' %}

{% block content %}
<div ng-controller="TournamentRoundCtrl" ng-cloak>
  <uib-tabset active="activePill" type="pills" class="tournament-tabs">
    <uib-tab index="0" heading="{{ 'Турнир'|trans }}" select="loadTournament({{ tournament.getCurrentRound() }})">
      
      <div class="row">
        <div class="col-md-7">
          
          <uib-tabset active="activePill" type="pills" class="tournament-round-tabs">
            <uib-tab index="0" heading="{{ 'Игры'|trans }}">
            
                <div class="alert alert-info" role="alert" ng-show="!results.length">
                <i class="glyphicon glyphicon-info-sign"></i> {{ 'Пока что в турнире нет участников.' }}
                </div>

                {% if tournament.getTournament().getIsStarted() == false %}
                <div class="alert alert-info">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'Представлено ознакомительное расписание первого тура для максимального числа участников. При старте турнира, расписание будет автоматически сгенерировано.'|trans }}
                </div>
                {% endif %}

                <script type="text/ng-template" id="tournamentRoundGameGroupTmpl.html">
                <div class="panel {{'{{panelClass || "panel-default"}}'}}">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div tabindex="0" class="accordion-toggle" ng-click="toggleOpen();" uib-accordion-transclude="heading">
                        <span uib-accordion-header>
                          {{'{{heading}}'}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <div class="panel-body game-info" ng-transclude></div>                
                  </div>              
                </div>
                </script>


                <uib-accordion class="games-accordion" close-others="false">
                <uib-accordion-group ng-repeat="game in games" template-url="tournamentRoundGameGroupTmpl.html" is-open="gamesAccordionConfig.accordionGroupOpen[game.id]">
                    <uib-accordion-heading>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <userlink user-id="game.userLeft.id" user-nick="game.userLeft.nick" user-avatar="game.userLeft.avatar"></userlink>
                            </div>
                            <div class="col-xs-4 text-center">
                                <div class="label label-primary game-score-wrap">
                                    <span ng-show="game.scoreLeft == null">&ndash;</span><span ng-show="game.scoreLeft != null">{{ '{{ game.scoreLeft }}' }}</span> : <span ng-show="game.scoreRight != null">{{ '{{ game.scoreRight }}' }}</span><span ng-show="game.scoreRight == null">&ndash;</span>
                                </div>
                                <div class="text-center game-info-btn-wrapper">
                                    <span class="label label-info">{{ 'Подробнее'|trans }}</span>
                                </div>
                            </div>
                            <div class="col-xs-4 text-center">
                                <userlink user-id="game.userRight.id" user-nick="game.userRight.nick" user-avatar="game.userRight.avatar"></userlink>
                            </div>
                        </div>
                    </uib-accordion-heading>                
                    <table class="table table-condensed game-matches-table">
                        <tbody>
                            <tr ng-repeat="info in gamesInfo[game.id]">
                                <td class="col-xs-3 text-left">
                                    <i class="glyphicon glyphicon-time" ng-show="!info.match.isProcessed"></i>
                                    <span ng-show="info.match.isProcessed">{{ '{{info.points.userLeft}}' }}</span>
                                </td>
                                <td class="col-xs-6 text-center">{{ '{{info.match.homeTeamTitle}}' }} &mdash; {{ '{{info.match.guestTeamTitle}}' }} </td>                            
                                <td class="col-xs-3 text-right">
                                    <i class="glyphicon glyphicon-time" ng-show="!info.match.isProcessed"></i>
                                    <span ng-show="info.match.isProcessed">{{ '{{info.points.userRight}}' }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-accordion-group>            
                </uib-accordion>
            
            </uib-tab>
            
            <uib-tab index="1" heading="{{ 'Таблица'|trans }}">
                
                <div class="table-responsive" ng-show="results.length">
                    <table class="table table-hover table-tournament-results">
                        <thead>
                            <tr>
                                <th class="col-xs-1 text-center">{{ 'Место'|trans }}</th>
                                <th>{{ 'Участник'|trans }}</th> 
                                <th class="text-center">
                                    <abbr class="initialism" title="{{ 'Выигрышы'|trans }}">{{ 'В'|trans }}</abbr>
                                </th>
                                <th class="text-center">
                                    <abbr class="initialism" title="{{ 'Ничьи'|trans }}">{{ 'Н'|trans }}</abbr>
                                </th>                                
                                <th class="text-center">
                                    <abbr class="initialism" title="{{ 'Поражения'|trans }}">{{ 'П'|trans }}</abbr>                                    
                                </th>                                                    
                                <th class="text-center">
                                    <abbr class="initialism" title="{{ 'Заработанные очки'|trans }}">{{ 'ЗО'|trans }}</abbr>
                                </th>
                                <th class="text-center">
                                    <abbr class="initialism" title="{{ 'Рейтинг пользователя на момент подсчёта очков'|trans }}">{{ 'Р'|trans }}</abbr>
                                </th>
                                <th class="sm-col text-center">
                                    <abbr class="initialism" title="{{ 'Баллов всего'|trans }}">{{ 'Б'|trans }}</abbr>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="result in results" ng-class="{ 'bg-info' : currentUserId == result.user.id }">
                              <td class="text-center">{{ '{{result.place}}' }}</td>
                              <td><userlink user-id="result.user.id" user-nick="result.user.nick" user-avatar="result.user.avatar"></userlink></td>
                              <td class="text-center">{{ '{{result.totalWins}}' }}</td>
                              <td class="text-center">{{ '{{result.totalDraws}}' }}</td>
                              <td class="text-center">{{ '{{result.totalLoss}}' }}</td>
                              <td class="text-center">{{ '{{result.totalGoalsScored}}' }}</td>
                              <td class="text-center"><userrating val="result.userRating"></userrating></td>
                              <td class="text-center">{{ '{{result.points}}' }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>        
                
            </uib-tab>
            
          </uib-tabset>
          
          
        
        </div>
        <div class="col-md-5">            
              {% if tournament.getTournament().getIsStarted() == false %}
              <div class="alert alert-info">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'Представлено максимальное количество туров. При старте турнира, количество туров будет автоматически скорректировано по количеству реальных участников.'|trans }}
              </div>
              {% endif %}
              <tournamentmatches
                tournament-id="tournament.id"                
                matches-by-rounds="tournament.matchesByRounds"
                current-round="tournament.currentRound"
              ></tournamentmatches>
        </div>
      </div>
    </uib-tab>
    {% if tournamentStatus == 'STATUS_OVER' %}
    <uib-tab index="1" heading="{{ 'Результаты'|trans }}" select="loadWinners()">
      
      <div class="row">
        <div class="col-xs-12">
          
          {{ include('AppBundle:frontend/tournaments:winners.html.twig') }}
          
        </div>
      </div>
      
    </uib-tab>
    {% endif %}
  </uib-tabset>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets        
    '@AppBundle/Resources/public/css/tournament/games.css'
    output='/css/tournament/round/view.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts   
  '@AppBundle/Resources/public/js/app/controllers/Tournament/RoundController.js' 
  output='/js/tournaments/round/view.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}