{% if tournament.getTournament().getIsStarted() %}
{% set realUsersCount = tournament.getTournament().getUsers()|length %}
{% set totalSumm = tournament.getTournament().getInitBudget() + (tournament.getTournament().getFee()*realUsersCount)  %}
{% set realSumm = totalSumm - (totalSumm*tournament.getTournament().getCommission())/100  %}
<p>
{{ 'Текущий бюджет'|trans }}: <b class="lead text-success">{{ include('AppBundle:common:money.html.twig', { money: realSumm }) }}</b>
</p>
{% endif %}
{% if tournament.getTournament().getIsStarted() == false %}
<p class="text-info">{{ 'Представлены возможные призовые при расчёте на максимальное количество участников.'|trans }}</p>                
{% endif %}
<div class="table-responsive">
{{ include('AppBundle:frontend/win_distribution:table.html.twig', {winDistribution: winDistribution, tournament: tournament}) }}
</div>