{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'В данный момент вывод средств невозможен по техническим причинам.'|trans }}{% endblock %}

{% block body %}
<h3>{{ 'В данный момент вывод средств невозможен по техническим причинам.'|trans }}</h3>
<p>{{ 'Уважаемые пользователи.'|trans }} {{ 'К сожалению в данный момент вывод средств невозможен по техническим причинам. Проблема уже решается нашими техническими специалистами и будет устранена в ближайшее время.'|trans }}</p>
{% endblock %}