{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'Обмен золотых монет и вывод денежных средств на QIWI-кошелёк'|trans }}{% endblock %}

{% block body %}
<h3>{{ 'Обмен золотых монет и вывод денежных средств на QIWI-кошелёк'|trans }}</h3>
{{ form_start(form, { 'attr': { 'data-confirmurl' : path('personal/cashout/qiwi/confirm') } }) }}

<div class="row">

    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="data-box">                    
                    <h4 class="heading">{{ 'Доступно для вывода'|trans }}</h4>                    
                    <p class="value text-success">{{ include('AppBundle:common:money.html.twig', { money: free_funds }) }} = {{ free_funds*money_rate }}{{ currency_sign|raw }}</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>{{ 'Коммиссия при выводе составляет - %commission%%'|trans({ '%commission%': commission}) }}</p>
                <p>{{ 'Минимальное количество золотых монет для обмена:'|trans }} {{ include('AppBundle:common:money.html.twig', { money: min_cashout/money_rate }) }} = {{ min_cashout }} {{ currency_sign|raw }}</p>
                <p>{{ 'Максимальное количество золотых монет для обмена:'|trans }} {{ include('AppBundle:common:money.html.twig', { money: max_cashout/money_rate }) }} = {{ max_cashout }} {{ currency_sign|raw }}</p>
                <p>{{ 'Обменный курс'|trans}}: {{ include('AppBundle:common:money.html.twig', { money: 1 }) }} = {{ money_rate }} {{ currency_sign|raw }}</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">                    
            {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">    
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage|trans }}
            </div>                    
            {% endfor %}
            {{ form_row(form.qiwi_phone, { label: 'Номер QIWI-кошелька'|trans }) }}            
            {{ form_row(form.amount, { 'label': 'Количество золтых монет'|trans }) }}
        <div class="pull-right">
            {{ form_row(form.submit, { label: 'Отравить запрос'|trans }) }}
        </div>
    </div>
</div>

{{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets        
    '@AppBundle/Resources/public/css/personal/cashout/card.css'
    output='/css/personal/cashout/card.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts     
  '@AppBundle/Resources/public/js/models/personal/cashout/qiwi.js'
  '@AppBundle/Resources/public/js/controllers/personal/cashout/qiwi.js'  
  output='/js/personal/cashout/qiwi.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}