<h3>{{ 'Подтвердите правильность введенных данных'|trans }}</h3>
<table class="table">    
    <tbody>
        <tr>
            <td>{{ 'Номер QIWI-кошелька' }}:</td>
            <td>{{ qiwiPhone }}</td>
        </tr>
        <tr>
            <td>{{ 'Запрошенная сумма вывода' }}:</td>
            <td>{{ amount }} {{ currency_sign|raw }}</td>
        </tr>
        <tr>
            <td>{{ 'Комиссия системы за вывод'|trans }}:</td>
            <td>{{ commissionReal }} {{ currency_sign|raw }} ({{ commissionPercent }}%)</td>
        </tr>        
    </tbody>
</table>
<p class="lead text-right">{{ 'Средства на вывод'|trans }}: {{ amountWithCommission }} {{ currency_sign|raw }}</p>