{% extends 'AppBundle:frontend/layouts:personal.html.twig' %}

{% set activeTopNav = 'personal/balance' %}

{% block title %}{{ 'Обмен золотых монет и вывод денежных средств на QIWI-кошелёк'|trans }}{% endblock %}

{% block body %}
<h1 class="page-header">{{ 'Оформление заявки на обмен золотых монет и вывод на банковскую карту'|trans }}</h1>

<div class="row">

    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="data-box">
                    <h4 class="heading">{{ 'Доступно для вывода'|trans }}</h4>
                    <p class="value text-success">{{ include('AppBundle:common:money.html.twig', { money: freeFunds }) }} = {{ freeFunds*moneyRate }}{{ currency_sign|raw }}</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-8">
              <p>{{ 'Коммиссия при выводе составляет - %commission%%'|trans({ '%commission%': commission}) }}</p>
              <p>{{ 'Время зачисления средств - до 5 дней'|trans }}</p>
              <p>{{ 'Минимальное количество золотых монет для обмена:'|trans }} {{ include('AppBundle:common:money.html.twig', { money: minCashout/moneyRate }) }} = {{ minCashout }} {{ currency_sign|raw }}</p>
              <p>{{ 'Обменный курс'|trans}}: {{ include('AppBundle:common:money.html.twig', { money: 1 }) }} = {{ moneyRate }} {{ currency_sign|raw }}</p>
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage|trans }}
        </div>
        {% endfor %}

        {{ form_start(form) }}

          {{ form_row(form.card_number, { label: 'Номер карты'|trans }) }}
          {{ form_row(form.bank, { label: 'Наименование банка выдавшего карту'|trans }) }}

          {{ form_row(form.fio, { label: 'ФИО'|trans }) }}
          {{ form_row(form.birthdate, { label: 'Дата рождения'|trans }) }}

          {{ form_row(form.amount, { label: 'Количество золотых монет'|trans }) }}

          <div class="pull-right">
              {{ form_row(form.submit, { label: 'Отравить заявку'|trans }) }}
          </div>
        {{ form_end(form) }}
    </div>
</div>


{% endblock %}