<h3>{{ 'Подтвердите правильность введенных данных'|trans }}</h3>
<table class="table">    
    <tbody>
        <tr>
            <td>{{ 'Номер банковской карты'|trans }}:</td>
            <td>{{ cashoutRequest.getCardNumber() }}</td>
        </tr>
        <tr>
            <td>{{ 'Наименование банка'|trans }}:</td>
            <td>{{ cashoutRequest.getBank() }}</td>
        </tr>
        <tr>
            <td>{{ 'ФИО'|trans }}:</td>
            <td>{{ cashoutRequest.getFio() }}</td>
        </tr>
        <tr>
            <td>{{ 'Дата рождения'|trans }}:</td>
            <td>{{ cashoutRequest.getBirthdate().format('d.m.Y') }}</td>
        </tr>
        <tr>
            <td>{{ 'Запрошенное количество золотых монет для обмена' }}:</td>
            <td>{{ cashoutRequest.getAmount() }} {{ currency_sign|raw }}</td>
        </tr>        
        <tr>
            <td>{{ 'Комиссия системы за вывод'|trans }}:</td>
            <td>{{ commissionReal }} {{ currency_sign|raw }} ({{ commissionPercent }}%)</td>
        </tr>        
    </tbody>
</table>
<p class="lead text-right">{{ 'Средства на вывод'|trans }}: {{ amountWithCommission }} {{ currency_sign|raw }}</p>