{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/draft' %}

{% block title %}Добавление турнира{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Добавление турнира{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">    
    <div class="box-header">
        <h3 class="box-title">Создание турнира</h3>
    </div>
    {{ form_start(form, {
    attr: {
    'ng-controller': 'AdminTournamentAddCtrl',
    }
    }) }}    
    <div class="box-body">        
        <div class="row">
            <div class="col-sm-6">          
                {{ form_row(
                    form.format,
                    {
                        label: 'Формат',
                        attr: {
                            'ng-model': 'tournament.fields.format',                        
                            'init-field-value': '',
                        }
                    })
                }}        
                {{ form_row(form.title, { label: 'Название' } ) }}      
                {{ form_row(form.fee, { label: 'Взнос (ЗМ)' } ) }}
                <hr />
                {{ form_row(form.initBudget, { label: 'Начальный призовой фонд (ЗМ)' } ) }}
                {{ form_row(
                    form.commission, 
                    { 
                        label: 'Коммиссия системы (%)',
                        attr: {
                            'ng-model': 'tournament.fields.commission',
                            'ng-readonly': 'tournament.commissionReadonly',
                            'init-field-value': '',
                        }
                    } ) 
                }}
                <hr />                
                <div class="form-group">
                    <label for="tournmaent_open_type">{{ 'Настройка приватности'|trans }}</label>
                    <select class="form-control" ng-model="tournament.openType" init-field-value>
                        <option value="OPEN_WITHOUT_CONFIRMATION" selected="selected">{{ 'Открытый, без подтверждения администрацией'|trans }}</option>
                        <option value="OPEN_WITH_CONFIRMATION">{{ 'Открытый, с подтверждением администрацией'|trans }}</option>
                        <option value="PRIVATE_WITHOUT_CONFIRMATION">{{ 'Закрытый, без подтверждения участниками'|trans }}</option>
                    </select>
                </div>
                {{ form_row(
                    form.isPromo, { 
                        label: 'Промо-турнир',
                        attr: {
                            'ng-model': 'tournament.fields.isPromo'                            
                        }
                    } ) 
                }}
                <div class="hidden">
                    {{ form_row(form.geography, { label: 'География' } ) }}
                    {{ form_row(
                        form.is_open, 
                        { 
                            label: 'Открытый',
                            attr: {
                                'ng-model': 'tournament.fields.isOpen'
                            }
                        } ) 
                    }}
                    {{ form_row(
                        form.with_confirmation, 
                        { 
                            label: 'С подтверждением участия',
                            attr: {
                                'ng-model': 'tournament.fields.withConfirmation'
                            }
                        } ) 
                    }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    {{ form_row(form.leagues, { label: 'Выбор лиг' } ) }}
                </div>
            </div>
        </div>
    </div>    
    <div class="box-footer">
        {{ form_row(form.save, { label: 'Далее' } ) }}    
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block angularequire %}
'AdminPoliciesRegulationsService',
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ include('AppBundle:admin/policies/regulations:modal.html.twig') }}
    
    {% javascripts        
        '@AppBundle/Resources/public/js/adminapp/services/Policies/RegulationsService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Tournament/AddController.js'
        output='js/admin/tournaments/add.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}