{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/published' %}

{% block title %}Управление прогнозами участников{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Управление прогнозами участников{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
<div
    class="box"
    ng-controller="AdminTournamentBotManagementCtrl"
    ng-init="
        tournament.id = '{{ tournament.getId() }}';
        tournament.usersCount = '{{ tournament.getUsers()|length }}';
        tournament.maxUsersCount = '{{ tournament.getMaxUsersCount() }}';
        loadUsersList();
    ">
    {% if tournament.getIsStarted() == false and tournament.getUsers()|length < tournament.getMaxUsersCount() %}
    <div class="box-body">
        <a 
            class="btn btn-primary" 
            ng-click="addBot()"             
            ng-hide="tournament.usersCount == tournament.maxUsersCount">
                <i class="fa fa-plus-circle"></i> Добавить ботов в турнир
            </a>
    </div>
    {% endif %}

    <div class="box-body">        
        <div class="row">
            <div class="col-sm-4">                
                <div class="form-group">
                    <label class="control-label">Роль пользователя</label>
                    <select 
                        class="form-control" 
                        ng-model="selectedRole"                 
                        ng-change="filter.role = roles[selectedRole]; loadUsersList();"
                        >
                        <option value="users" ng-selected="selectedRole == 'users'">Пользователь</option>
                        <option value="bots" ng-selected="selectedRole == 'bots'">Бот</option>
                    </select>
                </div>
                
                <ul class="list-group">
                    <a ng-repeat="user in users" class="list-group-item pointer" ng-class="{ 'active': currentUserSelected == user.id }" ng-click="showMatchesBets(user.id)">
                        [[ user.nick ]]
                    </a>
                </ul>
            </div>
            <div class="col-sm-8">
                <div ng-repeat="match in matches">                    
                    <table class="table">
                        <caption>
                            [[ match.leagueTitle ]]
                            <datetime timestamp="match.startDatetime"></datetime>
                        </caption>
                        <tbody>
                            <tr>
                                <td class="col-xs-8 col-sm-10">[[ match.homeTeam ]]</td>
                                <td class="col-xs-4 col-sm-2">
                                    <input 
                                        type="number"
                                        class="form-control"
                                        ng-disabled="userBets[match.id].isSaving"
                                        ng-model="userBets[match.id].scoreLeft"
                                        ng-change="saveBet(match.id)" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-8 col-sm-10">[[ match.guestTeam ]]</td>
                                <td class="col-xs-4 col-sm-2">
                                    <input 
                                        type="number"
                                        class="form-control"
                                        ng-disabled="userBets[match.id].isSaving"
                                        ng-model="userBets[match.id].scoreRight"
                                        ng-change="saveBet(match.id)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminUsersService',
'AdminTournamentService',
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include(
        'AppBundle:admin/tournaments/bets_management:select_modal.html.twig',
        {
            scope: 'pointsScheme'
        })
    }}
    
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/UsersService.js'
        '@AppBundle/Resources/public/js/adminapp/services/TournamentService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Tournament/BotManagementController.js'
        output='js/admin/tournament/bot_management.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}