{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/draft' %}

{% block title %}Турниры{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Черновики{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">    
    <div class="box-body">        
        <a href="{{ path('admin/tournaments/add') }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i> Добавить 
        </a>        
    </div>
    {% if tournaments|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                  
                  <th class="col-md-1"></th>                            
                  <th>Название</th>
                  <th>Создатель</th>          
                  <th>Тип турнира</th>          
                  <th class="text-center">Открытый/Закрытый</th>
                  <th class="text-center">Подтверждение</th>
                  <th class="col-md-1"></th>                            
                </tr>
              </thead>
              <tbody>
                {% for tournament in tournaments %}
                <tr>
                  <td class="text-center">
                    {% if tournament.getStep() == 2 %}
                      {% set url = 'admin/tournaments/' ~ tournament.getFormat().getInternalName() ~ '/edit' %}
                    {% elseif(tournament.getStep() == 3) %}
                      {% set url = 'admin/tournaments/' ~ tournament.getFormat().getInternalName() ~ '/matches' %}
                    {% endif %}
                    
                      <a class="text-default" href="{{ path(url, {tournament_id: tournament.getId() }) }}" title="Просмотр"><span class="fa fa-edit"></span></a>
                  </td>
                  <td>{{ tournament.getTitle() }}</td>
                  <td>{{ tournament.getAuthor().getNick() }}</td>                  
                  <td>{{ tournament.getFormat().getTitle() }}</td>              
                  <td class="text-center">
                    {% if tournament.getIsOpen() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}                            
                  </td>
                  <td class="text-center">
                    {% if tournament.getWithConfirmation() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}                            
                  </td>
                  <td class="text-center">
                      <a class="text-danger" onclick="return confirm('Вы уверены, что хотите удалить данный турнир?');" href="{{ path('admin/tournaments/delete', { tournament_id: tournament.getId() }) }}" title="Просмотр"><span class="fa fa-trash"></span></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="box-body">
      <p>Турниров не найдено</p>
    </div>
    {% endif %}
</div>
{% endblock %}