{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/finished' %}

{% block title %}Турниры{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Оконченные{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">        
    {% if tournaments|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Название</th>
                  <th class="col-md-2 text-center">Начало турнира</th>
                  <th class="col-md-2 text-center">Конец турнира</th>
                  <th>Тип турнира</th>          
                  <th class="text-center">Открытый/Закрытый</th>
                  <th class="text-center">Подтверждение</th>
                  <th class="col-md-1 text-center">Участников</th>                                    
                  <th>Создатель</th>                  
                </tr>
              </thead>
              <tbody>
                {% for tournament in tournaments %}
                <tr>                  
                  <td>{{ tournament.getTitle() }}</td>
                  <td class="col-md-2 text-center">{{ tournament.getStartDatetime().format('d.m.Y H:i:s') }}</td>
                  <td class="col-md-2 text-center">{{ tournament.getEndDatetime().format('d.m.Y H:i:s') }}</td>
                  <td>{{ tournament.getFormat().getTitle() }}</td>
                  <td class="text-center">
                    {% if tournament.getIsOpen() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}                            
                  </td>
                  <td class="text-center">
                    {% if tournament.getWithConfirmation() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}                            
                  </td>
                  <td class="col-md-1 text-center">{{ tournament.getUsers()|length }}</td>                                    
                  <td>{{ tournament.getAuthor().getNick() }}</td>                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="box-body">
      <p>Турниров не найдено</p>
    </div>
    {% endif %}
</div>
{% endblock %}