{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/published' %}

{% block title %}Приглашения в турнир{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Приглашения в турнир{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}

<div class="box">    
    <div class="box-body">        
        <div class="row">          
            <div class="col-xs-12 col-md-6">
                <form id="searchForm" action="{{ path('admin/tournament/invitations/search', { tournament_id: tournament.getId() }) }}">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Поиск по нику, ФИО или e-mail" required="required">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> Найти</button>
                        </span>                    
                    </div>
                </form>
            </div>
        </div>
        <!-- <a href="{{ path('admin/tournaments/add') }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i> Пригласить 
        </a>        -->
    </div>
    <div class="box-body">
        <div id="searchResults" class="table-responsive">
            <p>Введите поисковый запрос</p>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/admin/js/tournaments/invitations.js"></script>
{% endblock %}