{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/published' %}

{% block title %}Турниры{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Опубликованные{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
<div class="box"
    ng-controller="AdminTournamentPublishedListCtrl"
>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Название</th>
                        <th class="text-center">Начало турнира</th>
                        <th>Тип турнира</th>
                        <th class="text-center">Открытый/Закрытый</th>
                        <th class="text-center">Подтверждение</th>
                        <th class="text-center">Взнос</th>
                        <th class="text-center">Участников</th>
                        <th class="text-center">Заявки/Приглашения</th>                        
                        <th>Создатель</th>                        
                        <th class="text-center">Статус</th>
                        <th class="text-center">Операции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tournament in tournaments.items">
                        <td class="text-center">
                            <a
                                class="btn btn-sm btn-primary"
                                href="/admin/tournaments/[[ tournament.format.internalName ]]/matches/[[ tournament.id ]]"
                                title="Заполнить матчи">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                        <td class="text-center">[[ tournament.id ]]</td>
                        <td class="text-center">[[ tournament.title ]]</td>
                        <td class="text-center"><datetime timestamp="tournament.startDatetime"></datetime></td>
                        <td class="text-center">[[ tournament.format.title ]]</td>
                        <td class="text-center"><booleanval value="tournament.isOpen"></booleanval></td>
                        <td class="text-center"><booleanval value="tournament.withConfirmation"></booleanval></td>
                        <td class="text-center"><money qty="tournament.fee"></money></td>
                        <td class="text-center">[[ tournament.usersCount ]] из [[ tournament.maxUsersCount ]]</td>
                        <td class="text-center">
                            <a
                                class="btn btn-sm btn-primary"
                                ng-if="tournaments.checkUserRequestsBtnVisibility(tournament)"
                                href="/admin/tournament/[[ tournament.id ]]/requests">
                                Заявки: [[ tournament.userRequestsCount ]]
                            </a>
                            <span ng-if="!tournaments.checkUserRequestsBtnVisibility(tournament)">&mdash;</span>
                        </td>                        
                        <td class="text-center">[[ tournament.author ]]</td>                        
                        <td class="text-center"><tournamentstatus code="tournament.status"></tournamentstatus></td>
                        <td class="text-center">
                            <a
                                class="btn btn-sm btn-default"
                                ng-if="tournaments.checkUserInviteBtnVisibility(tournament)"
                                href="/admin/tournament/[[ tournament.id ]]/invitations">
                                <span class="fa fa-user-plus"></span>
                            </a>
                            <a
                                class="btn btn-sm btn-default"
                                href="/admin/tournament/[[ tournament.id ]]/bets_management"
                                title="Управление прогнозами участников">
                                <span class="fa fa-user-secret"></span>
                                </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <div class="text-right">
            <uib-pagination
                total-items="tournaments.totalItems"
                ng-model="tournaments.currentPage"
                items-per-page="tournaments.pageSize"
                direction-links="false"
                num-pages="tournaments.totalPages"
                ng-show="tournaments.totalPages > 1"
                ng-init="tournaments.loadPage(1)"
                ng-change="tournaments.loadPage(tournaments.currentPage)">
            </uib-pagination>
        </div>
    </div>
</div>
{% endblock %}

{% block angularequire %}
'AdminUsersService',
'AdminTournamentService',
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/services/UsersService.js'
        '@AppBundle/Resources/public/js/adminapp/services/TournamentService.js'
        '@AppBundle/Resources/public/js/adminapp/controllers/Tournament/PublishedListController.js'
        output='js/admin/tournaments/published.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}
{% endblock %}

