{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% set activeSubpage = 'admin/tournaments/published' %}

{% block title %}Заявки на турнир{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Заявки на турнир{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('tournament_users_full') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Турнир заполнен участниками. Заявки будут автоматически удалены после начала турнира.
    </div>                    
{% endfor %}

{% if tournament.getUserRequests()|length > 0 %}
<div class="table-responsive">
    <table class="table">
        <tbody>
            {% for user in tournament.getUserRequests() %}        
            <tr>
                <td>{{ include('AppBundle:common/user:user.html.twig', { user: user, no_link: true }) }}</td>
                <td class="col-xs-1"><a href="{{ path('admin/tournament/request/confirm', {'tournament_id': tournament.getId(), 'user_id': user.getId() }) }}" class="btn btn-xs btn-primary" onclick="return confirm('Вы подтверждаете одобрение заявки?')">Одобрить заявку</a></td>
                <td class="col-xs-1"><a href="{{ path('admin/tournament/request/dismiss', {'tournament_id': tournament.getId(), 'user_id': user.getId() }) }}" class="btn btn-xs btn-danger" onclick="return confirm('Вы подтверждаете отклонение заявки?')">Отклонить заявку</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}