({{ match.getMatchDate().format('d.m.Y') }}
{% if match.getMatchTime is not empty %}{{ match.getMatchTime().format('H:i') }}{% else %}<span class="text-muted">[время неизвестно]</span>{% endif %})
{{ match.getHomeTeam().getTitle() }} 
{% if match.getIsOver() %}
    <b>{{ match.getScoreLeft() }}</b>
{% endif %}
&mdash;
{% if match.getIsOver() %}
    <b>{{ match.getScoreRight() }}</b>
{% endif %}
{{ match.getGuestTeam().getTitle() }}