{% set playoffRoundName = roundNum|playoff(roundsCount) %}
{% if playoffRoundName == '1/1' %}
    {{ 'Финал'|trans }}
{% elseif(playoffRoundName == '1/2') %}
    {{ 'Полуфинал'|trans }}
{% else %}    
{{ roundNum|playoff(roundsCount) }} {{  'финала'|trans }}
{% endif %}