<div class="modal fade" id="appbundle_matches_single_select" tabindex="-1" role="dialog" aria-labelledby="appbundle_matches_single_select_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Поиск матча</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" method="POST">
            <div class="form-group">
                <label for="appbundle_matches_single_select_leagues_select">Лига/Кубок</label>
                <select id="appbundle_matches_single_select_leagues_select" class="form-control">
                    <option>Загрузка...</option>
                </select>
            </div>
            <button id="appbundle_matches_single_select_find_button" type="button" class="btn btn-primary">Поиск</button>            
        </form>
        <hr />
        <div class="row">
            <div id="appbundle_matches_single_select_data_container" class="col-md-12" style="height:300px; overflow:auto;">
                <table id="appbundle_matches_single_select_matches_list" class="table table-condensed table-hover">
                  <thead>
                    <tr>          
                      <th class="text-center">Тур</th>          
                      <th class="text-center">Дата</th>                      
                      <th class="text-center">Время</th>                      
                      <th>Хозяева</th>                                            
                      <th></th>
                      <th>Гости</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
            </div>        
            <div id="appbundle_matches_single_select_loading_indicator" style="display:none;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Поиск матчей...
                    </div>
                </div>                
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>        
      </div>
    </div>
  </div>
</div>