<script type="text/ng-template" id="botSelectModalTmpl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Выбор ботов</h4>
    </div>

    <div class="modal-body">
        <p>Количество доступных мест в турнире: [[ availableUsersCount ]]</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Никнейм</th>
                    <th class="col-sm-2">Операции</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        <i class="glyphicon glyphicon-ok text-success" ng-if="userIsSelected(user.id)"></i>
                        [[ user.nick ]]
                    </td>
                    <td>
                        <a
                            class="btn btn-sm btn-primary"
                            ng-if="!userIsSelected(user.id) && availableUsersCount > 0"
                            ng-click="selectUser(user.id)">Выбрать</a>
                        <a
                            class="btn btn-sm btn-danger"
                            ng-if="userIsSelected(user.id)"
                            ng-click="deselectUser(user.id)">Отменить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="apply()">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
    </div>
</script>