<div class="tournament-header">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="page-header">{{ include('AppBundle:common/tournament:title.html.twig', { tournament: tournament.getTournament() }) }}</h1>
    </div>
    <div class="col-sm-6 text-right">
        {% if is_granted('ROLE_USER') %}
            {% if
                userInTournament == false and
                tournament.getTournament().getIsOpen() and
                tournaments_helper.tournamentIsAccessibleForUser(tournament, app.user)
            %}
                {% if tournaments_helper.isTournamentUsersReachMaxCount(tournament) %}
                <div class="alert alert-warning text-center tournament-status" role="alert">
                    <span class="glyphicon glyphicon-check"></span> {{ 'К сожалению в данном турнире количество возможных участников достигло максимума! Попробуйте поискать другой турнир!'|trans }}
                </div>
                {% elseif tournament.getTournament().getWithConfirmation() and tournaments_helper.requestWasSent(tournament, app.user) %}
                    <div class="alert alert-info text-center tournament-status" role="alert">
                        <span class="glyphicon glyphicon-time"></span> {{ 'Вы отправили заявку на туринир! После её одобрения Вы сможете сделать прогнозы.'|trans }}
                    </div>
                {% elseif tournaments_helper.isUserHaveMoneyForRequest(tournament, app.user) == false %}
                <div class="alert alert-danger text-center tournament-status" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ 'На вашем счету недостаточно золотых монет для участия в турнире!'|trans }}
                    <br />
                    <br />
                    <a class="btn btn-success tournament-sign-in" ng-click="tournament.showRefillModal($event)">{{ 'Приобрести золотые монеты'|trans }}</a>
                </div>
                {% else %}
                <a href="{{ path('tournament/request', {'tournament_id': tournament.getTournament().getId()}) }}" class="btn btn-success tournament-sign-in">
                    <span class="ion-log-in sign-in-icon"></span>
                    {% if tournament.getTournament().getWithConfirmation() %}
                        {{ 'Подать заявку на турнир'|trans }}
                    {% else %}
                        {{ 'Участвовать в турнире'|trans }}
                    {% endif %}
                </a>
                {% endif %}
            {% endif %}
        {% else %}
            {% if tournament.getTournament().getIsStarted() == false %}
            <div class="alert alert-info text-center tournament-status" role="alert">
                <span class="glyphicon glyphicon-question-sign"></span> {{ 'Для участия в турнире <a ng-click="tournament.showLoginModal($event)" class="pointer">войдите</a> или <a ng-click="tournament.showRegistrationModal($event)" class="pointer">зарегистрируйтесь</a>!'|trans|raw }}
            </div>
            {% endif %}
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="geography-list">{{ render( controller('AppBundle:Tournaments:tournamentLeagues', { _locale: app.request.getLocale(), tournament_id: tournament.getTournament().getId() }) ) }}</span>
    </div>
  </div>
  <div class="row tournament-info">
    <div class="col-xs-12 col-md-3 col-lg-2">
      <div class="media">
        <div class="media-left media-middle">
            <i class="ion-trophy"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'Формат'|trans }}</h4>
          <span class="media-content pointer" ng-click="tournament.showRegulationsModal({{ tournament.getTournament().getId() }})">
            {{ tournament.getTournament().getFormat().getTitle()|trans }}
            <i class="glyphicon glyphicon-question-sign"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-2">
      <div class="media">
        <div class="media-left media-middle">
            <i class="ion-cash"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'Взнос'|trans }}</h4>
          <span class="media-content">
            {{ include('AppBundle:common:money.html.twig', { money: tournament.getTournament().getFee(), zeroText: 'Бесплатно'|trans }) }}
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-2">
      <div class="media">
        <div class="media-left media-middle">
            <i class="ion-ribbon-b"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'Призовой фонд'|trans }}</h4>
          {% set prizePool = tournaments_helper.getTournamentPrizePool(tournament.getTournament()) %}
          <span class="media-content{% if prizePool > 0 %} pointer{% endif %}"{% if prizePool > 0 %} ng-click="tournament.showWinDistributionModal({{ tournament.getTournament().getId() }})"{% endif %}>
            {{ include('AppBundle:common:money.html.twig', { money: tournaments_helper.getTournamentPrizePool(tournament.getTournament()), zeroText: 'Отсутствует'|trans }) }}
            {% if prizePool > 0 %}
            <i class="glyphicon glyphicon-question-sign"></i>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    {% if(tournament.getTournament().getIsStarted() == false) %}
    <div class="col-xs-12 col-md-3 col-lg-6 tournament-datetime">
      <div class="media">
        <div class="media-left media-middle hidden-md hidden-lg">
            <i class="ion-android-calendar"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'Начало'|trans }}</h4>
          <span class="media-content">{{ include('AppBundle:common/tournament:datetime.html.twig', { tournament: tournament.getTournament() }) }}</span>
        </div>
        <div class="media-right hidden-xs hidde-sm">
            <i class="ion-android-calendar"></i>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-xs-12 col-md-3 col-lg-6 tournament-datetime">
      <div class="media">
        <div class="media-left media-middle hidden-md hidden-lg">
            <i class="ion-information-circled"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ 'Статус'|trans }}</h4>
          <span class="media-content">{{ include('AppBundle:common/tournament:status.html.twig', { tournament: tournament.getTournament() }) }}</span>
        </div>
        <div class="media-right hidden-xs hidde-sm">
            <i class="ion-information-circled"></i>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>