<script type="text/ng-template" id="tournamentMatchesAccordionGroupTmpl.html">
  <div class="panel {{"{{panelClass || 'panel-default'}}"}}">
    <div class="panel-heading" ng-click="toggleOpen()">
      <h4 class="panel-title">
        <div class="accordion-toggle" uib-accordion-transclude="heading">
          <span uib-accordion-header>
            {{'{{heading}}'}}
          </span>
        </div>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="tournamentMatchesAccordionTmpl.html">

<uib-accordion class="tournament-matches">

  <uib-accordion-group template-url="tournamentMatchesAccordionGroupTmpl.html" heading="{{ '{{roundMatches.roundTitle}}' }}" ng-repeat="(roundNum, roundMatches) in matchesByRounds" is-open="matchesAccordionConfig.accordionGroupOpen[roundNum]">
    <div ng-repeat="match in roundMatches.matches" ng-show="match.id != undefined" class="tournament-match-wrapper">

        <div class="bet-saving-overlay" ng-class="{ 'bet-saved-success' : match.bet.savedSuccess }" ng-show="match.bet.saving"></div>

        <table class="table table-condensed tournament-match-table">
          <caption>
            <leagueicon
              title="match.league.title"
              icon="match.league.icon"
              tooltip-placement="top"
            ></leagueicon>
            <span class="text-danger" ng-show="match.isRejected">{{ 'Матч отменён'|trans }}</span>
            <span class="text-info" ng-hide="match.isRejected">
              <datetime datetime="match.startDatetime" class="startdatetime"></datetime>
            </span>
            {% if(is_granted('ROLE_USER')) %}
              <div class="pull-right">
                <a class="btn btn-xs text-info" ng-show="match.isStarted" uib-popover-template="usersBetsPopoverTmpl" popover-placement="left-top" popover-title="{{ 'Прогнозы участников'|trans }}" popover-append-to-body="true" popover-trigger="click outsideClick" popover-is-open="usersBetsPopoverIsOpen[match.id]" ng-click="showUsersBets(match.id)">
                  <i class="glyphicon glyphicon-list-alt"></i>
                </a>
              </div>
            {% endif %}
          </caption>
          <tbody>
            <tr>
              <td>{{ '{{ match.homeTeamTitle }}' }}</td>
              <td class="col-xs-1 text-primary text-right match-score">{{ '{{ match.scoreLeft }}' }}</td>
              {% if(is_granted('ROLE_USER') and userInTournament) %}
              <td class="col-xs-5 col-sm-2 col-md-3 col-lg-2" ng-show="match.options.showBetControls">
                <input
                    name="scoreLeft"
                    required="required"
                    min="0"
                    maxlength="2"
                    type="number"
                    value=""
                    class="form-control"
                    ng-disabled="match.bet.saving || match.isStarted"
                    ng-model="match.bet.scoreLeft"
                    ng-change="saveBet(match.id, match.bet)"
                />
              </td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ '{{ match.guestTeamTitle }}' }}</td>
              <td class="col-xs-1 text-primary text-right match-score">{{ '{{ match.scoreRight }}' }}</td>
              {% if(is_granted('ROLE_USER') and userInTournament) %}
              <td class="col-xs-5 col-sm-2 col-md-3 col-lg-2" ng-show="match.options.showBetControls">
                <input
                    name="scoreLeft"
                    required="required"
                    min="0"
                    maxlength="2"
                    type="number"
                    value=""
                    class="form-control"
                    ng-disabled="match.bet.saving || match.isStarted"
                    ng-model="match.bet.scoreRight"
                    ng-change="saveBet(match.id, match.bet)"
                />
              </td>
              {% endif %}
            </tr>
          </tbody>
          {% if(is_granted('ROLE_USER') and userInTournament) %}
          <tfoot ng-show="match.options.showBetControls">
            <tr>
              <td colspan="3" class="text-right">
                <span class="text-success points" ng-show="match.bet.points != null">{{ 'Очков'|trans }}: {{ '{{match.bet.points}}' }}</span>
                <span class="text-danger no-bet" ng-show="match.isStarted && match.bet === false">{{ 'Прогноз на матч не сделан.'|trans }} {{ 'Очков'|trans }}: 0</span>
              </td>
            </tr>
          </tfoot>
          {% endif %}
        </table>
    </div>
    <table class="table table-condensed tournament-match-table" ng-repeat="(matchNum, match) in roundMatches.matches" ng-hide="match.id != undefined">
      <tbody>
        <tr>
          <td class="text-muted">{{ 'Матч №%num% пока не определён'|trans({ '%num%': '{{matchNum}}' }) }}</td>
        </tr>
      </tbody>
    </table>
  </uib-accordion-group>

</uib-accordion>

</script>