{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% set activeMainNav = 'tournaments/search' %}

{% block body %}
<h2 class="page-header">{{ 'Поиск турниров'|trans }}</h2>
<div class="tournaments-search" ng-controller="SearchTournamentsCtrl" ng-cloak>
    <div class="tournaments-search-filter">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="id">{{ 'ID'|trans }}</label>
                    <input type="number" class="form-control" id="id" placeholder="{{ '#'|trans }}" ng-model="searchTournaments.filter.id" ng-change="searchTournaments.applyFilter()">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="tournament_format">{{ 'Формат'|trans }}</label>
                    <select name="format" id="tournament_format" class="form-control" ng-model="searchTournaments.filter.format" ng-change="searchTournaments.applyFilter()">
                        <option value="">{{ 'Все'|trans }}</option>
                        <option value="championship">{{ 'Чемпионат'|trans }}</option>
                        <option value="round">{{ 'Круговой'|trans }}</option>
                        <option value="playoff">{{ 'Плей-офф'|trans }}</option>
                        <option value="championsleague">{{ 'Лига чемпионов'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="tournament_status">{{ 'Статус'|trans }}</label>
                    <select name="status" id="tournament_status" class="form-control" ng-model="searchTournaments.filter.status" ng-change="searchTournaments.applyFilter()">
                        <option value="">{{ 'Все'|trans }}</option>
                        <option value="STATUS_NOT_STARTED">{{ 'Идёт регистрация'|trans }}</option>
                        <option value="STATUS_GOES">{{ 'Турнир идёт'|trans }}</option>
                        <option value="STATUS_OVER">{{ 'Турнир окончен'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="price_from">{{ 'Взнос'|trans }}</label>
                    <div class="row">
                      <div class="col-xs-6">
                        <input type="number" class="form-control" id="price_from" placeholder="{{ 'от'|trans }}" ng-model="searchTournaments.filter.priceFrom" ng-change="searchTournaments.applyFilter()">
                      </div>
                      <div class="col-xs-6">
                        <input type="number" class="form-control" id="price_to" placeholder="{{ 'до'|trans }}" ng-model="searchTournaments.filter.priceTo" ng-change="searchTournaments.applyFilter()">
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input name="onlyPromo" type="checkbox" value="1" ng-model="searchTournaments.filter.onlyPromo" ng-change="searchTournaments.applyFilter()" /> {{ 'Только промо-турниры'|trans }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tournaments-search-table">
    {{ include(
        'AppBundle:frontend/tournaments:table.html.twig',
        {
            'scopeObject': 'searchTournaments'
        }
    ) }}
    </div>
</div>
{% endblock %}

{% block angularequire %}
  {{ parent() }}
  'SearchTournamentsService',
  'TournamentStatusDirective',
  'TournamentViewButtonDirective',
{% endblock %}

{% block javascripts %}
{% javascripts
  '@AppBundle/Resources/public/js/app/directives/TournamentStatusDirective.js'
  '@AppBundle/Resources/public/js/app/directives/TournamentViewButtonDirective.js'
  '@AppBundle/Resources/public/js/app/services/Search/TournamentsService.js'
  '@AppBundle/Resources/public/js/app/controllers/Search/TournamentsController.js'
  output='/js/tournaments/search.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}