<div class="alert alert-info" ng-if="{{ scopeObject }}.tournaments.length == 0">
    <p>{{ 'Турниры не найдены.'|trans }}</p>
</div>
<table class="table" ng-if="{{ scopeObject }}.tournaments.length > 0">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Турнир'|trans }}</th>
            <th class="hidden-xs">{{ 'Тип'|trans }}</th>
            <th class="hidden-xs">{{ 'Участники'|trans }}</th>
            <th class="text-right">{{ 'Взнос'|trans }}</th>
            <th class="hidden-xs text-right">{{ 'Призовой фонд'|trans }}</th>
            <th class="hidden-xs">{{ 'Статус'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-repeat="tournament in {{ scopeObject }}.tournaments"
            ng-class="{ 'bg-success': tournament.status == 'STATUS_NOT_STARTED', 'bg-warning':  tournament.status == 'STATUS_OVER' }">
            <td>{{ '{{tournament.id}}' }}</td>
            <td>
                <span class="label label-success" ng-if="tournament.isPromo">{{ 'Промо'|trans }}</span>
                {{ '{{tournament.title}}' }}
            </td>
            <td class="hidden-xs">{{ '{{tournament.format}}' }}</td>
            <td class="hidden-xs text-center">{{ '{{tournament.usersCount}}' }}</td>
            <td class="text-right"><money class="tournament-fee" qty="tournament.fee" zero-text="{{ 'Бесплатно'|trans }}"></money></td>
            <td class="hidden-xs text-right"><money class="tournament-fee" qty="tournament.prizePool" zero-text="{{ 'Отсутствует'|trans }}"></money></td>
            <td class="hidden-xs">
                <span ng-if="tournament.status == 'STATUS_NOT_STARTED'" class="text-success">
                <b>{{ 'Идёт регистрация'|trans }}<br />
                {{ 'Начало'|trans }}:
                {{ '{{tournament.startDatetime | date: "dd.MM.yy HH:mm"}}' }}</b>
                </span>
                <span ng-if="tournament.status == 'STATUS_GOES'">{{ 'Турнир идёт'|trans }}</span>
                <span ng-if="tournament.status == 'STATUS_OVER'">{{ 'Турнир окончен'|trans }}</span>
            </td>
            <td>
                <tournamentviewbutton
                    href="tournament.url"
                    code="tournament.status"
                    text-status-is-not-started="{{ 'Принять участие!'|trans }}"
                    text-status-goes="{{ 'Перейти в турнир'|trans }}"
                    text-status-over="{{ 'Результаты'|trans }}"
                ></tournamentviewbutton>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <uib-pagination
        total-items="{{ scopeObject }}.totalItems"
        ng-model="{{ scopeObject }}.currentPage"
        items-per-page="{{ scopeObject }}.pageSize"
        direction-links="false"
        num-pages="{{ scopeObject }}.totalPages"
        ng-show="{{ scopeObject }}.totalPages > 1"
        ng-init="{{ scopeObject }}.loadPage({{ scopeObject }}.currentPage, {{ scopeObject }}.pageSize, {{ scopeObject }}.filter)"
        ng-change="{{ scopeObject }}.loadPage({{ scopeObject }}.currentPage, {{ scopeObject }}.pageSize, {{ scopeObject }}.filter)">
    </uib-pagination>
</div>