{% extends 'AppBundle:common/layouts:popover.html.twig' %}

{% block templateName %}usersBetsPopoverTmpl.html{% endblock %}

{% block popoverBody %}
<table class="table table-condensed user-bets-list">
  <thead>
      <tr class="bg-info">
          <th class="text-center" colspan="3">
            <span class="text-ellipsis user-bets-list-match-team">{{ '{{match.homeTeamTitle}}' }}</span> &mdash; <span class="text-ellipsis user-bets-list-match-team">{{ '{{match.guestTeamTitle}}' }}</span>
          </th>
          <tr>
            <th>{{ 'Участник'|trans }}</th>
            <th class="text-center">
                <div class="text-success">
                {{ '{{match.scoreLeft}}' }}
                &mdash;
                {{ '{{match.scoreRight}}' }}
                </div>
            </th>
            <th class="text-center">{{ 'Очки'|trans }}</th>
        </tr>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="userBet in usersBets[match.id]">
      <td><div class="text-ellipsis user-bets-list-username">{{ '{{userBet.user.nick}}' }}</div></td>
      <td>{{ '{{userBet.score}}' }}</td>
      <td class="text-center">
        <span ng-show="userBet.points != null">{{ '{{userBet.points}}' }}</span>
        <span ng-show="userBet.points == null"><i class="glyphicon glyphicon-time"></i></span>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block closeNgClick %}
    usersBetsPopoverIsOpen[match.id] = !usersBetsPopoverIsOpen[match.id]
{% endblock %}