<div class="table-responsive" ng-cloak>
  <table class="table table-hover">        
      <thead>
          <tr>
              <th class="col-xs-1 text-center">{{ 'Место'|trans }}</th>
              <th>{{ 'Участник'|trans }}</th>
              <th class="text-center">{{ 'Процент'|trans }}</th>
              <th class="text-right">{{ 'Приз'|trans }}</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="winner in winners">
            <td class="text-center">{{ '{{winner.place}}' }}</td>
            <td><userlink user-id="winner.user.id" user-nick="winner.user.nick" user-avatar="winner.user.avatar"></userlink></td>
            <td class="text-center">{{ '{{winner.percent}}%' }}</td>
            <td class="sm-col text-right">
              <money qty="winner.sum"></money>
            </td>
          </tr>                                            
      </tbody>
  </table>
</div>