@media (min-width:768px) {
    .table-championship-results .user_link .user_image_wrap{
        display:block;
        float:left;
        margin-right:10px;
        margin-bottom:0;
    }

    .table-championship-results .user_link .user_nick_wrap{
        display:block;
        float:left;
        margin-top:9px;
    }
}