<ol>
    <li>            
        <h4><a name="championship_description"></a>Описание турнира</h4>
        <p><b>Формат турнира:</b> Чемпионат состоит из N-туров, в каждом туре N-футбольных матчей (количество туров и матчей указано в карточке турнира).</p>
        <p><b>Цель команды:</b> набрать наибольшее количество очков в Чемпионате. 
        За прогнозы команд начисляются очки в соответствии с <a href="#championship_points_rules">Системой начисления очков</a> за угаданные результаты, 
        указанной в <a href="#championship_points_rules">п.3</a> настоящего Регламента. 
        Победитель определяется по количеству набранных очков (от большего к меньшему). 
        При равенстве вступают в силу дополнительные показатели, указанные в <a href="#championship_points_rules">п.3</a> Регламента. 
        Аналогичным образом в зависимости от набранных очков определяются команды занявшие 2, 3 и прочие места.</p>
    </li>
    <li>            
        <h4><a name="championship_rules"></a>Правила приема и просмотра прогнозов команд</h4>
        <p>Свои прогнозы команды  турнира делают непосредственно осуществляют в карточке турнира в области списка футбольных матчей в формате: Футбольный клуб А <b>N(голов)</b> – <b>N (голов)</b> Футбольный клуб Б, где рядом с названием футбольного клуба проставляется прогноз забитых мячей в футбольном матче.
        Все прогнозы команд даются только на основное время матча (дополнительное время и серия пенальти не учитываются).</p>
        <p>Прогнозы команд могут быть сделаны не позднее, чем за 10 минут до начала любого футбольного матча. 
        Время начала футбольного матча указано рядом с каждым матчем представленным для прогноза. Указанное время является серверным и может не совпадать с реальным временем начала футбольного матча, поэтому рекомендуется делать прогнозы команд заранее. 
        В случае прогноз, если прогноз команды не сделан до закрытия приема, то команде начисляется 0 очков.</p>
        <p>Уже сделанный прогноз команды возможно исправлять до срока окончания приема.</p>
        <p>Просмотреть прогнозы других команд возможно после окончания приема прогнозов.</p>            
    </li>
    <li>            
        <h4><a name="championship_points_rules"></a>Система начисления очков</h4>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ include('AppBundle:frontend/policies/ru:points_scheme.html.twig') }}
            </div>
        </div>
        <p><i>При равенстве очков, команда победитель выявляется по следующим условиям:</i></p>
        <ol>
            <li>Наибольшее количество угаданных счетов</li>
            <li>Наибольшее количество угаданных разниц</li>
            <li>Наибольшее количество угаданных исходов</li>
            <li>Рейтинг Пользователя на портале</li>
            <li>Жеребьевка системы</li>
        </ol>
    </li>
    <li>            
        <h4><a name="championship_fee"></a>Оплата за участие команды в турнире, призовой фонд и перевод золотых монет</h4>
        <p>Оплата за участие команды определяется при создании команды в турнире и отображается в карточке турнира. 
        При согласии принять участие в турнире со счета Пользователя будет осуществлен перевод золотых монет в размере оплаты за создание команды в турнире.</p>        
        <p>За Услугу по созданию команды в турнире, управлению командами со счета Пользователя удерживается комиссия в размере 10% от суммы оплаты за создание команды.</p>
        <p>Распределение призового фонда отображено в карточке турнира, раздел "Призовой фонд".</p>
        <p>Призовые зачисляются на счет Пользователя, команда которого заняла призовые места в турнире.</p>
    </li>
    <li>            
        <h4><a name="championship_calendar"></a>Расписание туров и прогнозов команд</h4>
        <p>Расписание туров (футбольные матчи на которые командам необходимо сделать прогнозы) выкладывается Администрацией и отображается на главной странице турнира.
        Для долгосрочных турниров Администрация выкладывает матчи на ближайшие туры не позднее, чем за сутки (24 часа) до начала первого футбольного матча в туре.</p>
    </li>
    <li>            
        <h4>Спорные моменты</h4>
        <p>Любые спорные моменты решаются путем обращения на e-mail Администрации, контакты указаны в разделе Контактная информация.</p>
    </li>
    <li>            
        <h4><a name="championship_controversies"></a>Отмененные, перенесенные, несостоявшиеся матчи</h4>
        <p>В случае, если футбольный матч не начался в течении 3-х часов от заявленного времени, он считается отмененным. За отмененный матч командам  очков не начисляется.</p>
    </li>
</ol>