<table class="table table-hover table-tournament-results">
    <thead>
        <tr>
            <th class="col-xs-1 text-center">{{ 'Место'|trans }}</th>
            <th>{{ 'Участник'|trans }}</th> 
            <th class="text-center">
                <abbr class="initialism" title="{{ 'Угаданных счетов'|trans }}">{{ 'УС'|trans }}</abbr>
            </th>
            <th class="text-center">
                <abbr class="initialism" title="{{ 'Угаданных разниц'|trans }}">{{ 'УР'|trans }}</abbr>
            </th>                                
            <th class="text-center">
                <abbr class="initialism" title="{{ 'Угаданных исходов'|trans }}">{{ 'УИ'|trans }}</abbr>                                    
            </th>                                                    
            <th class="text-center">
                <abbr class="initialism" title="{{ 'Рейтинг пользователя на момент подсчёта очков'|trans }}">{{ 'Р'|trans }}</abbr>
            </th>
            <th class="sm-col text-center">
                <abbr class="initialism" title="{{ 'Очков всего'|trans }}">{{ 'О'|trans }}</abbr>
            </th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in {{ resultsVar }}" ng-class="{ 'bg-info' : currentUserId == result.user.id }">
          <td class="text-center">{{ '{{result.place}}' }}</td>
          <td><userlink user-id="result.user.id" user-nick="result.user.nick" user-avatar="result.user.avatar"></userlink></td>
          <td class="text-center">{{ '{{result.totalGuessedResults}}' }}</td>
          <td class="text-center">{{ '{{result.totalGuessedDifferences}}' }}</td>
          <td class="text-center">{{ '{{result.totalGuessedOutcomes}}' }}</td>
          <td class="text-center"><userrating val="result.userRating"></userrating></td>
          <td class="text-center">{{ '{{result.points}}' }}</td>
        </tr>
    </tbody>
</table>