{% extends 'AppBundle:frontend/layouts:tournament.html.twig' %}

{% block content %}
<div ng-controller="TournamentChampionshipCtrl" ng-cloak>
  <uib-tabset active="activePill" type="pills" class="tournament-tabs">
    <uib-tab index="0" heading="{{ 'Турнир'|trans }}" select="loadTournament({{ tournament.getCurrentRound() }})">
      
      <div class="row">
        <div class="col-md-7">
          
          <div class="alert alert-info" role="alert" ng-show="!results.length">
            <i class="glyphicon glyphicon-info-sign"></i> {{ 'Пока что в турнире нет участников.' }}
          </div>
          
          <div class="table-responsive" ng-show="results.length">
            {{ include('AppBundle:frontend/tournaments/championship:results.html.twig', { 'resultsVar' : 'results' }) }}
          </div>        
        
        </div>
        <div class="col-md-5">
            <tournamentmatches
                tournament-id="tournament.id"                
                matches-by-rounds="tournament.matchesByRounds"
                current-round="tournament.currentRound"
            ></tournamentmatches>
        </div>
      </div>
    </uib-tab>
    {% if tournamentStatus == 'STATUS_OVER' %}
    <uib-tab index="1" heading="{{ 'Результаты'|trans }}" select="loadWinners()">
      
      <div class="row">
        <div class="col-xs-12">
                    
          {{ include('AppBundle:frontend/tournaments:winners.html.twig') }}
          
        </div>
      </div>
      
    </uib-tab>
    {% endif %}
  </uib-tabset>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets        
    '@AppBundle/Resources/public/css/tournament/championship/view.css'
    output='/css/tournament/championship/view.css'
%}
<link href="{{ asset_url }}?v={{ version }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts  
  '@AppBundle/Resources/public/js/app/controllers/Tournament/ChampionshipController.js'   
  output='/js/tournaments/championship/view.js'
%}
<script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
{% endjavascripts %}
{% endblock %}