<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}FootBattle{% endblock %}</title>
</head>

<body>
    <h3 style="font-size: 1.7em; line-height: 1.2em; color: #47711D; border-bottom: 2px solid #9BD252; padding-bottom: 2px; margin-bottom: 26px;">
        FootBattle
    </h3>
    {% block body %}{% endblock %}
    <hr />
    <p>
        <small>
            {{ 'С уважением, Администрация.'|trans }}
            <br />
            <a target="_blank" href="http://www.foot-battle.com">http://www.foot-battle.com</a>
        </small>
    </p>
</body>

</html>