{% extends 'AppBundle:admin/news:index.html.twig' %}

{% block title %}Добавление новости{% endblock %}

{% block pagesubheader %}Добавление новости{% endblock %}

{% block body %}

<div class="box">
    <div class="box-body">
        {{ form_start(form) }}

        {{ form_row(form.is_active, {label: 'Активна'})}}
        {{ form_row(form.title, {label : 'Название'}) }}
        {{ form_row(form.summary, {label : 'Краткое содержание'}) }}
        {{ form_row(form.text, {attr: { class: 'textarea', style: 'height:200px;'}, label : 'Полное содержание'}) }}
        {{ form_row(form.save, {'label': 'Сохранить' }) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/admin/js/news/add_edit.js"></script>
{% endblock %}