{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/news/index' %}

{% block title %}Новости{% endblock %}

{% block pageheader %}<i class="fa fa-flag"></i> Новости{% endblock %}
{% block pagesubheader %}Список новостей{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Новости</li>
</ol>
{% endblock %}

{% block body %}
<div class="box">    
    <div class="box-body">        
        <a href="{{ path('admin/news/add') }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i> Добавить 
        </a>        
    </div>
    {% if newsList|length > 0 %}
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                  
                  <th></th>      
                  <th class="col-md-2">Дата/Время создания</th>
                  <th class="col-md-3">Заголовок</th>
                  <th>Краткое содержание</th>                  
                  <th class="text-center">Активность</th>          
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for news in newsList %}
                <tr>                  
                  <td class="text-center">
                      <a class="text-default" href="{{ path('admin/news/edit', { 'news_id': news.getId() }) }}" title="Редактировать"><span class="fa fa-edit"></span></a>
                  </td>
                  <td>{{ news.getCreateDatetime().format('d.m.Y H:i:s') }}</td>
                  <td>{{ news.getTitle() }}</td>
                  <td>{{ news.getSummary() }}</td>                  
                  <td class="text-center">
                    {% if news.getIsActive() %}
                        <span class="fa fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-ban text-danger"></span>    
                    {% endif %}
                  </td>      
                  <td>
                      <a class="text-danger" href="{{ path('admin/news/delete', { 'news_id': news.getId() }) }}" title="Удалить" onclick="return confirm('Вы уверены, что хотите удалить данную новость?');"><span class="fa fa-trash-o"></span></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="box-body">
      <p>Новостей не найдено</p>    
    </div>
    {% endif %}
</div>
{% endblock %}