{% extends 'AppBundle:admin/win_distribution:index.html.twig' %}

{% block body %}

    {{ form_start(
        form, {
            attr: {
            'ng-controller': 'AdminWinDistributionEditGroupCtrl'
            }
        })
    }}

    {{ form_row
        (form.format,
        {
            label: 'Формат'
        })
    }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(
                form.min_users,
                {
                    label: 'Минимальное количество участников'
                })
            }}
        </div>
        <div class="col-sm-6">
            {{ form_row(
                form.max_users,
                {
                    label: 'Максимальное количество участников'
                })
            }}
        </div>
    </div>

    {{ form_row(
        form.rules,
        {
            label: 'Распределение призовых по местам',
            ng_compound: {
                items: 'group.rules',
                addCollection: 'group.addRule',
                removeCollection: 'group.removeRule'
            }
        })
    }}

    {{ form_row(form.save, {label: 'Сохранить', attr: { class: 'btn-primary' }}) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/adminapp/controllers/WinDistribution/EditGroupController.js'
        output='js/admin/win_distribution/edit_group.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}?v={{ version }}"></script>
    {% endjavascripts %}

{% endblock %}