{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/win_distribution/index' %}

{% block title %}Распределение призовых{% endblock %}

{% block pageheader %}<i class="fa fa-flag"></i> Распределение призовых{% endblock %}
{% block pagesubheader %}Правила{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Распределение призовых</li>
</ol>
{% endblock %}

{% block body %}

<div class="box box-solid">
    <div class="box-body">        
        <a href="{{ path('admin/win_distribution/groups/add') }}" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i> Добавить 
        </a>        
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            {% for format in formatList %}
            <div class="panel box box-primary">
                <div class="box-header with-border">        
                    <h4 class="box-title">
                        <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ format.getInternalName() }}">{{ format.getTitle() }}</a>
                    </h4>
                </div>        
                <div aria-expanded="true" id="collapse{{ format.getInternalName() }}" class="panel-collapse collapse">
                    <div class="box-body">            
                    {{ render(controller(
                        'AppBundle:Admin/WinDistribution:rules',
                        { 'format_id': format.getId() }
                    )) }}
                    </div>
                </div>        
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}