<ul class="list-group">
    {% for group in rulesGroupsList %}
    <li class="list-group-item">
        От <b>{{ group.getMinUsers() }}</b> до <b>{{ group.getMaxUsers() }}</b> участников
        <span class="pull-right">
            <a href="{{ path('admin/win_distribution/groups/edit', { group_id: group.getId() }) }}"><i class="fa fa-edit"></i></a>
        </span>
    </li>
    {% endfor %}
</ul>