{% extends 'AppBundle:frontend/layouts:base.html.twig' %}

{% block title %}
{{ 'Контакты'|trans }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h3>{{ 'Контакты'|trans }}</h3>
        <p>{{ 'По любым вопросам Вы можете обращаться на нашу электронную почту'|trans }}: <a href="mailto:mail@foot-battle.com">mail@foot-battle.com</a></p>
        <p>{{ 'Или заполнить форму ниже:'|trans }}</p>
        {{ render( controller('AppBundle:Feedback:index', { request: app.request }) ) }}
    </div>
    <div class="col-md-6">
        <h3>{{ 'Официальная информация'|trans }}</h3>
        <p><b>Название:</b> Magpit Ltd</p>
        <p><b>Юридический адрес:</b> Tennacy 10, Marina House, Eden Island, Mahe, Seychelles</p>
    </div>
</div>
{% endblock %}