{% extends 'AppBundle:admin/layouts:base.html.twig' %}

{% set activePage = 'admin/tournaments/index' %}
{% if tournament.getTournament().getIsReady() %}
  {% set activeSubpage = 'admin/tournaments/published' %}
{% else %}
  {% set activeSubpage = 'admin/tournaments/draft' %}
{% endif %}

{% block title %}Редактирование турнира{% endblock %}

{% block pageheader %}<i class="fa fa-flag-checkered"></i> Турниры{% endblock %}
{% block pagesubheader %}Заполнение матчей{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin/index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active">Турниры</li>
</ol>
{% endblock %}

{% block body %}
  
  {% for flashMessage in app.session.flashbag.get('validation_error') %}
  <div class="callout callout-danger">{{ flashMessage }}</div>                    
  {% endfor %}
  
  <div id="matchesContainer" 
    data-matchesurl="{{ path('admin/matches/search') }}" 
    data-addmatchurl="{{ path('admin/tournament/matches/add') }}"
    data-deletematchurl="{{ path('admin/tournament/matches/delete') }}"
  >
  
  {% if tournament.getTournament().getIsStarted() == false %}
  <div class="callout callout-info">
  Отображается <b>максимальное</b> количество туров исходя из максимально возможного количества участников в турнире.
  <br/>
  После старта турнира количество туров будет персчитано по реальному количеству участников турнира.
  <br />
  Ненужные туры будут удалены начиная с последнего.
  </div>
  {% endif %}
  
  {% for roundNum, roundMatches in matchesByRounds %}  
  <div class="box box-primary{% if(tournament.getCurrentRound() != roundNum) %} collapsed-box{% endif %}">
    <div class="box-header with-border">
      <h3 class="box-title">Тур {{ roundNum }}</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa {% if(tournament.getCurrentRound() == roundNum) %}fa-minus{% else %}fa-plus{% endif %}"></i></button>
      </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <table class="table table-hover table-striped">        
          <tbody>
              {% for matchNum, tournamentMatch in roundMatches %}              
                {{ include('AppBundle:admin/widgets/tournaments:editMatchRow.html.twig', { tournament: tournament, tournamentMatch: tournamentMatch, matchNum: matchNum }) }}
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
  </div>
  
  <form action="" method="POST">
  {% if tournament.getTournament().getIsReady() %}
    <a href="{{ path('admin/tournaments/published') }}" class="btn btn-default">&laquo; Вернуться к опубликованным турнирам</a>  
  {% else %}
    <a href="{{ path('admin/tournaments/draft') }}" class="btn btn-default">Продолжить заполнение позже</a>
    <button type="submit" class="btn btn-primary" name="publish" value="publish">Опубликовать</button>
  {% endif %}
  </form>
  
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/admin/js/models/match/modal.js"></script>
<script type="text/javascript" src="/admin/js/models/tournaments/matches.js"></script>
<script type="text/javascript" src="/admin/js/controllers/tournaments/matches.js"></script>
{% endblock %}